#header nav{
	background: #EAE6ED;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	text-align: center;
	box-shadow: 0px 2px 2px rgba(0,0,0,0,2);
}
/*.navbar {
	border-bottom: #008ed6 3px solid;
	opacity: 0.8;
}
/*Calltoaction*/

#calltoaction .jumbotron{
	padding: 150px 0;
	text-align: center;
	background: #63AFC7 url('../images/bann.jpg') center no-repeat;
	background-size: cover; /*hình toàn màn hình*/
	margin-bottom: 0; /*cho sát lại*/
}
#calltoaction .jumbotron h1,
#calltoaction .jumbotron p {
	color: #FFFFFF;
	text-shadow: 0px 2px 2px rgba(0,0,0,0,2); /*định dạng phần chữ*/
}
#calltoaction .jumbotron .btn-feature{
	color: #FFFFFF;
	border: 1px solid #;
}
#calltoaction .jumbotron .btn-feature:hover{
	color: #6a5acd;
} /*định dạng phần nút giới thiệu*/
/*feature1*/
	
#feature1{
	background: #ECF0F1;
	color: #2C3E50;
	text-align: center;
	

}
#feature1 .glyphicon{
	font-size: 50px;
}
#feature1,
#feature2
#feature3,
#feature4
#footer{
	padding: 30px 0;
}
#feature2 .nav .btn {
  width: 120px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#feature2 .glyphicon{
	font-size: 20px;
}