﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title></title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../EasyUI/easyui.css" rel="stylesheet" type="text/css" />
    <link href="../EasyUI/icon.css" rel="stylesheet" type="text/css" />
    <script src="../EasyUI/jquery-1.11.3.js" type="text/javascript"></script>
    <script src="../EasyUI/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../EasyUI/datagrid-cellediting.js" type="text/javascript"></script>

    <style type="text/css">
        .easyui-layout {top: 0;left: 0;bottom: 0;right: 0;overflow: hidden;color: White;min-height: 100%;position: relative;}
        .item {text-align: center;
            border: 1px solid #95B8E7; /** 499B33***/
            background: #fafafa;color: #444;width: 150px;z-index: -2;}
        div.group-box {height: 100%;width: 100%;border: 1px solid #95B8E7;position: relative;}

        div.group-box .label { position: relative;top: -8px;left: 10px;height: 20px;width: 100px;background-color: #fff;color: #0E67BC;text-align: center;z-index: 999;}
        .menu-ied {background: #00B1FF;}
        .menu-ied a {color: #fff;}
        .menu-ied a:hover {color: black;}
        .format-text {color: #0E2D5F;}
        .tree-icon {display: none;}
    </style>
    <script type="text/javascript">
        var isEdit = false, MaSoBeforeEdit = "";
        var pageX = 0, pageY = 0;
        $(document).ready(function () {
            iniComBoBoxLucTacDung();
            /*** Cài đặt sự kiện keydown cho datagrid ***/
            $('#dg-sys-analyst').datagrid({
                onClickRow:function(ndex,field,value,e){

                },
                onBeforeEdit:function(index,row){
                    MaSoBeforeEdit = row.MaSo;
                },
               onAfterEdit: function (index, row, changes) {
                   row.MaSo = row.MaSo.toUpperCase();
                   
                   if (MaSoBeforeEdit != row.MaSo)
                       getPhanTichCongDoan(row.MaSo, index);
                   if (changes.SoLanXuatHien != null) {
                       //row.TMUThaoTacTemp = 10;
                       $('#dg-sys-analyst').datagrid('updateRow', {
                           index: index, row: {
                               TMUThaoTacTemp: row.TMUThaoTac * changes.SoLanXuatHien,
                               TMUThietBiTemp: row.TMUThietBi * changes.SoLanXuatHien
                           }
                       });
                   }
                   
                   appenNewRow();
                },
                onCellEdit: function (index, field) {
                    var input = $('#dg-sys-analyst').datagrid('input', { index: index, field: field });
                    //mousedown, click, keydown, mousemove
                    input.bind('mousemove', function (e) {
                        e.preventDefault();
                        pageX = e.pageX; pageY = e.pageY;
                        //alert(pageY);
                        //var a = $this.data('mousepos').x;
                        //if (e.keyCode == 13 && index >= 0) {
                        //     //appenNewRow();

                        //}
                    });
                }
            });

            getBoPhan();
            getBacTho();

            loadData();
            enableControl(true);
        });

        function iniComBoBoxLucTacDung() {
            $('#cb-mabophan').combotree({
                onChange: function (newValue, oldValue) {
                },
                onSelect: function (row) {
                    //Nếu bộ phận đó là cắt thì cho hiện chọn lực tác dụng
                    enableLuc(row.IsChainCut);
                    
                }
            });
        }
        function appenNewRow() {
           // $("#dg-sys-analyst").datagrid("acceptChanges");
            var rows = $("#dg-sys-analyst").datagrid("getRows");
            if (rows != null && rows.length > 0) {
                /*** Kiểm tra dòng cuối cùng nếu khác null thì add thêm 1 dòng mới vào cuối ***/
                if (!isEmpty(rows[rows.length - 1].MaSo)) {
                    $('#dg-sys-analyst').datagrid('appendRow', { MaSo: '', MoTa: '', TMUThietBiTemp: 0, TMUThaoTacTemp: 0 });
                }
            }
        }

        function isEmpty(value) {
            return typeof value == 'string' && !value.trim() || typeof value == 'undefined' || value === null;
        }

        function loadData() {
            var node = parent.getSelected();
            if (node == null) return;

            $.ajax({
                url: '/IED/CongDoanGetBy?MenuId=' + node.id,
                type: "GET",
                // async: false, //Chờ khi request này thực hiện thành công thì mới làm request khác
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#txt-id").textbox("setValue", node.text);
                    if (data == null) return;

                    $("#txt-id-dm").textbox("setValue", data.Id_Dm);
                    $("#txt-tencongdoan").textbox("setValue", data.TenCongDoan);
                    $("#txt-mota").textbox("setValue", data.MoTa);
                    $("#txt-tmu").textbox("setValue", data.TMU);
                    $("#txt-ghichu").textbox("setValue", data.GhiChu)
                    $('#total-thoigian-tmu').numberbox('setValue', data.TONG_THOI_GIAN_TMU);
                    $('#txt-nguoicapnhat').textbox('setValue', data.StrLastUpdate);

                    $('#TONG_THOI_GIAN_PHUT').numberbox('setValue', data.TongThoiGianGiay + data.ThoiGianChuanBi);
                    $("#TONG_CHIEU_DAI_DUONG_MAY").numberbox("setValue", data.Tinh_TONG_CHIEU_DAI_DUONG_MAY);
                    $('#SanLuongMoiGio').numberbox('setValue', data.SanLuongMoiGio);

                    $('#cb-mabophan').combotree('setValue', data.MaBoPhan);
                    $('#cb-mabophan').combotree('disable');
                    
                   

                   // alert(data.Tinh_TONG_CHIEU_DAI_DUONG_MAY);
                    /*** Binding Bậc thợ ***/
                    $('#cb-bactho').combogrid("setValue", data.MaBacTho);
                    var grid = $('#cb-bactho').combogrid("grid");
                    var rows = grid.datagrid('getRows');
                    if(rows!=null)
                        for (var i = 0; i < rows.length; i++) {
                            if (rows[i].MaBacTho == data.MaBacTho) {
                                $('#text-heso').textbox("setValue", rows[i].HeSo);

                                break;
                            }
                        }
                    /*** Binding Thời gian chuẩn hị ***/
                    bindingThoiGianChuanBi(data.MaThaoTacSp);
                    /*** Binding Thông tin thiêt bị ***/
                    bindingThongTinThietBi(data.MaThietBi);
                    /*** Binding Phân tích công đoạn ***/
                    if (data.ThaoTacCongDoan != null && data.ThaoTacCongDoan.length > 0) {
                        $('#dg-sys-analyst').datagrid({ data: data.ThaoTacCongDoan });
                    }
                    enableControl(true);
                },
                error: function (response) {
                    //alert(response.statusText);
                }
            });
        } //end function loadData()=====================================================================================================================

        function getPhanTichCongDoan(MaSo, index) {
            
            if (isEmpty(MaSo)) return;

            var pMaThietBi = $('#tb-maso').textbox('getValue'),
                pMaBoPhan = '';
            var t = $('#cb-mabophan').combotree("tree");
            var tNode = t.tree('getSelected');
            var lucN = 0;
            if (tNode != null) {
                pMaBoPhan = tNode.id;
                if (tNode.IsChainCut) {
                    //Kiem tra chon luc
                    lucN = $('#cb-luctacdung').combobox('getValue');
                    if (lucN == 0) {
                        parent.showAlert('Thông báo', 'Chưa chọn lực tác dụng', 'warning');
                        return;
                    }
                }
                
            }
           
            //alert(tNode.IsChainCut);
            //return;
            $.ajax({
                url: '/IED/CongDoanLayPhanTich?MaSo=' + MaSo + '&pMaThietBi=' + pMaThietBi + '&pMaBoPhan=' + pMaBoPhan + '&pLucN='+lucN,
                type: "GET",
                dataType: "json",
                async: false, //Chờ khi request này thực hiện thành công thì mới làm request khác
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (isEmpty(data.MaSo)) {
                        data.MaSo = ""; data.MoTa = ''; data.TMUThietBiTemp = 0; data.TMUThaoTacTemp = 0;
                        $.messager.show({
                            icon: 'icon-warning',
                            title: 'Thông báo',
                            msg: 'Mã số không tồn tại. Vui lòng nhập mã khác!',
                            showType: 'show',
                            timeout: 3000,
                            width: '25%',
                            modal:true,
                            style: { left: pageX, top: pageY - 100, bottom: '' }
                        });
                    }

                    $('#dg-sys-analyst').datagrid('updateRow', {
                        index: index, validateRow: true,
                        row: data
                        //row: { MaSo: data.MaThuVien, MoTa: data.MoTa, TMUThietBi: data.TMUThietBi, TMUThaoTac: data.TMUThaoTac }
                    });
                },
                error: function (response) {
                    //alert(response.d);
                }
            });
        }

        $.extend($.fn.validatebox.defaults.rules, {
            equals: {
                validator: function (value, param) {
                    return value != null || value != '';
                },
                message: 'Mã không tồn tại!'
            }
        });
        //$.extend($.fn.validatebox.defaults.rules, {
        //    minLength: {
        //        validator: function (value, param) {
        //            return value.length >= param[0];
        //        },
        //        message: 'Please enter at least {0} characters.'
        //    }
        //});

        function enableControl(enable) {
            isEdit = enable;
            $('.cls-txt').textbox('readonly', enable);
            $('#tt-maso').textbox('readonly', enable);
            $('#tb-maso').textbox('readonly', enable);

            var t = $('#cb-mabophan').combotree("tree");
            var tNode = t.tree('getSelected');
            if (tNode != null && tNode.IsChainCut && !enable) 
                enableLuc(true);
            else
                enableLuc(false);
            /*** Bo phan ***/
            if (!enable) $('#cb-mabophan').combotree('enable');
            else $('#cb-mabophan').combotree('disable');
            /*** Bac tho ***/
            if (!enable) $('#cb-bactho').combotree('enable');
            else $('#cb-bactho').combotree('disable');

            if (!enable)
                $("#cmd-save").menubutton("enable");
            else
                $("#cmd-save").menubutton("disable");
            if (!enable) {
                /*** Khi nhấn nút sửa thì cho phép chỉnh sửa mã số, đồng thời thêm 1 dòng mới vào cuối danh sách ***/
                $("#dg-sys-analyst").datagrid('enableCellEditing').datagrid('gotoCell', { index: 0, field: 'MaSo' });
                appenNewRow();
            } else
                $("#dg-sys-analyst").datagrid('disableCellEditing').datagrid('gotoCell', { index: 0, field: 'MaSo' }); //Khóa không cho chỉnh sửa
        }

        function bindingThoiGianChuanBi(MaThaoTacSp) {
            $.ajax({
                url: '/Setting/ThaoTacSpGetThaoTac?id=' + MaThaoTacSp,
                type: "GET",
                dataType: "json",
                async: false, //Chờ khi request này thực hiện thành công thì mới làm request khác
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == null) return;

                    $('#tt-maso').textbox('setValue', data.MaThaoTacSP);
                    $('#tt-mota').textbox('setValue', data.MoTa);
                    $('#tt-tgian').numberbox('setValue', data.ThoiGianThaoTac);
                    $('#tt-soluong').numberbox('setValue', data.SoLuong);

                    $('#tt-tgian-thaotac').numberbox('setValue', data.THOI_GIAN_THAO_COT_BO_HANG);
                },
                error: function (response) {
                    //alert(response.d);
                }
            });
        }

        function bindingThongTinThietBi(MaThietBi) {
            $.ajax({
                url: '/Setting/ThaoTacSpGetThietBi?id=' + MaThietBi,
                type: "GET",
                dataType: "json",
                async: false, //Chờ khi request này thực hiện thành công thì mới làm request khác
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == null) return;

                    $('#tb-maso').textbox('setValue', data.MaThietBi);
                    $('#tb-mota').textbox('setValue', data.MoTa);
                    $('#tb-tocdo').numberbox('setValue', data.TocDo);
                    $('#tb-somui').numberbox('setValue', data.SoMuiCM);
                },
                error: function (response) {
                    //alert(response.d);
                }
            });
        }

        function save() {
            /*** Lấy node được chọn của Main Page ***/
            var node = parent.getSelected();

            var Item = {};
            Item.Id_Dm = $("#txt-id-dm").textbox("getValue");
            Item.MenuId = node.id;
            Item.MaSo = node.text;
            Item.TenCongDoan = $('#txt-tencongdoan').textbox('getValue');
            Item.MoTa = $('#txt-mota').textbox('getValue');

            /*** 1. Kiểm tra mã bộ phận ***/
            var t = $('#cb-mabophan').combotree("tree");
            var tNode = t.tree('getSelected');
            if (tNode == null) {
                $.messager.alert('Warning', 'Chưa chọn bộ phận');
                return;
            }
            Item.MaBoPhan = tNode.id;
            /*** 2. Kiểm tra mã bậc thợ ***/
            t = $('#cb-bactho').combogrid("grid");
            tNode = t.datagrid('getSelected');
            if (tNode == null) {
                $.messager.alert('Warning', 'Chưa nhập mã bậc thợ');
                return;
            }
            Item.MaBacTho = tNode.MaBacTho;
            /*** 3. Kiểm tra mã số thao tác (Thời gian chuẩn bị) ***/
            Item.MaThaoTacSp = $('#tt-maso').textbox('getValue');
            if (Item.MaThaoTacSp == null || Item.MaThaoTacSp=="") {
                $.messager.alert('Warning', 'Chưa chọn mã số thao tác');
                return;
            }
            /*** 4. Kiểm tra mã số thiết bị (Thông tin thiết bị) ***/
            Item.MaThietBi = $('#tb-maso').textbox('getValue');
            if (Item.MaThietBi == null || Item.MaThietBi == "") {
                $.messager.alert('Warning', 'Chưa chọn mã số thiết bị');
                return;
            }
            /*** 4. Kiểm tra phân tích công đoạn ***/
            $("#dg-sys-analyst").datagrid("acceptChanges");
            Item.ThaoTacCongDoan = $("#dg-sys-analyst").datagrid('getRows');

            //return;
            //alert(Item.MoTa);
            $.ajax({
                url: '/IED/CongDoanUpdate',
                type: "POST",
                dataType: "json",
                data: JSON.stringify(Item),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    loadData();
                    //var text = $("#txt-id").textbox("getText");
                    parent.showMsg("Lưu thành công!");
                    //parent.updateNode(text);
                },
                error: function (response) {
                    if (response.status == 200)
                        alert("Bạn không có quyền thay đổi dữ liệu. Vui lòng liên hệ với người quản trị")
                    else
                        alert("Error: " + response);
                    
                }
            });
        }

        function enableLuc(enable) {
            if (enable)
                $('#cb-luctacdung').combobox('enable');
            else
                $('#cb-luctacdung').combobox('disable');
        }

        function getBoPhan() {
           
            $.ajax({
                url: '/Setting/GetTreeNodeDep',
                type: "GET",
                dataType: "json",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#cb-mabophan').combotree('loadData', data);
                    $('#cb-mabophan').combotree({ lines: true });
                },
                error: function (response) {
                    //alert(response.d);
                    //window.location.href = "/Login.aspx";
                }
            });
        } //end function getBoPhan()=======================================================================================================================
        function getBacTho() {
            $('#cb-bactho').combogrid({
                delay: 500,
                mode: 'remote',
                method: 'GET',
                url: '/Setting/BacThoGet',
                idField: 'MaBacTho',
                textField: 'MoTa',
                onSelect:function(index, row){
                    $('#text-heso').textbox("setValue", row.HeSo);
                },
                columns: [[
                    { field: 'MoTa', title: 'Mô tả', width: '60%' },
                    { field: 'HeSo', title: 'Hệ số', width: '30%' }
                ]]
            });

        } //end function getBacTho()=======================================================================================================================

        function handlerClickThaoTac()
        {
            GetRootDirectory('ROOT.TGCB');
            $("#frm-thaotac").window("open");
        }

        function acceptThaoTac() {
            var row = $("#dg-list-tt").datagrid("getSelected");
            if (row == null) return;

            $('#tt-maso').textbox('setValue', row.MaThaoTacSP);
            $('#tt-mota').textbox('setValue', row.MoTa);
            $('#tt-tgian').numberbox('setValue', row.ThoiGianThaoTac);
            $('#tt-soluong').numberbox('setValue', row.SoLuong);

            $('#tt-tgian-thaotac').numberbox('setValue', row.ThoiGianThaoCotBoHang);

            $("#frm-thaotac").window("close");

        }

        function GetByThaoTac(RootId) {

            $.ajax({
                url: '/Setting/ThaoTacSpGetBy?RootId=' + RootId,
                type: "GET",
                // async: false, //Chờ khi request này thực hiện thành công thì mới làm request khác
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#dg-list-tt').datagrid({
                        onDblClickRow: function (index, row) {
                            acceptThaoTac();
                        },
                        data: data
                    });
                },
                error: function (response) {
                    //alert(response.statusText);
                }
            });
        } //end function GetBy()=====================================================================================================================

        function GetRootDirectory(rootId) {
            $.ajax({
                url: '/api/v1/RootDirectory/GetDirectory?RootId='+rootId,
                type: "GET",
                dataType: "json",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (rootId == 'ROOT.THIETBI')
                        $('#left-menu-tb').tree({
                            method: 'get', animate: true,  lines: true,
                            data: $.parseJSON(data),
                            loadFilter: function (data, target) {
                                return convert(data);
                            },
                            onSelect: function (node) {
                                GetByThietBi(node.id);
                            }
                        }); //End #left-menu
                    else
                        $('#left-menu-tt').tree({
                            method: 'get', animate: true, lines: true,
                            data: $.parseJSON(data),
                            loadFilter: function (data, target) {
                                return convert(data);
                            },
                            onSelect: function (node) {
                                GetByThaoTac(node.id);
                            }
                        }); //End #left-menu
                },
                error: function (response) {
                    //alert(response.d);
                    //window.location.href = "/Login.aspx";
                }
            });
        } //end function GetRootDirectory()==========================================================================================================

        var newNode;
        function convert(rows) {
            function exists(rows, parentId) {
                for (var i = 0; i < rows.length; i++) {
                    if (rows[i].id == parentId) return true;
                }
                return false;
            }

            var nodes = [];
            // get the top level nodes
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                if (!exists(rows, row.MenuParent)) {
                    nodes.push({
                        id: row.id,
                        text: row.text,
                        MenuParent: row.MenuParent,
                        url: row.url,
                        ContextMenuId: row.ContextMenuId,
                        state: "open",
                        sort: row.Sort
                    });
                }
            }

            if (newNode != null) {
                return nodes;
            }

            var toDo = [];
            for (var i = 0; i < nodes.length; i++) {
                toDo.push(nodes[i]);
            }

            while (toDo.length) {
                var node = toDo.shift(); // the parent node
                // get the children nodes
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    if (row.MenuParent == node.id) {
                        var child;
                        if (row.url == "")
                            child = { id: row.id, text: row.text, MenuParent: row.MenuParent, state: "closed", sort: row.Sort, ContextMenuId: row.ContextMenuId };
                        else
                            child = { id: row.id, text: row.text, MenuParent: row.MenuParent, url: row.url, iconCls: row.iconCls, sort: row.Sort, ContextMenuId: row.ContextMenuId };

                        if (node.children)
                            node.children.push(child);
                        else
                            node.children = [child];

                        toDo.push(child);
                    }
                }
            }
            return nodes;
        } //End function convert()===================================================================================================================

        function GetByThietBi(RootId) {

            $.ajax({
                url: '/Setting/ThietBiGetBy?RootId=' + RootId,
                type: "GET",
                // async: false, //Chờ khi request này thực hiện thành công thì mới làm request khác
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#dg-list-tb').datagrid({
                        onDblClickRow:function(index,row){
                            acceptThietBi();
                        },
                        data: data
                    });
                },
                error: function (response) {
                    //alert(response.statusText);
                }
            });
        } //end function GetBy()=====================================================================================================================

        function handlerClickThietBi()
        {
            GetRootDirectory('ROOT.THIETBI');
            $("#frm-thietbi").window("open");
        }

        function acceptThietBi() {
            var row = $("#dg-list-tb").datagrid("getSelected");
            if (row == null) return;
            $('#tb-maso').textbox('setValue', row.MaThietBi);
            $('#tb-mota').textbox('setValue', row.MoTa);
            $('#tb-tocdo').numberbox('setValue', row.TocDo);
            $('#tb-somui').numberbox('setValue', row.SoMuiCM);

            $("#frm-thietbi").window("close");

        }

        function closeWindow() {
            $("#frm-thaotac").window("close");
            $("#frm-thietbi").window("close");
            $("#frm-thuvien").window('close');
        }

        function formatField(value, row, index) {
            return '<span style="">' + value.toLocaleString() + '</span>';
        }

        var analyst_rowIndex = 0;
        function onPhanTich(e, index, row) {
            e.preventDefault();
            if (isEdit) return;
            analyst_rowIndex = index;
            $('#dg-sys-analyst').datagrid('gotoCell', { index: index, field: 'MaSo' });
            /*** Kiểm tra trạng thái dòng đã dc copy hoặc cắt hay chưa? nếu có thì bật chức năng Dán ***/
            if (rowLog != null) $('#ct-menu-pt').menu('enableItem', $('#mn-paste')[0]);
            else $('#ct-menu-pt').menu('disableItem', $('#mn-paste')[0]);

            $('#ct-menu-pt').menu('show', { left: e.pageX, top: e.pageY });
        }

        function append() {
            //$("#frm-thuvien").window("open");
            var rows = $('#dg-sys-analyst').datagrid('getRows');
            if (rows == null || rows.length == 0 || analyst_rowIndex < 0) analyst_rowIndex = 0;
            $('#dg-sys-analyst').datagrid('insertRow', {
                index: analyst_rowIndex,	// index start with 0
                row: { MaSo: '', MoTa: '', TMUThietBiTemp: 0, TMUThaoTacTemp: 0 }
            });
        }

        function acceptThuVien() {
            var rowTv = $("#dg-list-tv").datagrid("getSelected");
            if (rowTv == null) return;
            var rowIndex = 0, row;
            row = $("#dg-sys-analyst").datagrid("getSelected");
            if (row != null)
                rowIndex = $("#dg-sys-analyst").datagrid("getRowIndex", row);
            $('#dg-sys-analyst').datagrid('insertRow', {
                index: rowIndex,	// index start with 0
                row: {
                    MaSo: rowTv.MaThuVien,
                    MoTa: rowTv.MoTa,
                    TMUThietBiTemp: rowTv.TMUThietBiTemp, //Nếu kiểm tra thiết bị=true thì lấy TMU
                    TMUThaoTacTemp: rowTv.TMUThaoTacTemp
                    //TMUThietBi: rowTv.KemThietBi == true ? rowTv.TMU : 0, //Nếu kiểm tra thiết bị=true thì lấy TMU
                    //TMUThaoTac: rowTv.KemThietBi == false ? rowTv.TMU : 0
                },
            });

            $("#frm-thuvien").window("close");
        }

        //function removeit() {
        //    var rowIndex = 0, row;
        //    row = $("#dg-sys-analyst").datagrid("getSelected");
        //    if (row == null) return;
        //        rowIndex = $("#dg-sys-analyst").datagrid("getRowIndex", row);
        //    $("#dg-sys-analyst").datagrid("deleteRow", rowIndex);
        //}


        function handlerClickFindMatch() {
            var maso = $('#tv-search').textbox('getValue');
            if (maso == null || maso == "") return;

            $.ajax({
                url: "/IED/FindThuVienMatch?maso=" + maso,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#dg-list-tv").datagrid({ data:data });
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        }
        function edit() {
            enableControl(false);
        }
        function cancel() {
            loadData();
            enableControl(true);
        }

        var rowLog;
        function menuHandler(item) {
            if (item.id == 'mn-delete') {
                $("#dg-sys-analyst").datagrid("deleteRow", analyst_rowIndex);
            } else if (item.id == 'mn-cut') {
                copyLogRow();
                $("#dg-sys-analyst").datagrid("deleteRow", analyst_rowIndex);
            } else if (item.id == 'mn-copy') {
                copyLogRow();
            } else if (item.id == 'mn-paste') {
                $('#dg-sys-analyst').datagrid('insertRow', { index: analyst_rowIndex, row: rowLog });
            }
        }

        function copyLogRow() {
            var rows = $('#dg-sys-analyst').datagrid('getRows');
            if (rows == null || analyst_rowIndex >= rows.length || analyst_rowIndex < 0) return;
            if (isEmpty(rows[analyst_rowIndex].MaSo)) return;
            rowLog = rows[analyst_rowIndex];
            //alert(analyst_rowIndex);
        }

        function formatField(value, row, index) {
            return '<span style="">' + value.toLocaleString() + '</span>';
        }

        function excel() {
            //@Html.ActionLink("NPOINewFile", "CongDoanExcel", "IED");
           
            $.ajax({
                url: "/IED/CongDoanExcel",
                type: "POST",
                contentType: false,
                processData: false,
                //dataType: "json",
                //contentType: "application/json; charset=utf-8",
                success: function (returnValue) {
                    window.location = '@Url.Action("CongDoanExcel")';
                    //$('#demo').html(returnValue);
                    //alert(encodeURIComponent(data));
                   // var uri = 'data:application/vnd.ms-excel;charset=UTF-8,' + data;
                    //alert(returnValue);
                    //window.open(uri, 'NPOINewFile.xls');
                },
                error: function (response) {
                    alert("error: " +response.d);
                }
            });
        }

        function downloadFiles() {
            //debugger
            var node = parent.getSelected();
            if (node == null) return;
            var congdoan = $('#txt-tencongdoan').textbox('getValue');
            if (isEmpty(congdoan)) congdoan = "Công đoạn";
            var ajax = new XMLHttpRequest();
            ajax.open("POST", "/IED/CongDoanExcel?MenuId=" + node.id, true);
            ajax.responseType = "blob";
            ajax.onreadystatechange = function () {
                if (this.readyState == 4) {
                    var blob = new Blob([this.response], { type: "application/vnd.ms-excel" });
                    var downloadUrl = URL.createObjectURL(blob);
                    var a = document.createElement("a");
                    a.href = downloadUrl;
                    a.download = congdoan + ".xls";
                    document.body.appendChild(a);
                    a.click();
                }
            };
            ajax.send(null);
        }
    </script>
</head>
<body class="easyui-layout"  oncontextmenu="return false;">
    <div id="tab-main" class="easyui-layout" data-options="border:false,fit:true" style="min-width: 100%; min-height:100%; overflow: hidden;">
        <div data-options="region:'north',border:false" style="height: 30px; width: 100%; overflow: hidden;">
            <div class="menu-ied" style="padding:0.1% 0; min-height:100%">
                @*<a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" style="width: 13%; ">Thêm công đoạn</a>
                    <a data-options="plain:false">|</a>*@
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="edit();"
                   data-options="plain:true,iconCls:'icon-edit'" style="width:13%">Sửa công đoạn</a>
                <a data-options="plain:false">|</a>

                <a id="cmd-save" href="javascript:void(0)" class="easyui-linkbutton" onclick="save();"
                   data-options="plain:true,iconCls:'icon-save',disabled:true" style="width:13%">Lưu công đoạn</a>
                <a data-options="plain:false">|</a>
                <a href="javascript:void(0)" class="easyui-linkbutton action" onclick="cancel();"
                   data-options="disabled:false,plain:true,iconCls:'icon-undo'" style="width:6%">Hủy</a>
                <a data-options="plain:false">|</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="downloadFiles();"
                   data-options="plain:true,iconCls:'icon-export'">Xuất ra Excel</a>
            </div>

        </div>
        <div data-options="region:'south',split:true,border:false" style="height: 48%; width: 100%; overflow: hidden;">
            <div class="easyui-tabs" data-options="border:false" style="width:100%;height:100%">
                <div title="1. Thông tin chi tiết" style="padding:0.2%;">
                    <div class="easyui-layout" data-options="fit:true,border:false">
                        @*1. Thông tin bậc thợ*@
                        <div data-options="region:'west',split:false,collapsible:false" title="" style="width:32%; padding-left:5%">
                            <div style="margin-bottom:1.2%; padding:2%;">
                                <label for="name">Thông tin bậc thợ</label>
                            </div>

                            <div style="margin-bottom:1.2%">
                                <input id="cb-bactho" class="easyui-combotree" data-options="labelWidth:'30%'"
                                       label="Bậc thợ:" labelposition="left" value="" style="width: 95%;" />
                            </div>

                            <div style="margin-bottom:1.2%">
                                <input id="text-heso" class="easyui-textbox" data-options="labelWidth:'30%',readonly:true"
                                       label="Hệ số:" labelposition="left" value="" style="width: 95%; text-align:right;" />
                            </div>
                        </div>

                        @*2. Thời gian chuẩn bị*@
                        <div data-options="region:'center'" title="" style="padding-left:5%">
                            <div style="margin-bottom:1.2%; padding:2%;">
                                <label for="name">Thời gian chuẩn bị</label>
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tt-maso" class="easyui-textbox"
                                       data-options="labelWidth:'30%',buttonText:'Mã số',buttonIcon:'icon-add',editable:false,prompt:'Chọn mã...',onClickButton:handlerClickThaoTac"
                                       label="Mã số thao tác:" labelposition="left" value="" style="width: 90%; text-align:right;" />
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tt-mota" class="easyui-textbox" data-options="labelWidth:'30%',readonly:true"
                                       label="Mô tả:" labelposition="left" value="" style="width: 90%;" />
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tt-tgian" class="easyui-numberbox" data-options="labelWidth:'60%',readonly:true,precision:7"
                                       label="Thời gian thao tác(Phút):" labelposition="left" value="" style="width: 90%; text-align: right" />
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tt-soluong" class="easyui-numberbox" data-options="labelWidth:'60%',readonly:true"
                                       label="Số lượng sản phẩm:" labelposition="left" value="" style="width: 90%; text-align: right" />
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tt-tgian-thaotac" class="easyui-numberbox" data-options="labelWidth:'60%',readonly:true,precision:7"
                                       label="Thời gian trên 1 sản phẩm:" labelposition="left" value="" style="width: 90%; text-align:right" />
                            </div>
                        </div>

                        @*3. Thông tin thiết bị*@
                        <div data-options="region:'east',split:false,collapsible:false" title="" style="width:33%; padding-left:5%">
                            <div style="margin-bottom:1.2%; padding:2%;">
                                <label for="name">Thông tin thiết bị</label>
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tb-maso" class="easyui-textbox"
                                       data-options="labelWidth:'30%',buttonText:'Mã số',editable:false,buttonIcon:'icon-add',prompt:'Chọn mã...',onClickButton:handlerClickThietBi"
                                       label="Mã số thiết bị:" labelposition="left" value="" style="width: 90%; text-align:right;" />
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tb-mota" class="easyui-textbox" data-options="labelWidth:'30%',readonly:true"
                                       label="Mô tả:" labelposition="left" value="" style="width: 90%;" />
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tb-tocdo" class="easyui-numberbox" data-options="labelWidth:'50%',groupSeparator:',',readonly:true"
                                       label="Tốc độ thiết bị:" labelposition="left" value="" style="width: 90%;text-align:right" />
                            </div>
                            <div style="margin-bottom:1.2%">
                                <input id="tb-somui" class="easyui-numberbox" data-options="labelWidth:'50%',readonly:true"
                                       label="Số mũi/CM:" labelposition="left" value="" style="width: 90%;text-align:right" />
                            </div>
                        </div>


                    </div>
                </div>
                @*<div title="Môi trường làm việc"></div>*@

                @*Tab Phân tích*@
                <div title="2. Phân tích" >
                    <div class="easyui-layout" data-options="fit:true,border:false" style="overflow: hidden; padding: 0.2%;border:none; height:100%;">
                        <table id="dg-sys-analyst" class="easyui-datagrid" title="" style="width:100%;height:100%;border:none;"
                               data-options="onRowContextMenu:onPhanTich,iconCls: 'icon-edit',singleSelect: true,rownumbers:true,pagination:false">
                            <thead id="Thead1">
                                <tr>
                                    <th class="cls-maso" data-options="field:'MaSo',width:120,editor:{type:'textbox'}"><span class="center-header">Mã số</span>  </th>
                                    <th data-options="field:'SoLanXuatHien',width:90,align:'right',editor:{type:'numberbox',options:{ precision: 1} }"><span class="center-header">Tần suất</span> </th>
                                    <th data-options="field:'MoTa',width:'30%',editor:{type:'textbox'}"><span class="center-header">Mô tả</span> </th>

                                    <th data-options="field:'TMUThietBiTemp',width:90,align:'right',formatter:formatField"><span class="center-header">TMU thiết bị</span> </th>
                                    <th data-options="field:'TMUThaoTacTemp',width:90,align:'right',formatter:formatField"><span class="center-header">TMU thao tác</span> </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    

                </div>

                @*Tab Phụ kiện*@
                @*<div title="Phụ kiện"></div>*@
                @*Tab Nhật ký*@
                <div title="3. Nhật ký" style="overflow:hidden;">
                    <div class="easyui-layout" data-options="fit:true,border:false" style="overflow: hidden; padding: 0.2%;border:none; height:100%;">
                        <table id="tbl-sys-log" class="easyui-datagrid" title="" style="width:100%;height:100%"
                               data-options="iconCls: 'icon-edit',singleSelect: true,rownumbers:true,pagination:false">
                            <thead id="Thead1">
                                <tr>
                                    @*<th data-options="field:'virsion',width:70"><span class="center-header">Phiên bản</span> </th>*@

                                    <th data-options="field:'Action_Name',width:80"><span class="center-header">Người dùng</span>  </th>
                                    <th data-options="field:'StrCreated',width:130"><span class="center-header">Ngày ghi nhận</span> </th>

                                    <th data-options="field:'Description',width:100"><span class="center-header">Thao thác</span> </th>
                                    <th data-options="field:'Description',width:100"><span class="center-header">Góp ý</span> </th>
                                    <th data-options="field:'Description',width:100"><span class="center-header">Thời gian chuẩn</span> </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div title="4. Tóm lược" style="overflow:hidden;"></div>

            </div>

        </div>

        @*Center*@
        <div data-options="region:'center',border:false" style="width: 100%; overflow: hidden;">
            <div class="easyui-layout" data-options="border:false" style="width:100%;height:100%;">

                @*Top*@
                <div data-options="region:'south',border:false" style="height: 64px;">
                    <div class="easyui-layout" data-options="fit:true,border:false">
                        @*1*@
                        <div data-options="region:'west',split:false,collapsible:false" style="width: 32%; padding-left: 5%; background: #E0ECFF; color: #0E2D5F; border: none; border-bottom: 1px solid #95B8E7">
                            <div style="margin-top:0.9%">
                                <input id="total-thoigian-tmu" class="easyui-numberbox" data-options="labelWidth:'50%',readonly:true,groupSeparator:',',precision:5"
                                       label="Tổng thời gian TMU:" labelposition="left" value="0" style="width: 95%; text-align:right " />
                            </div>
                            <div style="margin-top: 0.5%">
                                <input id="TONG_THOI_GIAN_PHUT" class="easyui-numberbox" data-options="labelWidth:'50%',readonly:true,width:'95%',groupSeparator:',',precision:5"
                                       label="Tổng thời gian(giây):" labelposition="left" value="0" style="text-align:right" />
                            </div>
                        </div>

                        @*2*@
                        <div data-options="region:'center'" style="padding-left: 5%; background: #E0ECFF; color: #0E2D5F; border: none; border-bottom: 1px solid #95B8E7;">
                            <div style="margin-top:0.9%">
                                <input id="TONG_CHIEU_DAI_DUONG_MAY" class="easyui-numberbox" data-options="labelWidth:'55%',readonly:true,groupSeparator:',',precision:5"
                                       label="Tổng chiều dài đường may:" labelposition="left" value="0" style="width: 95%; text-align:right " />
                            </div>
                            <div style="margin-top: 0.5%">
                                <input id="SanLuongMoiGio" class="easyui-numberbox" data-options="labelWidth:'55%',readonly:true,width:'95%',groupSeparator:',',precision:0"
                                       label="Sản lượng mỗi giờ:" labelposition="left" value="0" style="text-align:right" />
                            </div>
                        </div>

                        @*3*@
                        <div data-options="region:'east',split:false,collapsible:false" style="width: 33%; padding-left: 5%; background: #E0ECFF; color: #0E2D5F; border: none; border-bottom: 1px solid #95B8E7; ">

                        </div>


                    </div>
                </div>

                @*Right*@
                <div class="format-text" data-options="region:'west'" style="border-left:0; width:45%;padding:2.5%; overflow:hidden;">

                    <div style="margin-bottom:1%">
                        <input id="txt-id" class="easyui-textbox" data-options="labelWidth:'30%',disabled:true"
                               label="Mã công đoạn:" labelposition="left" value="" style="width: 95%; " />
                    </div>
                    <div style="margin-bottom:1%">
                        <input id="txt-tencongdoan" class="easyui-textbox cls-txt" data-options="labelWidth:'30%'"
                               label="Tên công đoạn:" labelposition="left" value="" style="width: 95%;" />
                    </div>
                    <div style="margin-bottom:1%">
                        <input id="txt-mota" class="easyui-textbox cls-txt" data-options="labelWidth:'30%'"
                               label="Mô tả:" labelposition="left" value="" style="width: 95%; " />
                    </div>
                    <div style="margin-bottom:1%">
                        <input id="cb-mabophan" class="easyui-combotree" data-options="labelWidth:'44%'"
                               label="Mã bộ phận:" labelposition="left" value="" style="width: 65%;" />
                        <select id="cb-luctacdung" class="easyui-combobox" name="state" style="height:25px"
                                data-options="width:'29%',labelWidth:'22%',disabled:true" label="Lực" labelposition="right">
                            <option value="0">--Chọn lực--</option>
                            <option value="10">Lực 10</option>
                            <option value="15">Lực 15</option>
                            <option value="20">Lực 20</option>
                        </select>
                    </div>
                    <div style="margin-bottom:1%">
                        <input id="txt-nguoicapnhat" class="easyui-textbox" data-options="labelWidth:'30%',disabled:true"
                               label="Cập nhật lần cuối:" labelposition="left" value="" style="width: 95%;" />
                    </div>

                    @*Id_Dm*@
                    <div style=" visibility:hidden">
                        <input id="txt-id-dm" hidden="hidden" class="easyui-textbox" data-options="disabled:true"
                               label="Id DM:" labelposition="left" value="00" style="" />
                    </div>
                </div>
                @*Left*@
                <div data-options="region:'center'" style="border-right:none">
                    <div id="p" class="easyui-panel" style="width:20%;height:60%;padding:10px; border-left:none;border-top:none;">
                        @*<img src="../Images/logo.png" style=" height: 100%; width:100%" alt="" />*@
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div id="frm-thaotac" class="easyui-window" title="Thời gian chuẩn bị"
         data-options="iconCls:'icon-property',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
         style="width: 590px; height: 60%; padding: 5px;">
        <div class="easyui-layout" data-options="fit:true">
            <div id="p" data-options="region:'west',split:false,collapsible:false" style="width:30%;padding:10px">
                <ul id="left-menu-tt"></ul>
            </div>

            <div data-options="region:'center'" style="overflow:hidden">
                <table id="dg-list-tt" class="easyui-datagrid" title="" style="width:100%;height:100%;"
                       data-options="iconCls: 'icon-edit',singleSelect: true,rownumbers:true,pagination:false,border:false,fit:true">
                    <thead id="Thead1">
                        <tr>
                            <th data-options="field:'MaThaoTacSP',width:70"><span class="center-header">Mã thao tác</span> </th>
                            <th data-options="field:'MoTa',width:120,editor:'text'"><span class="center-header">Mô tả</span> </th>
                            <th data-options="field:'ThoiGianThaoTac',halign:'right',width:90,editor:{type:'numberbox',options:{ precision: 3} }"><span class="center-header">Thời gian thao tác</span> </th>
                            <th data-options="field:'SoLuong',width:75,editor:{type:'numberbox',options:{ precision: 0} }"><span class="center-header">Số lượng</span> </th>

                        </tr>
                    </thead>
                </table>
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="acceptThaoTac();" style="width:80px">Đồng ý</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeWindow();" style="width:80px">Đóng</a>
            </div>
        </div>
    </div>

    <div id="frm-thietbi" class="easyui-window" title="Thông tin thiết bị"
         data-options="iconCls:'icon-property',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
         style="width:590px;height:60%;padding:5px;">
        <div class="easyui-layout" data-options="fit:true">
            <div id="p" data-options="region:'west',split:false,collapsible:false" style="width:30%;padding:10px">
                <ul id="left-menu-tb"></ul>
            </div>

            <div data-options="region:'center'" style="overflow:hidden">
                <table id="dg-list-tb" class="easyui-datagrid" title="" style="width:100%;height:100%;"
                       data-options="iconCls: 'icon-edit',singleSelect: true,rownumbers:true,pagination:false,border:false">
                    <thead id="Thead1">
                        <tr>
                            <th data-options="field:'MaThietBi',width:80"><span class="center-header">Mã thiết bị</span> </th>
                            <th data-options="field:'MoTa',width:120,editor:'text'"><span class="center-header">Mô tả</span> </th>
                            <th data-options="field:'SoMuiCM',width:80,formatter:formatField,halign:'right'"><span class="center-header">Số MŨI/CM</span> </th>
                            <th data-options="field:'TocDo',width:70,formatter:formatField,halign:'right'"><span class="center-header">Tốc độ</span> </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="acceptThietBi();" style="width:80px">Đồng ý</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeWindow();" style="width:80px">Đóng</a>
            </div>
        </div>
    </div>

    <div id="frm-thuvien" class="easyui-window" title="Thao tác"
         data-options="iconCls:'icon-property',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
         style="width:490px;height:50%;padding:5px;">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'center'" style="overflow:hidden">
                <table id="dg-list-tv" class="easyui-datagrid" title="" style="width:100%;height:100%;"
                       data-options="toolbar:'#tb',iconCls: 'icon-edit',singleSelect: true,rownumbers:true,pagination:false,border:false">
                    <thead id="Thead1">
                        <tr>
                            <th data-options="field:'MaThuVien',width:80"><span class="center-header">Mã số</span> </th>
                            <th data-options="field:'MoTa',width:150,editor:'text'"><span class="center-header">Mô tả</span> </th>
                            <th data-options="field:'GhiChu',width:100,editor:'text'"><span class="center-header">Ghi chú</span> </th>
                            <th data-options="field:'TMU',width:80,formatter:formatField,halign:'right'"><span class="center-header">TMU</span> </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="acceptThuVien();" style="width:80px">Đồng ý</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeWindow();" style="width:80px">Đóng</a>
            </div>
        </div>
    </div>

    <div id="tb" style="padding:2px 5px;">
        <input id="tv-search" class="easyui-textbox" data-options="buttonText:'Tìm',buttonIcon:'icon-search',prompt:'Nhập mã số cần tìm...',onClickButton:handlerClickFindMatch" style="width:100%;height:32px;">
    </div>

    <div id="ct-menu-pt" class="easyui-menu" style="width:12%">
        <div onclick="append()" data-options="iconCls:'icon-add'">Chèn thao tác</div>
        <div id="mn-delete" onclick="menuHandler(this)" data-options="iconCls:'icon-remove'">Xóa</div>
        <div class="menu-sep"></div>
        <div id="mn-cut" onclick="menuHandler(this)">Cắt</div>
        <div id="mn-copy" onclick="menuHandler(this)">Sao chép</div>
        <div id="mn-paste" onclick="menuHandler(this)" data-options="name:'paste',disabled:true">Dán</div>
    </div>
    <div id="demo"></div>
</body>
</html>
