﻿
@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<style type="text/css">
    .tree-icon {
        display: none;
    }

    fieldset {
        margin: 1%;
        padding: 0 1% 1%;
        border: 1px solid #95B8E7;
        border-radius: 8px;
        width: 92%;
        /***box-shadow: 0 0 3px #95B8E7; ***/
    }

    legend {
        padding: 2px 1%;
        background: #fff; /* For better legibility against the box-shadow */
        width: 26%;
        border: none;
        font-size: 12px;
        font-weight: bold;
    }

    fieldset label {
        width: 10%;
    }

    .headerCls {
        text-align: center;
    }
</style>

<div class="easyui-layout" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%; ">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', checkOnSelect:false,toolbar: '#tb', rownumbers:true, pagination:true">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th field="ck" checkbox="true"></th>
                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'TenHieuXe',width:'15%',halign:'center'"><span class="center-header">Hiệu xe</span> </th>
                    <th data-options="field:'SoLuotSua',width:'20%',halign:'center'"><span class="center-header">Số lượt sữa</span> </th>
                    <th data-options="field:'ThuNhap',width:'20%',halign:'center',align:'center'"><span class="center-header">Thu nhập</span> </th>
                    <th data-options="field:'TiLe',width:'20%',halign:'center',align:'center'"><span class="center-header">Tỉ lệ</span> </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="tb" class="menu-ctrl" style="height: 40px; padding: 0.1%;margin-bottom:5px; padding-top:5px; ">
    <input id="dd" type="text" data-options="formatter:myformatterDMY,parser:myparserDMY" class="easyui-datebox" style=" width:350px; height: 32px; margin-top: 5px;">

</div>



<div id="mm-search" style="width:120px">
    <div data-options="name:'MaNV'">Mã nhân viên</div>
    <div data-options="name:'TenNV'">Tên nhân viên</div>
</div>








@section scripts {
    @*<script src="~/ViewModels/utils.js"></script>*@
    <script src="~/ViewModels/com.format.date.js"></script>
    <script src="~/Scripts/serializeObjects.js"></script>
    <script src="~/Scripts/view.baocaodoanhso.js"></script>
}
<script type="text/javascript">



</script>



