﻿@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<style type="text/css">
    .tree-icon {
        display: none;
    }
    /*****/
    fieldset {
        margin: 1%;
        padding: 0 1% 1%;
        border: 1px solid #95B8E7;
        border-radius: 8px;
        width: 92%;
        /***box-shadow: 0 0 3px #95B8E7; ***/
    }


    legend {
        padding: 2px 1%;
        background: #33cccc; /* For better legibility against the box-shadow */
        width: 26%;
        border: none;
        font-size: 12px;
        font-weight: bold;
    }

    fieldset label {
        width: 10%;
    }

    .headerCls {
        text-align: center;
    }
</style>

<div class="easyui-layout" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%; ">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', checkOnSelect:false,toolbar: '#tb', rownumbers:true, pagination:true">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'KhachHangId',align:'center',width:'12%',halign:'center'"><span class="center-header">Mã khách hàng</span>  </th>

                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'TenKhachHang',width:'20%',halign:'center'"><span class="center-header">Tên khách hàng</span> </th>
                    <th data-options="field:'SoDienThoai',width:'12%',halign:'center'"><span class="center-header">Số điện thoại</span> </th>
                    <th data-options="field:'DiaChi',width:'25%',halign:'center'"><span class="center-header">Địa chỉ</span> </th>
                    <th data-options="field:'Email',width:'20%',halign:'center'"><span class="center-header">Email</span> </th>
                    <th data-options="field:'TienNo',width:'10%',halign:'center',align:'center'"><span class="center-header">Tiền nợ</span> </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!---->
<div id="tb" class="menu-ctrl" style="height: 50px; padding: 0.1%;margin-bottom:10px;">
    <a href="javascript:void(0)" class="easyui-linkbutton action " data-options="iconCls:'icon-reload',plain:true" style="width:100px; height: 32px; color:#000000; border: 1px solid rgba(255, 255, 255, 0.43); background-color:#adebeb; margin-right:10px; margin-left:10px; margin-top:5px;" onclick="refresh()">Refresh</a>
    <a data-options="plain:false">|</a>

    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-add',plain:true" style="width:100px; height: 32px; color:#000000; border: 1px solid rgba(255, 255, 255, 0.43);  background-color:#adebeb; margin-right:10px; margin-left:10px; margin-top: 5px;" onclick="add()">Add</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-edit',plain:true" style="width:100px; height: 32px; color:#000000; border: 1px solid rgba(255, 255, 255, 0.43); background-color: #adebeb; margin-right:10px; margin-left:10px; margin-top: 5px;" onclick="edit()">Edit</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-cross',plain:true" style="width:100px; height: 32px; color:#000000; border: 1px solid rgba(255, 255, 255, 0.43);  background-color:#adebeb; margin-right:10px; margin-left:10px; margin-top: 5px; " onclick="removeIt()">Remove</a>
    <a data-options="plain:false">|</a>

    <input class="easyui-searchbox" style=" width:400px; height: 32px; margin-top: 5px;"
           data-options="searcher:searcher,prompt:'ID,Name,Age...'" />
</div>

@*<div id="mm-search" style="width:120px">
        <div data-options="name:'MaNV'">Mã nhân viên</div>
        <div data-options="name:'TenNV'">Tên nhân viên</div>
    </div>*@
<div id="mm-menu" style="width:150px;">
    <div data-options="iconCls:'icon-download'" onclick="downloadTemplate();">Tải mẫu</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'icon-replace'" onclick="changeDep()">Chuyển bộ phận</div>
    <div class="menu-sep"></div>
    <div onclick="DangKyNghi()">Cho nghỉ việc</div>
    <div class="menu-sep"></div>
    <div onclick="ExceptionIt();">Ngoại lệ</div>
    <div class="menu-sep"></div>
</div>

<div id="context-menu" class="easyui-menu" style="width:12%">
    <div onclick="edit()" data-options="iconCls:'icon-edit'">Sửa</div>
    <div onclick="add()" data-options="iconCls:'icon-add'">Thêm mới</div>
    <div class="menu-sep"></div>
    <div onclick="removeIt()" data-options="iconCls:'icon-cross'">Xóa</div>
    <div class="menu-sep"></div>
    <div onclick="refresh()" data-options="iconCls:'icon-reload'">Nạp lại</div>
    <div class="menu-sep"></div>
    <div onclick="tiepnhanxe()" data-options="iconCls:'icon-reload'">Tiếp nhận xe</div>
    <div class="menu-sep"></div>
</div>
<!----->
<div id="frm-KhachHang" class="easyui-window" title="Nhân viên"
     data-options="iconCls:'icon-setting',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
     style="width:450px;height:330px;padding:1%; background: #60b7a9; box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
                                                                        background-color:  	rgb(128, 255, 255); /*làm nhạt nền khung*/
                                                                        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);">
    <!-nền ngoài--->
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:true" style="padding-left:1%;



                                                                        box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
                                                                        background-color:rgb(230, 255, 255); /*làm nhạt nền khung*/


                                                                        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);">
            <!--nền trong-->
            <fieldset>
                <legend></legend>
                <div style="margin: 0 0 0 0.5%">
                    <input id="txtKhachHangId" class="easyui-textbox easyui-validatebox"
                           data-options="required:true,width:'350px',labelWidth:'100px',missingMessage:'Mã khách hàng không được để trống'"
                           label="Mã khách hàng:" labelposition="left" disabled="disabled" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txtTenKhachHang" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Tên khách hàng:" labelposition="left" />

                </div>
                <div style="margin: 1% 0 0 0.5%">
                    <input id="txtSoDienThoai" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Số điện thoại:" labelposition="left" />

                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txtDiaChi" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Địa chỉ:" labelposition="left" />
                </div>

                <div style="margin: 1% 0 0 0.5%">
                    <input id="txtEmail" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Email:" labelposition="left" />
                </div>

                <div style="margin: 1% 0 0 0.5%">
                    <input id="txtTienNo" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Tiền nợ:" labelposition="left" />
                </div>

            </fieldset>
        </div>

        <div data-options="region:'south',border:false" style="text-align:center;padding-top: 5px; padding-bottom:5px;   background-color:	rgb(128, 255, 255); height: 45px;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="save()" style="width:100px; margin-right: 30px; height: 35px; background:rgb(204, 238, 255)">Save</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeFormNV()"style="width:100px; margin-right: 30px; height: 35px; background:rgb(204, 238, 255)">Close</a>
        </div>
    </div>
</div>

<div id="frm-PhieuTiepNhanXe" class="easyui-window" title="Nhân viên"
     data-options="iconCls:'icon-setting',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
     style="width:500px;height:400px;padding:1%;background: #60b7a9; box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
                                                                        background-color: rgb(128, 255, 255); /*làm nhạt nền khung*/
                                                                        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);">
    <!--nền ngoài-->
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:true" style="padding-left:1%;



                                                                        box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
                                                                        background-color: rgb(230, 255, 255); /*làm nhạt nền khung*/


                                                                        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);">
            <!--nền trong-->
            <fieldset>
                <legend></legend>
                <div style="margin: 0 0 0 0.5%">
                    <input id="txtBienSo" class="easyui-textbox easyui-validatebox"
                           data-options="required:true,width:'250px',labelWidth:'100px',missingMessage:'Biển số xe không được để trống'"
                           label="Biển số:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txtMaHieuXe" class="easyui-combobox" data-options="width:'350px',labelWidth:'100px'" label="Hiệu xe:" labelposition="left" />

                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txtPTNKhachHangId" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Mã khách hàng:" labelposition="left" />

                </div>
                <div style="margin: 1% 0 0 0.5%">
                    <input id="txtPTNTenKhachHang" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Tên khách hàng:" labelposition="left" />

                </div>

                <div style="margin: 1% 0 0 0.5%">
                    <input id="txtPTNDiaChi" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Địa chỉ:" labelposition="left" />

                </div>

                <div style="margin: 1% 0 0 0.5%">
                    <input id="txtPTNSoDienThoai" class="easyui-textbox" data-options="width:'350px',labelWidth:'100px'" label="Số điện thoại:" labelposition="left" />

                </div>

                <div style="margin: 1% 0 0 0.5%">
                    <input id="dtPTNNgayTiepNhan" class="easyui-datebox"
                           data-options="width:'350px',labelWidth:'100px',formatter:myformatterDMY,parser:myparserDMY" label="Ngày tiếp nhận" labelposition="left">
                </div>

            </fieldset>
        </div>

        <div data-options="region:'south',border:false" style="text-align:center;padding-top: 5px; padding-bottom:5px;   background-color:rgb(128, 255, 255); height: 45px;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="GetThongTinHoSoXe()" style="width:100px; margin-right: 30px; height: 35px; background: rgb(230, 255, 255);">Save</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeFormTNX()" style="width:100px; margin-right: 30px; height: 35px; background: rgb(230, 255, 255);">Close</a>
        </div>
    </div>
</div>


@section scripts {
    @*<script src="~/ViewModels/utils.js"></script>*@
    <script src="~/ViewModels/com.format.date.js"></script>
    <script src="~/Scripts/serializeObjects.js"></script>
    <script src="~/Scripts/view.khachhang.js"></script>
}
<script type="text/javascript">



</script>



