﻿
@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<style type="text/css">
    .tree-icon {
        display: none;
    }
    /**/
    fieldset {
        margin: 4%;
        padding: 2% 2% 1%;
        border: 1px solid #33cccc;
        border-radius: 8px;
        width: 92%;
        /***box-shadow: 0 0 3px #95B8E7; ***/
    }
    /**/
    legend {
        padding: 2px 1%;
        background: #33cccc;
        width: 26%;
        border: none;
        font-size: 12px;
        font-weight: bold;
    }

    fieldset label {
        width: 10%;
    }

    .headerCls {
        text-align: center;
    }
</style>

<div class="easyui-layout" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%; ">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-PhieuThuTien" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', checkOnSelect:false,toolbar: '#tb', rownumbers:true, pagination:true">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'HoSoId',align:'center',width:'12%',halign:'center'"><span class="center-header">Mã hồ sơ</span>  </th>

                </tr>
            </thead>
            <thead id="t1">
                <tr>

                    <th data-options="field:'BienSo',width:'12%',halign:'center'"><span class="center-header">Biển số</span> </th>
                    <th data-options="field:'TenHieuXe',width:'15%',halign:'center'"><span class="center-header">Hiệu xe</span> </th>
                    <th data-options="field:'TenKhachHang',width:'20%',halign:'center'"><span class="center-header">Tên khách hàng</span> </th>
                    <th data-options="field:'NgayTiepNhan',width:'20%',halign:'center'"><span class="center-header">Ngày tiếp nhận</span></th>
                    <th data-options="field:'TienDo',width:'20%',halign:'center',align:'center'"><span class="center-header">Tiến độ</span> </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="tb" class="menu-ctrl" style="height: 50px; padding: 0.1%;margin-bottom:10px; ">
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" style="width:280px; height: 32px; color:#000000; border: 1px solid rgba(255, 255, 255, 0.43); background-color:#adebeb; margin-right:10px; margin-left:10px; margin-top:5px;" onclick="lapphieuthutien()">Lập phiếu thu tiền</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" style="width:100px; height: 32px; color:#000000; border: 1px solid rgba(255, 255, 255, 0.43); background-color:#adebeb; margin-right:10px; margin-left:10px; margin-top:5px;" onclick="refresh()">Refresh</a>
    <a data-options="plain:false">|</a>
    <input id="dd" type="text" data-options="formatter:myformatterDMY,parser:myparserDMY" class="easyui-datebox" style=" width:200px; height: 32px; margin-top: 5px;">
</div>

<div id="frm-PhieuThuTien" class="easyui-window" title="Phiếu thu tiền"
     data-options="iconCls:'icon-setting',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
     style="width:600px;height:250px;padding:1%; background: #60b7a9; box-shadow: 0 6px 43px 0 rgba(0, 0, 0, 0.4);
                                                                        background-color: rgb(230, 255, 255); /*làm nhạt nền khung*/
                                                                        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);">">
    <div style="margin:1% 0 1% 0.5%">
        <input id="txtTenKhachHangPTT" class="easyui-textbox" data-options="width:'250px',labelWidth:'100px'" label="Tên chủ xe:" labelposition="left" />
        <input id="txtNgayThuTien" class="easyui-datebox"
               data-options="width:'250px',labelWidth:'100px',formatter:myformatterDMY,parser:myparserDMY"
               label="Ngày thu tiền:" labelposition="left" style="padding-left: 50px">
    </div>
    <div style="margin: 1% 0 0 0.5%">
        <input id="txtBienSoPTT" class="easyui-textbox" data-options="width:'250px',labelWidth:'100px'" label="Biển số:" labelposition="left" />
        <input id="txtSoDienThoaiPTT" class="easyui-textbox" data-options="width:'250px',labelWidth:'100px'" label="Số điện thoại" labelposition="left" />
    </div>
    <div style="margin: 1% 0 1% 0.5%">
        <input id="txtEmailPTT" class="easyui-textbox" data-options="width:'250px',labelWidth:'100px'" label="Email:" labelposition="left" />
        <input id="txtSoTienThu" class="easyui-textbox" data-options="width:'250px',labelWidth:'100px'" label="Số tiền thu: " labelposition="left" />
    </div>
    <div style="margin: 1% 0 1% 0.5%">
        <input id="txtTongTien" class="easyui-textbox" data-options="width:'250px',labelWidth:'100px'" label="Tổng tiền: " labelposition="left" />
    </div>
    <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0; margin-right: 50px;">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="savePTT()" style="width:100px; margin-right: 10px; height: 35px; background: #adebeb;">Save</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeFormPTT()" style="width:100px; margin-right: 10px; height: 35px; background: #adebeb;">Close</a>
    </div>
</div>

@section scripts {
    @*<script src="~/ViewModels/utils.js"></script>*@
    <script src="~/ViewModels/com.format.date.js"></script>
    <script src="~/Scripts/serializeObjects.js"></script>
    <script src="~/Scripts/view.phieuthutien.js"></script>
}
<script type="text/javascript">



</script>



