﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../EasyUI/easyui.css" rel="stylesheet" type="text/css" />
    <link href="../EasyUI/icon.css" rel="stylesheet" type="text/css" />
    <script src="../EasyUI/jquery-1.11.3.js" type="text/javascript"></script>
    <script src="../EasyUI/jquery.easyui.min.js" type="text/javascript"></script>
    
    <style type="text/css">
        .easyui-layout { top: 0;left: 0;bottom: 0;right: 0;overflow: hidden;color: White;}

        #header-maincontainer {
            margin: 0 auto; /*Center container on page*/
            height: 70px;
            background: url('/Images/photo11.png');
            /*background: url('/Images/baner.png');*/
        }
        #header-contentwrapper {float: left;width: 100%;}

        #header-contentcolumn { text-align: center;color: #081E6A;font-size: 17px;
            margin: 0 190px 0 180px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
        }

        #header-leftcolumn {
            float: left;
            width: 180px; /*Width of left column in pixel*/
            margin-left: -100%; /*Set margin to that of -(MainContainerWidth)*/
            height:100%;
        }

        #header-leftcolumn img {height: 65px;padding-left: 30px;}
        #header-rightcolumn {
            float: left;
            text-align: right;
            width: 23%; /*Width of right column*/
            margin-left: -23%; /*Set left margin to -(RightColumnWidth)*/
        }

        #header-rightcolumn .login-info {vertical-align: middle;margin: 18px;}
        .innertube {
            margin: 22px; /*Margins for inner DIV inside each column (to provide padding)*/
            vertical-align: middle;
            text-align: center;
        }

        #user-name {
            color: White;
        }

        .bg-main_ {
            background: #f17513;
        }
    </style>

</head>
<body class="easyui-layout" data-options="fit:true" oncontextmenu="return false;" onselectstart="return false">
    <div id="main-layout" class="easyui-layout" style="width: 100%; height: 100%; overflow: hidden;">
        @*--Header--*@
        <div id="header-maincontainer" data-options="region:'north'">

            <div id="header-contentwrapper">
                <div id="header-contentcolumn">
                    <div class="innertube">
                        <b style="margin: auto; text-decoration:none; color: White;text-shadow:50px; font-size:25px;">PHẦN MỀM QUẢN LÝ GARA</b>
                    </div>
                </div>
            </div>
            <div id="header-leftcolumn">
                <img src="../Images/logo.png" alt="" />
            </div>
            <div id="header-rightcolumn">
                <div class="login-info">
                    <p>
                        <a style="margin-right: 5px; font-weight: bold; color:#ffffb3; font-size: 16px; "> XIN CHÀO!</a> <em id="user-name" style="margin-right:10px;"></em>
                        <button id="bt-logout" type="button" class="btn btn-success btn-md">
                            <span class="glyphicon glyphicon-log-out"></span>Đăng xuất
                        </button>
                    </p>
                </div>
            </div>
        </div>

        @*--Buttom--*@
        <div data-options="region:'south',split:true,maxHeight:26,minHeight:26" style="background-color: #ffbf80;">
            <p style="text-align: center; margin: auto auto;  font-weight: bold;">&copy; 2019 - Công Ty TNHH Phát Triển Công Nghệ QLA-01</p>
        </div>

        @*--Left--*@
        <div data-options="region:'west',split:true,hideCollapsedContent:false,iconCls:'icon-organization'" class="bg-main" title="Chức Năng" style="width:250px;" onselectstart="return false;">
            <div class="easyui-layout" data-options="fit:true">

                <div data-options="region:'center'"
                     style="  border-right: none; border-bottom: none; height: 10px; background: url('/Images/photod.jpg');">

                    <ul id="left-menu"></ul>
                </div>

            </div>

        </div>

        @*--Center--*@
        <div data-options="region:'center'" style="overflow:hidden;">
            <div id="main-tabs" class="easyui-tabs" data-options="border:false,fit:true"
                 style="width: 100%; height: 100%; overflow: hidden;">
                <div title="Trang bắt đầu" data-options="id:'00'" style="background-color: #E3FFBF;">
                </div>
            </div>
        </div>

    </div>


    <div id="context-menu" class="easyui-menu" style="width:12%">
        @*<div onclick="iedNewDocument(this);">Mở phân tích</div>
            <div onclick="append()" data-options="iconCls:'icon-add'">Phân tích mới</div>
            <div onclick="removeit()" data-options="iconCls:'icon-remove'">Xóa</div>
            <div class="menu-sep"></div>
            <div onclick="CreateDirectory()">Thư mục mới</div>
            <div onclick="refresh()">Làm tươi</div>
            <div class="menu-sep"></div>
            <div onclick="expand()">Mở rộng</div>
            <div onclick="collapse()">Thu gọn</div>
            <div class="menu-sep"></div>
            <div onclick="rename()">Đặt lại tên</div>
            <div onclick="property()">Thuộc tính</div>*@
    </div>

    <div id="tabsMenu" class="easyui-menu" style="width:12%">
        <div data-options="name:'close'">Đóng tab</div>
        <div class="menu-sep"></div>
        <div data-options="name:'other'">Đóng các tab khác</div>
        <div data-options="name:'all'">Đóng tất cả</div>
    </div>

    <div id="frm-property" class="easyui-window" title="Thuộc tính"
         data-options="iconCls:'icon-property',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
         style="width:500px;height:40%;padding:5px;">
        <div class="easyui-layout" data-options="fit:true">
            <div data-options="region:'center',border:false">
                <table id="grid_property" class="easyui-propertygrid" style="width:100%; height:100%;" data-options="
                showGroup: true,showHeader:false,
                scrollbarSize: 0"></table>
            </div>
            <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="saveProperty();" style="width:80px">Lưu</a>
                <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeProperty()" style="width:80px">Đóng</a>
            </div>
        </div>
    </div>






    <script type="text/javascript">


        /*** Khai bao bien ***/
        var pageX = 0, pageY = 0;
        var addNode = false;
        $(document).ready(function () {
            //Call ViewBag
            // var kq = '@ViewBag.Title';
            /***
            var data = [
	                { "name": "Tên thư mục", "value": "Bill Smith", "group": "Thông tin chung", "editor": "text" },
	                { "name": "Mô tả", "value": "", "group": "Thông tin chung", "editor": "text" },

                    { "name": "Chuỗi bắt đầu", "value": "", "group": "Quy ước phát sinh số", "editor": "text" },
                    //{ "name": "sss", "value": "", "group": "Quy ước phát sinh số", "editor": "text" },
                     {
                         "name": "Ký tự ngăn cách mã số", "value": "", "group": "Quy ước phát sinh số", "editor": {
                             "type": "combobox",
                             "options": {
                                 "editable:": false,
                                 "valueField": 'id',
                                 "textField": 'text',
                                 "data": [{ "id": "-", "text": "-" }, { "id": " ", "text": " " }, { "id": "_", "text": "_" }]
                             }
                         }
                     },

                     {
                         "name": "Số chữ số", "value": "", "group": "Quy ước phát sinh số", "editor": {
                             "type": "numberspinner",
                             "options": { "min:": 0 ,"max:":100,"editable:":false}
                         }
                     },

                    { "name": "Số bắt đầu", "value": "0", "group": "Quy ước phát sinh số", "editor": "numberbox" },
                    { "name": "Số kết thúc", "value": "0", "group": "Quy ước phát sinh số", "editor": "numberbox" }
            ];
            ***/
            //$('#grid_property').propertygrid({ data: data });

            $(window).bind('keydown', function (event) {
                if (event.ctrlKey || event.metaKey) {
                    event.preventDefault();

                }
            });

            $("#bt-logout").click(function () {
                LogOut();
            });

            IniCalendar();
            GetUserLogin();
            GetAll();

            //Initialize MainTab =======================================================================
            $('#main-tabs').tabs({
                onSelect: function (title) {
                    //if (!CheckLogin())
                    //    return;
                    var node = $('#left-menu').tree('getSelected'); // get selected  nodes
                    var tab = $(this).tabs('getSelected');
                    if (node != null) {
                        if (tab[0].id != '' && tab[0].id != node.id) {
                            /*** Tìm ***/
                            var nodeFind = $('#left-menu').tree('find', tab[0].id);
                            if (nodeFind != null)
                                $('#left-menu').tree('select', nodeFind.target);
                        }
                    }
                },
                onContextMenu: function (e, title, index) {
                    e.preventDefault();
                    $('#main-tabs').tabs('select', title);
                    $('#tabsMenu').menu('show', { left: e.pageX, top: e.pageY });

                }
            }); //End #main-tabs

            //Initialize Tab Menu=======================================================================
            $("#tabsMenu").menu({
                onClick: function (item) {
                    CloseTab(item);
                }
            });//

        });  //End document ready==================================================================================================================

        function IniCalendar() {
            //months
            $('#calendar').calendar({
                months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            });
        }
        function addTab(id, title, url) {
            if (CheckPermmision(id)) {

                var tabIndex = -1, IsChanged = false;
                var tabs = $("#main-tabs");
                var allTabs = tabs.tabs("tabs");
                for (var i = 1 ; i < allTabs.length; i++) {
                    var opt = allTabs[i].panel("options");
                    if (opt.id == id) {
                        tabIndex = i;
                        if (opt.title != title)
                            IsChanged = true;
                        break;
                    }
                }
                if (tabIndex != -1) {
                    $('#main-tabs').tabs('select', tabIndex);
                    if (IsChanged)
                        $('#main-tabs').tabs('update', { tab: allTabs[tabIndex], options: { title: title } });
                }
                else {
                    /*** Ngược lại thêm tab mới ***/
                    var content = '<iframe id=' + id + ' class="iframe" scrolling="no" frameborder="0"  src="' + url + '" style="width:100%;height:99%;overflow:hidden;"></iframe>';
                    $('#main-tabs').tabs('add', {
                        title: title,
                        id: id,
                        content: content,
                        fit:true,
                        closable: true
                    }); //End #main-tabs
                }

            } else
                $.messager.alert('Thông báo', 'Bạn không có quyền truy cập chức năng này!');
        } //End function addTab=======================================================================================================================

        //http://www.cnblogs.com/netuml/archive/2013/04/03/2998309.html
        function CloseTab(menuItem) {
            //alert(menuItem.name);
            var tabs = $("#main-tabs");
            var curTab = tabs.tabs('getSelected').panel("options");
            if (curTab.id == "intro")
                return;
            if (menuItem.name == "close") {
                tabs.tabs('close', curTab.title);
                return;
            }
            /*** Lấy tất cả các tab ***/
            var allTabs = tabs.tabs("tabs");
            var count = allTabs.length;
            if (menuItem.name == "all") {
                /*** Đóng tất cả các tab trừ tab đầu tiên ***/
                for (var i = count - 1 ; i > 0; i--) {
                    //var opt = allTabs[i].panel("options");
                    //if (opt.id != '00')
                        tabs.tabs("close", i);
                }
            } else if (menuItem.name == "other") {
                /*** Đóng tất cả các tab trừ tab hiện tại đang chọn và tab đầu tiên ***/
                for (var i = count - 1 ; i > 0; i--) {
                    var opt = allTabs[i].panel("options");
                    if (opt.id != '00' && opt.id != curTab.id)
                        tabs.tabs("close", i);
                }
                $('#main-tabs').tabs('select', curTab.title);
            }
        }

        function convert(rows) {
            function exists(rows, parentId) {
                for (var i = 0; i < rows.length; i++) {
                    if (rows[i].id == parentId) return true;
                }
                return false;
            }

            var nodes = [];
            // get the top level nodes
            for (var i = 0; i < rows.length; i++) {
                var row = rows[i];
                if (!exists(rows, row.MenuParent)) {
                    nodes.push({
                        id: row.id,
                        text: row.text,
                        MenuParent: row.MenuParent,
                        url: row.url,
                        ContextMenuId: row.ContextMenuId,
                        ContextMenuIdFile: row.ContextMenuIdFile,
                        DefaultUrl:row.DefaultUrl,
                        state: "closed",
                        sort: row.Sort,
                        iconCls: row.iconCls,
                        MoTa: row.MoTa, ChuoiBatDau: row.ChuoiBatDau, KyTuCach: row.KyTuCach, SoChuSo: row.SoChuSo, SoBatDau: row.SoBatDau, SoKetThuc: row.SoKetThuc,MenuType:row.MenuType
                    });
                }
            }

            if (newNode != null) {
                return nodes;
            }

            var toDo = [];
            for (var i = 0; i < nodes.length; i++) {
                toDo.push(nodes[i]);
            }

            while (toDo.length) {
                var node = toDo.shift(); // the parent node
                // get the children nodes
                for (var i = 0; i < rows.length; i++) {
                    var row = rows[i];
                    if (row.MenuParent == node.id) {
                        var child;
                        if (row.url == "") {
                            child = {
                                id: row.id, text: row.text, MenuParent: row.MenuParent, url: "", state: "closed", sort: row.Sort, iconCls: row.iconCls,
                                ContextMenuId: row.ContextMenuId, ContextMenuIdFile: row.ContextMenuIdFile, DefaultUrl: row.DefaultUrl,
                                MoTa: row.MoTa, ChuoiBatDau: row.ChuoiBatDau, KyTuCach: row.KyTuCach, SoChuSo: row.SoChuSo, SoBatDau: row.SoBatDau, SoKetThuc: row.SoKetThuc,MenuType:row.MenuType
                            };
                        }
                        else {
                            child = {
                                id: row.id, text: row.text, MenuParent: row.MenuParent, url: row.url, iconCls: row.iconCls, sort: row.Sort,
                                ContextMenuId: row.ContextMenuId, ContextMenuIdFile: row.ContextMenuIdFile, DefaultUrl: row.DefaultUrl,
                                MoTa: row.MoTa, ChuoiBatDau: row.ChuoiBatDau, KyTuCach: row.KyTuCach, SoChuSo: row.SoChuSo, SoBatDau: row.SoBatDau, SoKetThuc: row.SoKetThuc,MenuType:row.MenuType
                            };
                        }

                        if (node.children) {
                            node.children.push(child);
                        } else {
                            node.children = [child];
                        }
                        toDo.push(child);
                    }

                }

            }
            return nodes;
        } //End function convert======================================================================================================================

        //  /api/v1.0/Todo/GetTodo
        function GetAll() {
            $.ajax({
                url: '/api/v1/MenuMaster/GetAll',
                type: "GET",
                dataType: "json",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $('#left-menu').tree({
                        method: 'get',
                        animate: true,
                        lines: true,
                        data: $.parseJSON(data),
                        loadFilter: function (data, target) {
                            return convert(data);
                        },
                        onSelect: function (node) {
                            if (node.url != null &&
                                node.url != '') {
                                //addTab(node.id, node.text, node.url);
                            }
                        },
                        onDblClick: function (node) {
                            if (node.url == "") {
                                if (node.state == "open") {
                                    node.state = "closed";
                                    $(this).tree('collapse', node.target);
                                }
                                else {
                                    node.state = "open";
                                    $(this).tree('expand', node.target);
                                }
                            } else {
                                var newUrl = node.url + "?id=" + node.id;
                                addTab(node.id, node.text, newUrl);
                                //addTab(node.id, node.text, node.url);
                            }
                        },
                        onContextMenu: function (e, node) {
                            e.preventDefault();
                            /*** Khi nhấn chuột phải đồng thời chọn node ***/
                            $(this).tree('select', node.target);
                            if (node.ContextMenuId != "") {
                               $('#context-menu').menu('clear');
                               bindingContextMenu(node.id, node.ContextMenuId);
                               pageX = e.pageX;
                               pageY = e.pageY;
                            }
                        }, onAfterEdit: function (node) {
                            //Sau khi sua, thi cap nhat lai
                            Rename(node.id, node.text, node.url);

                        }

                    }); //End #left-menu
                },
                error: function (response) {
                    //alert(response.d);
                    //window.location.href = "/Login.aspx";
                }
            });
        } //end function GetAll=======================================================================================================================

        $.extend($.fn.menu.methods, {
            clear: function (jq) {
                return jq.each(function () {
                    var m = $(this);
                    m.children('div.menu-item,div.menu-sep').each(function () {
                        m.menu('removeItem', this);
                    });
                });
            }
        });

        /*** Load ContextMenu theo MenuId ***/
        function bindingContextMenu(MenuId, ContextMenuId) {
            $.ajax({
                url: "/api/v1/MenuMaster/GetContextMenu?MenuId=" + MenuId + "&ContextMenuId=" + ContextMenuId + "&MenuIdMain=" + MenuId,
                type: "GET",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var row = $.parseJSON(data);
                    $(function () {
                        $.each(row, function (i, item) {
                            if (item.text == '-') {
                                $('#context-menu').menu('appendItem', {
                                    separator: true
                                });
                            } else {
                                var menuSelected = $('#left-menu').tree('getSelected');
                                var isDisabled = item.disabled;
                                if (item.Id.indexOf('.pase') > 0 && itemCopy != null) { // Kiểm tra nếu là menu dán và itemCopy!=null
                                    if (menuSelected.url != null && $.trim(menuSelected.url) != "" && menuSelected.url == itemCopy.url)
                                        isDisabled = false;
                                    else if ((menuSelected.url == null || $.trim(menuSelected.url) == "") && menuSelected.DefaultUrl == itemCopy.url)
                                        isDisabled = false;
                                    else isDisabled = true;

                                } else if (item.Id.indexOf('.pase') > 0)
                                    isDisabled = true;
                                if (menuSelected.url == null ||$.trim(menuSelected.url) == "") {
                                    if (item.Id.indexOf('.copy') > 0)
                                        isDisabled = true;
                                }

                                $('#context-menu').menu('appendItem', {
                                    id: item.Id
                                    , text: item.text
                                    , disabled: isDisabled
                                    , iconCls: item.iconCls
                                    , onclick: item.onclick
                                });
                            }
                        });//End each
                    });//End $function

                    /*** Hiện ContextMenu ***/
                    $('#context-menu').menu('show', { left: pageX, top: pageY });
                },
                error: function (response) {
                    //alert(response.d);
                }
            });
        } //end function GetAll=======================================================================================================================

        var itemCopy = null;
        function copy(menuItem) {
            //alert("Copy");
            itemCopy = $('#left-menu').tree('getSelected');
            //alert(JSON.stringify(itemCopy));
        }

        function pase(menuItem) {
            alert("pase");
        }

        function Rename(MenuId, MenuName, Url) {
            $.ajax({
                url: "/api/v1/MenuMaster/Rename?id=" + MenuId + "&name=" + MenuName + "&url=" + Url,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (Url == null || Url == "") return;
                    var newUrl = Url + "?id=" + MenuId;
                    addTab(MenuId, MenuName, newUrl);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        } //end function GetAll=======================================================================================================================

        function LogOut() {
            $.ajax({
                url: '/api/v1.0/Account/Logout',
                type: "POST",
                dataType: "json",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    window.location.href = data;
                },
                error: function (response) {
                    //alert("LogOut: " + response.d);
                    window.location.href = "/Login.aspx";
                }
            });
        } // end function Logout=====================================================================================================================

        function GetUserLogin() {
            var UserName = "";
            $.ajax({
                url: '/api/v1.0/Account/GetUserLogin',
                type: "GET",
                dataType: "json",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    UserName = data;
                    //alert(data);
                    $('#user-name').html(data);
                },
                error: function (response) {
                    window.location.href = "/Login.aspx";
                    //alert("GetUserLogin: " + response.d);
                }
            });

            return UserName;
        } // end function Logout=====================================================================================================================

        function CheckPermmision(MenuId) {
            //async: false; Nghĩa là khi một request về Server thì tất cả các request tiếp theo cần phải chờ cho đến khi Request ajax này xử lý xong mới được xử lý tiếp. Do đó với các xử lý từ Server mà lâu thì các tiến trình tiếp theo sẽ phải chờ đợi lâu cho đến khi kết thúc.
            //async: true; nghĩa là sau khi bạn click button ajax request về server. Bạn hoàn toàn có thể thực hiện gửi tiếp các yêu cầu xử lý khác về server.
            var has = false;
            $.ajax({
                url: '/api/v1/MenuMaster/CheckPermmision?MenuId=' + MenuId,
                type: "GET",
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data == "false") has= false;
                    else has = true;
                },
                error: function (response) {
                    has= false;
                }
            });
            return has;
        } // end function CheckLogin=================================================================================================================

        function opendocument(menuItem) {
            /*** Lấy node chọn ***/
            var node = $("#left-menu").tree("getSelected");
            if (node == null || node.url == null || node.url == "") return;
            /** Có url thì mới thêm tab ứng dụng ***/
            addTab(node.id, node.text, node.url);
        }

        function iedNewDocument(menuItem) {
            /*** Tạo tài liệu (có url)***/
            CreateNode("/IED/Analysis");
            //alert(menuItem.id);
        }

        function CreateDirectory(menuItem) {
            //alert(menuItem.id);
            /*** Tạo thư mục (không có url)***/
            CreateNode("");
        }

        function GetIdDm() {
            var id_dm = "";
            $.ajax({
                url: '/api/v1/MenuMaster/GetIdDm',
                type: "GET",
                async: false, //Chờ khi request này thực hiện thành công thì mới làm request khác
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.indexOf("ERROR:") >= 0)
                        id_dm = "";
                    else
                        id_dm = data;
                },
                error: function (response) {
                    alert(response.d);
                }
            });
            return id_dm;
        } //end function GetIdDm()===================================================================================================================

        var newNode;
        function CreateNode(url) {
            var id_dm = GetIdDm();
            var node = $('#left-menu').tree('getSelected');
            if (node == null || id_dm=='') return;
            var MenuName = "New Folder", Sort = 0;
            var newid = id_dm;
            //var newid = node.id + "." + id_dm;
            /*** Mặc định ***/
            var ContextMenuId = node.ContextMenuId,
                ContextMenuIdFile = node.ContextMenuIdFile,
                DefaultUrl = node.DefaultUrl;
            if (url != "") {
                /*** Nếu node có url thì node đó quy ước là file tài liệu ***/
                MenuName = "New File";
                /*** Gán ContextMenuId=ContextMenuId thuộc loại là File ***/
                 ContextMenuId = node.ContextMenuIdFile;
                 ContextMenuIdFile = "";
                 DefaultUrl = "";
                /*** Gán url = DefaultUrl (url mặc định của ứng dụng) ***/
                 url = node.DefaultUrl;
            }

            // return;
            $.ajax({
                url: "/api/v1/MenuMaster/Update?MenuId=" + newid + "&MenuName=" + MenuName + "&MenuParent=" + node.id +
                    "&ContextMenuId=" + ContextMenuId + "&ContextMenuIdFile=" + ContextMenuIdFile +
                    "&Url=" + url + "&DefaultUrl=" + DefaultUrl + "&Sort=" + Sort + "&MenuType=" + node.MenuType,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.indexOf("ERROR.") > -1) {
                        if (data.indexOf('#') > 0)
                            alert(data.substring(data.indexOf('#'), data.length));
                        else
                            alert(data);
                        return;
                    }
                    /*** Nhận tên mới từ server gửi về ***/
                    MenuName = data;
                    /*** Tạo node mới ***/
                    newNode = {
                        id: newid, MenuParent: node.id, state: "closed", text: MenuName, url: url, sort: 0,
                        ContextMenuId: ContextMenuId, ContextMenuIdFile: ContextMenuIdFile, DefaultUrl: DefaultUrl,
                        MoTa: "", ChuoiBatDau: "", KyTuCach: '', SoChuSo: 0, SoBatDau: 0, SoKetThuc: 0, MenuType: node.MenuType
                    };

                    /*** Thu gọn tree node ***/
                    $('#left-menu').tree('collapse', node.target);
                    /*** Thêm node ***/
                    $('#left-menu').tree('append', {
                        parent: node.target,
                        data: newNode
                    });

                    showMsg(url);
                    /*** Mở rộng node ***/
                    $('#left-menu').tree('expand', node.target);
                    /*** Tìm node mới thêm ***/
                    node = $('#left-menu').tree('find', newNode.id);
                    /*** Chọn node mới thêm ***/
                    $('#left-menu').tree('select', node.target);
                    if (url != "") {
                        $('#left-menu').tree('update', { target: node.target, iconCls: 'icon-file' });
                    }
                    /*** Bắt đầu sửa tên ***/
                    $('#left-menu').tree('beginEdit', node.target);
                },
                error: function (response) {
                    //alert(response.d);
                }
            });

            //$('#dlg').dialog({
            //    closed: false,
            //    left: pageX,
            //    top: pageY
            //});
        }

        function rename(menuItem) {
            var node = $('#left-menu').tree('getSelected');
            $('#left-menu').tree('beginEdit', node.target);
        }
        function collapse(menuItem) {
            var node = $('#left-menu').tree('getSelected');
            $('#left-menu').tree('collapse', node.target);
        }
        function expand(menuItem) {
            var node = $('#left-menu').tree('getSelected');
            $('#left-menu').tree('expand', node.target);
        }
        function removeit(menuItem) {
            var node = $('#left-menu').tree('getSelected');
            var Id = node.id, ParentId = node.MenuParent;
            $.messager.confirm('Xác nhận', 'Bạn có chắc xóa chứ?', function (r) {
                if (r) {
                    $.ajax({
                        url: "/api/v1/MenuMaster/Delete?id=" + Id,
                        type: "POST",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            if (data == 'true') {
                                var title = node.text;

                                /*** Khi xóa ở Database thành công thì tiến hành xóa node ***/
                                $('#left-menu').tree('remove', node.target);
                                node = $('#left-menu').tree('find', ParentId);
                                /*** Chọn node ***/
                                $('#left-menu').tree('select', node.target);
                                /*** Kiểm tra trang thái ***/
                                if (node.state=='open')
                                    node.iconCls = "icon-folder-open";
                                else
                                    node.iconCls = "icon-folder";
                                /*** Cập nhật lại node ***/
                                $('#left-menu').tree('update', { target: node.target })

                                /*** Đóng Tab được mở **/
                                closeTab(title);
                            }
                        },
                        error: function (response) {
                            alert("removeit.Error: " + response.d);
                            //window.location.href = "/Login.aspx";
                        }
                    });//End ajax
                }
            });
            //
        }

        function closeTab(title) {
            var tabs = $("#main-tabs");
            var allTabs = tabs.tabs("tabs");

            for (var i = 1 ; i < allTabs.length; i++) {
                var opt = allTabs[i].panel("options");
                if (opt.title == title)
                    tabs.tabs("close", i);
            }
        }

        function property(menuItem) {
            var node = $('#left-menu').tree('getSelected');
            var enable = false;
            var fmenu = $('#context-menu').menu('findItem', 'Đặt lại tên'); /*** Tìm menu đặt lại tên***/
            if (fmenu != null)
                enable = fmenu.disabled;
            var data = [];
            /*** Nhóm thông tin chung ***/
            data.push({ "name": "Tên thư mục", "value": node.text, "group": "Thông tin chung", "editor": { "type": "textbox", "options": { editable: !enable } } });
            data.push({ "name": "Mô tả", "value": node.MoTa, "group": "Thông tin chung", "editor": "text" });

            /*** Nhóm Quy ước phát sinh số ***/
            data.push({ "name": "Chuỗi bắt đầu", "value": node.ChuoiBatDau, "group": "Quy ước phát sinh số", "editor": { "type": "textbox", "options": { validType: ['name', 'length[0,10]'], invalidMessage: "Vượt quá 10 ký tự" } } });
            data.push({
                "name": "Ký tự ngăn cách mã số", "value": node.KyTuCach, "group": "Quy ước phát sinh số", "editor": {
                    "type": "combobox", "options": { editable: false, "valueField": 'id', "textField": 'text',
                        "data": [{ "id": "-", "text": "-" }, { "id": " ", "text": " " }, { "id": "_", "text": "_" }] }
                }
            });
            data.push({
                "name": "Số chữ số", "value": node.SoChuSo, "group": "Quy ước phát sinh số", "editor": {
                    "type": "numberspinner",
                    "options": { min: 0, max: 100, required: true, missingMessage: "Yêu cầu nhập"}
                }
            });
            //data.push({ "name": "Số bắt đầu", "value": node.SoBatDau, "group": "Quy ước phát sinh số", "editor": { "type": "numberbox", "options": { required: true, missingMessage: "Yêu cầu nhập" } } });
            //data.push({ "name": "Số kết thúc", "value": node.SoKetThuc, "group": "Quy ước phát sinh số", "editor": { "type": "numberbox", "options": { required: true, missingMessage: "Yêu cầu nhập" } } });

            /*** Binding propertygrid ***/
            $('#grid_property').propertygrid({ data: data });
            /*** Hiện form Property ***/
            $("#frm-property").window("open");
        }

        function closeProperty() {
            /*** Đóng form Property ***/
            $("#frm-property").window("close");
        }

        function saveProperty() {
            var newNode;
            var rows = $('#grid_property').propertygrid('getChanges');
            var node;
            if (rows.length > 0) {
                node = $('#left-menu').tree('getSelected');
                newNode = {
                    id: node.id, text: node.text, MoTa: node.MoTa, ChuoiBatDau: node.ChuoiBatDau,
                    KyTuCach: node.KyTuCach, SoChuSo: node.SoChuSo, SoBatDau: node.SoBatDau, SoKetThuc: node.SoKetThuc
                };
                for (var i = 0; i < rows.length; i++) {
                    //s += rows[i].name + ':' + rows[i].value + ',';
                    switch (rows[i].name) {
                        case "Tên thư mục": newNode.text = rows[i].value; break;
                        case "Mô tả": newNode.MoTa = rows[i].value; break;
                        case "Chuỗi bắt đầu": newNode.ChuoiBatDau = rows[i].value; break;
                        case "Ký tự ngăn cách mã số": newNode.KyTuCach = rows[i].value; break;
                        case "Số chữ số": newNode.SoChuSo = rows[i].value; break;
                        case "Số bắt đầu": newNode.SoBatDau = rows[i].value; break;
                        case "Số kết thúc": newNode.SoKetThuc = rows[i].value; break;
                        default: break;
                    }
                }
            }/*** End rows.length>0 ***/
            else
                closeProperty();

            if (newNode != null) {
                //alert(newNode.KyTuCach);
                $.ajax({
                    url: "/api/v1/MenuMaster/SaveProperty?id=" + newNode.id + "&name=" + newNode.text
                           + "&MoTa=" + newNode.MoTa + "&ChuoiBatDau=" + newNode.ChuoiBatDau + "&KyTuCach=" + newNode.KyTuCach
                           + "&SoChuSo=" + newNode.SoChuSo + "&SoBatDau=" + newNode.SoBatDau + "&SoKetThuc=" + newNode.SoKetThuc + "&MenuType=" + "",
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data == "true") {
                            node.text = newNode.text;
                            node.MoTa = newNode.MoTa;
                            node.ChuoiBatDau = newNode.ChuoiBatDau;
                            node.KyTuCach = newNode.KyTuCach;
                            node.SoChuSo = newNode.SoChuSo;
                            node.SoBatDau = newNode.SoBatDau;
                            node.SoKetThuc = newNode.SoKetThuc;
                            $('#left-menu').tree('update', { target: node.target })
                            closeProperty();
                        }
                    },
                    error: function (response) {
                        alert(response.d);
                    }
                });
            }
        }

        function showMsg(msg) {
            $("#msg").text(msg);
        }

        function updateNode(text) {
            /*** Cập nhật lại Text của left menu được chọn ***/
            var node = $('#left-menu').tree('getSelected');
            if (node) {
                $('#left-menu').tree('update', {
                    target: node.target,
                    text: text.toUpperCase()
                });
            }
            /*** Cập nhật lại Title của tab đang chọn ***/
            var tab = $('#main-tabs').tabs('getSelected');  // get selected panel
            if (tab)
                $('#main-tabs').tabs('update', {
                    tab: tab, options: { title: text.toUpperCase() }
                });
        }

        function getSelected()
        {
            return $('#left-menu').tree('getSelected');
        }

        function showMessager(title, msg) {
            $.messager.show({
                title: title, msg: msg, modal: true, timeout: 4000, showType: 'slide'
                , style: { right: '', bottom: '' }
            });
        }

        function bottomRight(title, msg) {
            $.messager.show({
                title: title,
                msg: msg,
                showType: 'show'
            });
        }

        function showAlert(title, msg, icon) {
            //icon: The icon image to be showed. Available value are: error,question,info,warning.
            $.messager.alert({
                title: title, msg: msg, modal: true, icon: icon
               , style: { right: '', bottom: '' }
            });
        }

        //Cài đặt thanh ProgressBar=================================================================================================
        function setProgress(title) {
            var win = $.messager.progress({
                title: title, modal: true, style: { right: '', bottom: '' }
            });

        }
        function setProgressMsg(msg) {
            var bar = $.messager.progress('bar');
            bar.progressbar({ text: msg });
        }

        function closeProgress() {
            setTimeout(function () {
                $.messager.progress('close');
            }, 700)
        }
        //End ====================================================================================================================

        function XacNhan(title, msg) {
            $.messager.confirm(title,msg, function (r) {
                if (r) { //Begin (r) =====================================
                    return true;
                }//End (r)==============================================
            });
            return false;
        }



    </script>
</body>


</html>

