﻿@{
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
<style type="text/css">
    .tree-icon {
        display: none;
    }
    .datagrid-cell span {
        font-weight: bold;
    }
    
</style>
<script type="text/javascript">
    var _url = "";
    var code = "31jl2eKEDPixq8cVs8Q+pPf1jJnZuJXz44jHdKDrHN7JPswCokMwXrgJZdzLGUuQ";
    $(document).ready(function () {
        var node = parent.getSelected();
        if (node == null) return;
        $.ajax({
            url: "/api/v1/Server/GetUrlByMenuId?MenuId=" + node.id,
            type: "GET",
            async: false,
            dataType: "json",
            success: function (data) {
                if (data == null) _url = "";
                else if (data.indexOf("ERROR:") >= 0)
                    _url = "";
                else
                    _url = data;
            },
            error: function (response) {
                _url
            }
        });

        //alert(_url + "/GetLineName");
        Initialize_Datagrid();
        refresh();
        //GetColor("9","W5112");
    });

    function Initialize_Datagrid() {
        $("#dg-list").datagrid({
            onLoadSuccess:function (data) {
                var panel = $(this).datagrid("getPanel");
                var myheaderCol = panel.find("div.datagrid-header td[field='Id_Pro']");
                // here is to add the css style
                //myheaderCol.css("background-color", "#003399");
            }
            ,onSelect: function (index, row) {
                //alert(row.Id_Pro + row.Style);
                GetColor(row.Id_Pro, row.Style);
                $("#dg-sizes").datagrid({
                    data: []
                });
            },
            rowStyler: function (index, row) {
                if (index % 2 > 0) {
                    return 'background-color:#A1DCF2';
                }
            }
        });
        


        var _d = new Date();
        var p = $("#dg-list").datagrid('getPager');
        $(p).pagination({
            pageSize: _pageSize
            , pageNumber: _selectedPage
            , showPageList: true
            , pageList: [10, 20, 30, 50,100]
            //, displayMsg: 'Data at: ' + _d.toTimeString().split(' ')[0] + ' -Displaying {from} to {to} of {total} items'
            , onSelectPage: function (pageNumber, pageSize) {
                $(this).pagination('loading');
                $(this).pagination('loaded');
                _selectedPage = pageNumber;
                _pageSize = pageSize;

                loadDataPaging(_url, pageNumber, pageSize);
            }
        });
        
    }
    function refresh() {
        loadDataPaging(_url, _selectedPage, _pageSize);
    }

    var _selectedPage = 1, _pageSize = 10;
    function loadDataPaging(url, selectedPage, pageSize) {
        var newUrl = url + "/LoadCatPaging?idcode='" + encodeURIComponent(code) + "'&selectedPage=" + _selectedPage + "&pageSize=" + _pageSize + "&format=json";
        $.ajax({
            url: newUrl,
            type: "GET",
            //async: false,
            crossDomain: true,
            timeout: 60000,
            contentType: "application/json; charset=utf-8",
            dataType: "jsonp",
            success: function (data) {
                if (data.d.indexOf("ERROR:") > -1) {
                    alert(data.d);
                    return;
                }

                try {
                    var json = data.d.replace(/\\n/g, "\\n").replace(/\\'/g, "\\'").replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f");
                    // remove non-printable and other non-valid JSON chars
                    json = json.replace(/[\u0000-\u0019]+/g, "");
                    var item = JSON.parse(json);
                    //$('#dg-list').datagrid('loadData', $.parseJSON(item.Tag));
                    $('#dg-list').datagrid('loadData', JSON.parse(item.Tag));

                    /*** Load phan trang ***/
                    var _d = new Date();
                    var p = $("#dg-list").datagrid('getPager');
                    
                    $(p).pagination('refresh', {
                        total: item.TotalRecords
                        , pageNumber: _selectedPage
                        ,displayMsg: 'Data at: ' + _d.toTimeString().split(' ')[0] + ' -Displaying {from} to {to} of {total} items'
                    });
                    //$(p).pagination('select', _selectedPage);
                    //$(p).pagination({
                    //    total: item.TotalRecords, pageNumber: item.TotalPages
                    //    ,displayMsg: 'Data at: ' + _d.toTimeString().split(' ')[0] + ' -Displaying {from} to {to} of {total} items'
                    //});
                } catch (e) {
                    alert("EEROR_parse_json: " + e.message);
                }

            }, error: function (response) { alert("EEROR_loadDataPaging: "+JSON.stringify(response)); }
        });
    }

    function formatStatus(value, row, index) {
        if (parseInt(value) == 1)
            return '<h6 class="easyui-linkbutton" style="background: url(\'/Images/i_1843.png\') no-repeat center center;width:32px;height:24px;margin:auto;" ></h6>';
        else if (parseInt(value) == 2)
            return '<h6 class="easyui-linkbutton" style="background: url(\'/Images/i_1844.png\') no-repeat center center;width:32px;height:24px;margin:auto;" ></h6>';
        else if (parseInt(value) == 3)
            return '<h6 class="easyui-linkbutton" style="background: url(\'/Images/finish_24.png\') no-repeat center center;width:32px;height:24px;margin:auto;" ></h6>';
        else if (parseInt(value) == 0)
            return '<h6 class="easyui-linkbutton" style="background: url(\'/Images/new_24.png\') no-repeat center center;width:32px;height:24px;margin:auto;" ></h6>';

        //return '<h6 class="easyui-linkbutton" style="background: url(\'/Images/i_1844.png\') no-repeat center center;width:19px;height:20px;margin:auto;" ></h6>';
        //return '<h6 class="easyui-linkbutton" style="background: url(\'/Images/' + imgName + '.png\') no-repeat center center;width:32px;height:24px;margin:auto;" ></h6>';
    }

    function ClearColor() {

    }
    function GetColor(Id_Pro, StyleID) {
        //var Id_Pro = "9", StyleID = "W5112";
        var newUrl = _url + "/GetCuttingColor?idcode='" + encodeURIComponent(code) + "'&Id_Pro='" + Id_Pro + "'&StyleID='" + StyleID + "'&format=json";
        //alert(newUrl);
        $.ajax({
            url: newUrl,
            type: "GET",
            dataType: "jsonp",
            crossDomain: true,
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data1) {
                //alert(data1.d);
                $("#ui-tree").treegrid({
                    lines: true,
                    singleSelect: true,
                    selectOnCheck: false,
                    checkOnSelect: false,
                    icons: false,
                    collapsible: false,
                    //loadFilter: myLoadFilter,
                    loader: function (param, success, error) {
                        if (!param.id) {
                            //data = treeGridData;   // retrieve the top level data.
                            //data = JSON.stringify(data1);
                            data = $.parseJSON(data1.d);
                            success(data);
                        }
                        else {
                            data = getData(param.id); // retrieve the children data of the current expanded node.
                            // this line still overrides the entire tree's data instead of appending the current data to the expanded parent
                            success(data);
                        }
                    },
                    onContextMenu: function (e, row) {
                       
                    },
                    onSelect: function (row) {
                        var grid = $("#dg-list").datagrid("getSelected");
                        if (row.Level == 0 || grid == null) return;
                        //alert(row.ColorID);
                        GetSize(grid.Id_Pro, grid.Style, row.ColorID);
                        
                    },
                    onDblClickCell: function (row) {
                       
                    }
                });


            },
            error: function (response) {
                //alert(response.d);
                //window.location.href = "/Login.aspx";
            }
        });
    } //end function GetAll=======================================================================================================================

    function GetSize(Id_Pro, StyleID, ColorID_ProductTypeID) {
        //var Id_Pro = "9", StyleID = "W5112";

        var newUrl = _url + "/GetCuttingSize?idcode='" + encodeURIComponent(code) + "'&Id_Pro='" + Id_Pro + "'&StyleID='" + StyleID + "'&ColorID_ProductTypeID='" + ColorID_ProductTypeID + "'&format=json";
        //alert(newUrl + ColorID_ProductTypeID);
        //return;
        $.ajax({
            url: newUrl,
            type: "GET",
            dataType: "jsonp",
            crossDomain: true,
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //alert(data.d);
                $("#dg-sizes").datagrid({
                    data: $.parseJSON(data.d),
                    onSelect: function (index, row) {
                    },
                    rowStyler: function (index, row) {
                        if (index % 2 > 0) {
                            return 'background-color:#A1DCF2';
                        }
                    }
                });
            },
            error: function (response) {
                //alert(response.d);
                //window.location.href = "/Login.aspx";
            }
        });
    } //end function GetAll=======================================================================================================================

    function myLoadFilter(data, parentId) {
        
        function setData(data) {
            var todo = [];
            for (var i = 0; i < data.length; i++) {
                todo.push(data[i]);
            }
            while (todo.length) {
                var node = todo.shift();
                if (node.children && node.children.length) {
                    node.state = 'closed';
                    node.children1 = node.children;
                    node.children = undefined;
                    todo = todo.concat(node.children1);
                }
            }
        }

        setData(data);
        var tg = $(this);
        var opts = tg.treegrid('options');
        opts.onBeforeExpand = function (row) {
            if (row.children1) {
                tg.treegrid('append', {
                    parent: row[opts.idField],
                    data: row.children1
                });
                row.children1 = undefined;
                tg.treegrid('expand', row[opts.idField]);
            }
            return row.children1 == undefined;
        };
        return data;
    }

    function formatField(value, row, index) {
        return '<span style="">' + value.toLocaleString() + '</span>';
    }
</script>

<div class="easyui-layout" style="width: 100%; min-height: 100%; padding: 0.1%;">
    <div data-options="region:'north',title:'',split:true,collapsible:false,border:false"
         style="height: 50%;border-right: 1px solid #95B8E7">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="  iconCls: 'icon-edit', singleSelect: true, rownumbers:true, pagination:true ">
            <thead data-options="frozen:true" id="t0">
                <tr>
                    <th data-options="field:'Id_Pro',width:60,align:'center'"><span class="center-header">LỆNH<br />SX</span> </th>
                    <th data-options="field:'LineX',width:60,align:'center'"><span class="center-header">CHUYỀN<br />SX</span> </th>
                    <th data-options="field:'Style',width:180"><span class="center-header">MÃ HÀNG</span> </th>
                    <th data-options="field:'Buy_Date',width:80,halign:'center',align:'center'"><span class="center-header">Buy Date</span> </th>
                    <th data-options="field:'Recive_Date_Ord',width:80,halign:'center',align:'center'"><span class="center-header">NGÀY<br />GIAO HÀNG</span> </th>
                    <th data-options="field:'TotalAmount',width:80,align:'right',formatter:formatThousands,halign:'center'"><span class="center-header">SỐ LƯỢNG</span> </th>
                    <th data-options="field:'Status',width:85,align:'center',formatter:formatStatus,halign:'center'"><span class="center-header">TRẠNG THÁI</span></th>

                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th colspan="2"> <span class="center-header">CẮT</span> </th>
                    <th colspan="2"> <span class="center-header">GIAO BTP</span> </th>
                </tr>
                <tr>
                    <th data-options="field:'TH_Ngay',width:'8%',halign:'center',formatter:formatThousands" align="right"><span class="center-header">Số Lượng</span></th>
                    <th data-options="field:'TH_ConLai',width:'8%',halign:'center',formatter:formatThousands" align="right"><span class="center-header">Còn Lại</span></th>

                    <th data-options="field:'GiaoBTP',width:'8%',halign:'center',formatter:formatThousands" align="right"><span class="center-header">Số Lượng</span></th>
                    <th data-options="field:'GiaoBTP_ConLai',width:'8%',halign:'center',formatter:formatThousands" align="right"><span class="center-header">Còn Lại</span></th>
                </tr>
            </thead>
        </table>

    </div>
    
    <div data-options="region:'west',split:true" title="Đầu Size - Màu" style="width:35%;">
        <table id="ui-tree" title="" class="easyui-treegrid" style="width:100%;height:100%"
               data-options="rownumbers: false,idField: 'id',treeField: 'Name',border:false,animate:true">
            <thead>
                <tr>
                    <th data-options="field:'Name',width:'45%'">Mã màu</th>
                    <th data-options="field:'text',width:'55%',halign:'center'">Màu</th>
                </tr>
            </thead>
        </table>

    </div>
    <div data-options="region:'center',title:'CỠ (SIZE)',border:false">
        <table id="dg-sizes" class="easyui-datagrid" style="width:100%;height:100%;"
               data-options="  iconCls: 'icon-edit', singleSelect: true,toolbar: '#tb', rownumbers:true, pagination:false ">
            <thead data-options="frozen:true" id="t0">
                <tr>
                    <th data-options="field:'SizeID',width:180,align:'center'"><span class="center-header">CỠ(SIZE)</span> </th>
                    <th data-options="field:'SoLuong',width:80,align:'right',formatter:formatThousands"><span class="center-header">SỐ LƯỢNG</span> </th>
                    <th data-options="field:'ThucHien',width:80,align:'right',formatter:formatThousands"><span class="center-header">THỰC HIỆN</span> </th>
                    <th data-options="field:'ConLai',width:80,halign:'center',align:'right',formatter:formatThousands"><span class="center-header">CÒN LẠI</span> </th>
                    <th data-options="field:'Giao_BTP',width:80,halign:'center',align:'right',formatter:formatThousands"><span class="center-header">GIAO BTP</span> </th>
                    <th data-options="field:'Ton',width:80,align:'right',formatter:formatThousands,halign:'center'"><span class="center-header">TỒN</span> </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
