﻿@{
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}


<script type="text/javascript">
    //http://bhavinatnet.blogspot.com/2012/02/aspnet-javascript-jquery-cross-domain.html
    //https://stackoverflow.com/questions/21222159/jquery-cross-domain-asmx-web-service-call-return-results-but-still-jquery-shows
    var _url = "";
    $(document).ready(function () {
        $.ajax({
            url: "/api/v1/Server/GetUrl?ServerID=vietthai.xn04.namthanhbinh",
            type: "GET",
            async: false,
            dataType: "json",
            success: function (data) {
                if (data == null) _url = "";
                else if (data.indexOf("ERROR:") >= 0)
                    _url = "";
                else
                    _url = data;
            },
            error: function (response) {
                _url
            }
        });

        //alert(_url + "/GetLineName");
        getData(_url);

    });
    function refresh() {
        getData(_url);
    }
    function getData(url) {
        var code = "31jl2eKEDPixq8cVs8Q+pPf1jJnZuJXz44jHdKDrHN7JPswCokMwXrgJZdzLGUuQ";
        var newUrl = url + "/GetLineName?idcode='" + encodeURIComponent(code) + "'&format=json";
        //alert(newUrl);
        $.ajax({
            //url: "http://116.108.153.137:91/d3f7c630-3789-499d-bd3f-3430d9074914.asmx/GetLineName?idcode='abc'&format=json",
            url: newUrl,
            type: "GET",
            //async: false,
            crossDomain: true,
            contentType: "application/json; charset=utf-8",
            dataType: "jsonp",
            success: function (data) {
                //alert(JSON.stringify(data));
                //alert($.parseJSON(data.d)[0].Name);
                if (data.d.indexOf("ERROR:") == 0) {
                    alert("Tải dữ liệu bị lỗi. " + data.d);
                } else
                    $("#dg-list").datagrid({ data: $.parseJSON(data.d) });
            }, error: function (xhr, status, error) { alert('ERROR: '); }
        });
    }

</script>

<div class="easyui-panel" data-options="border:false" style="width:100%;min-height:100%;padding:0.1%;">
    <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
           data-options="  iconCls: 'icon-edit', singleSelect: true,toolbar: '#tb', rownumbers:true, pagination:true ">
        <thead data-options="frozen:true" id="t0">
            <tr>
                <th data-options="field:'Name',width:60,align:'center'"><span class="center-header">LINE</span> </th>
                <th data-options="field:'Id_Pro',width:80,align:'center'"><span class="center-header">LỆNH<br />SẢN XUẤT</span> </th>
                <th data-options="field:'Style',width:200"><span class="center-header">MÃ HÀNG</span> </th>
                <th data-options="field:'NoWorker',align:'right',halign:'center',width:55,editor:'numberspinner',min:0,spinAlign:'horizontal' "><span class="center-header">SỐ LĐ</span>  </th>
                <th data-options="field:'Absent',align:'right',halign:'center',width:50,editor:'numberspinner',min:0,spinAlign:'horizontal' "><span class="center-header">VẮNG</span>  </th>
                <th data-options="field:'UnitPrices',width:75,align:'right',halign:'center'"><span class="center-header">ĐƠN GIÁ<br />VNĐ</span> </th>
            </tr>
        </thead>
        <thead id="t1">
            <tr>
                <th rowspan="2" data-options="field:'TotalAmount',width:80,align:'right'"><span class="center-header">TỔNG <br /> SỐ LƯỢNG</span> </th>
                <th colspan="2"><span class="center-header"> SỐ LƯỢNG NHẬP </span></th>
                <th colspan="2"><span class="center-header">SỐ LƯỢNG GẤP XẾP</span> </th>
                <th rowspan="2" data-options="field:'BalanceQty',width:80,align:'right'"><span class="center-header">CÒN LẠI</span> </th>
                <th colspan="2"><span class="center-header">SL THÙNG ĐÃ ĐÓNG GÓI</span> </th>
            </tr>
            <tr>

                <th data-options="field:'Cat_Tong',align:'right',width:75,editor:'numberspinner',min:0,spinAlign:'horizontal' "><span class="center-header">NHẬP</span>  </th>
                <th data-options="field:'BTPVC_Tong',align:'right',width:80,align:'right' "><span class="center-header">TỔNG</span> </th>

                <th data-options="field:'RC_Tong',width:75,align:'right',editor:'numberspinner',min:0,spinAlign:'horizontal'"><span class="center-header">GẤP XẾP</span> </th>
                <th data-options="field:'TH_Tong',width:80,align:'right' "><span class="center-header">TỔNG</span> </th>

                <th data-options="field:'KH_Ngay',width:75,align:'right',editor:'numberspinner',min:0,spinAlign:'horizontal' "><span class="center-header"> ĐÓNG GÓI </span></th>
                <th data-options="field:'TH_Ngay',width:80,align:'right' "><span class="center-header"> TỔNG</span></th>

            </tr>
        </thead>
    </table>

    <div id="tb" class="menu-ctrl" style="height:30px">
        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" onclick="refresh()">Nạp lại</a>
    </div>
</div>