﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    function Registation() {
        var ActiveKey = $("#txt-ActiveKey").textbox("getValue");
        $.ajax({
            type: "POST",
            url: '/Active/Registration',
            data: {ActiveKey: ActiveKey },
            success: function (data) {
                if (data == 'true') {
                    $("#txt-ActiveKey").textbox('disable');
                    $('#bt-IsActived').linkbutton({ text: 'Đã đăng ký', disabled: true });
                    alert("Đăng ký thành công!");
                }else
                    alert('Activation Key không đúng. Vui lòng liên hệ với nhà cung cấp để được hỗ trợ');
            },
            error: function (msg) {
                alert("Error calling Ajax");
            }
        });
    }
    function IsActived() {
        var actived = '@(ViewBag.IsActived)';
        if (actived == 'False')
            return false;
        return true;
    }
</script>

<div style="margin: 15px 0; text-align: center; vertical-align: middle; color: #081E6A">
    <h3>ĐĂNG KÝ SỬ DỤNG PHẦN MỀM</h3>
</div>
<div class="easyui-layout" style="width: 65%; height: 300px; top: 50%; left: 15%; ">

    <div data-options="region:'center'" style="padding:50px">
        <div style="margin:2%">
            <input id="txt-UserCode" class="easyui-textbox" data-options="labelWidth:'20%',readonly:true"
                   label="User Code:" labelposition="left" value="@(ViewBag.UserCode)" style="width: 90%; height:24px" />
        </div>

        <div style="margin:2%">
            <input id="txt-ActiveKey" class="easyui-textbox" data-options="labelWidth:'20%',disabled:IsActived()"
                   label="Activation Key:" labelposition="left" value="@(ViewBag.ActiveKey)" style="width: 90%; height:24px" />
        </div>
        <div style="margin:10px 0; margin-left:71%">
            <a href="javascript:void(0)" id="bt-IsActived" onclick="Registation();"
               class="easyui-linkbutton" data-options="iconCls:'icon-key',disabled:IsActived()" style="width:110px">@(ViewBag.Text)</a>
        </div>
    </div>
</div>




