﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../EasyUI/easyui.css" rel="stylesheet" type="text/css" />
    <link href="../EasyUI/icon.css" rel="stylesheet" type="text/css" />
    <script src="../EasyUI/jquery-1.11.3.js" type="text/javascript"></script>
    <script src="../EasyUI/jquery.easyui.min.js" type="text/javascript"></script>
    
    
    <script src="~/Scripts/jquery-formats.js"></script>
    <script src="~/EasyUI/datagrid-cellediting.js"></script>
    <script src="~/Scripts/jquery.extends.js"></script>
    <style type="text/css">
        .easyui-layout {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: hidden;
            height: 100%;
        }

        .menu-ctrl {
            background: #d5fdef; /*** 007FCF ***/ /**thanh trên cái danh sách*/
        }

            .menu-ctrl a {
                width: 7%;
            }

            .menu-ctrl .action {
                color: #0E2D83;
            }

                .menu-ctrl .action:hover {
                    color: black;
                }

        .format-text {
            color: #0E2D5F;
        }

        .center-header {
            font-weight: bold;
        }

        .datagrid-header td.datagrid-header-over,
        div.datagrid-header td {
            background: #74ADB3; /*thanh ngang màu xanh*/
            color: #ffffff;
        }

        .datagrid-cell-rownumber {
            height: 24px;
            background: #74ADB3; /*thanh dọc danh sách*/
            color: #ffffff;
        }

        .datagrid-row {
            color: #0E2D5F; /*chữ trong danh sách*/
        }

        .datagrid-row-selected td {
            /**Mau mac dinh=> background: #FBEC88;***/
            background: #FBEC88;
            color: #2D3E50;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $(window).bind('keydown', function (event) {
                if (event.ctrlKey || event.metaKey) {
                    switch (String.fromCharCode(event.which).toLowerCase()) {
                        case 's':
                            event.preventDefault();
                            //alert('ctrl-s');
                            break;
                        case 'f':
                            event.preventDefault();
                            //alert('ctrl-f');
                            break;
                        case 'g':
                            event.preventDefault();
                            //alert('ctrl-g');
                            break;
                    }
                }
            });


        });

        function formatThousands(value, row, index) {
            if (value == null || value == "") return "";

            return '' + value.toLocaleString() + '';
        }


    </script>
</head>
<body class="easyui-layout" data-options="fit:true" oncontextmenu="return false;" >

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>

