﻿.icon-blank{
	background:url('/icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('/icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('/icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('/icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('/icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('/icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('/icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('/icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('/icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('/icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('/icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('/icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('/icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('/icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('/icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('/icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('/icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('/icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('/icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('/icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('/icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('/icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('/icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('/icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('/icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('/icons/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('/icons/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('/icons/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('/icons/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('/icons/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('/icons/large_chart.png') no-repeat center center;
}


.icon-packing{
	background:url('/icons/packing_01.png') no-repeat center center;
}

.icon-file {
  background: url('/icons/tree_icons.png') no-repeat -240px 0;
}

.icon-new {
  background: url('/icons/new.png') no-repeat center center;
}

/*** Duyet ***/
.icon-approval {
  background: url('/icons/approval.png') no-repeat center center;
}

.icon-export {
  background: url('/icons/export.png') no-repeat center center;
}
.icon-report {
  background: url('/icons/report.png') no-repeat center center;
}

.icon-compare {
  background: url('/icons/compare.png') no-repeat center center;
}

.icon-version {
  background: url('/icons/version.png') no-repeat center center;
}

.icon-copy {
  background: url('/icons/copy.png') no-repeat center center;
}

.icon-paste {
  background: url('/icons/paste.png') no-repeat center center;
}

.icon-property {
  background: url('/icons/property.png') no-repeat center center;
}

.icon-new-app {
  background: url('/icons/new_app.png') no-repeat center center;
}

.icon-folder {
  background: url('/images/tree_icons.png') no-repeat -208px 0;
}

.icon-folder-open {
  background: url('/images/tree_icons.png') no-repeat -224px 0;
}

.icon-folder-add {
  background: url('/icons/folder_add.png') no-repeat center center;
}

.icon-home-plus {
  background: url('/icons/home_plus.png') no-repeat center center;
}

.icon-organisation {
  background: url('/icons/organisation.png') no-repeat center center;
}

.icon-organization {
  background: url('/icons/organization.png') no-repeat center center;
}

.icon-organize-add {
  background: url('/icons/organisation_add.png') no-repeat center center;
}

.icon-link-add {
  background: url('/icons/link_add.png') no-repeat center center;
}

.icon-textfield-key {
  background: url('/icons/textfield_key.png') no-repeat center center;
}

.icon-warning {
  background: url('/icons/warning.png') no-repeat center center;
}

.icon-key {
  background: url('/icons/key.png') no-repeat center center;
}

.icon-connect {
  background: url('/icons/connection.png') no-repeat center center;
}
.icon-network-down {
  background: url('/icons/network_down.png') no-repeat center center;
}

.icon-network-up {
  background: url('/icons/network_up.png') no-repeat center center;
}

.icon-user-del {
  background: url('/icons/user_delete.png') no-repeat center center;
}

.icon-setting {
  background: url('/icons/settings.png') no-repeat center center;
}

.icon-process {
  background: url('/icons/process.png') no-repeat center center;
}

.icon-calc {
  background: url('/icons/calc.png') no-repeat center center;
}

.icon-admin {
  background: url('/icons/admin.png') no-repeat center center;
}

.icon-card {
  background: url('/icons/card.png') no-repeat center center;
}
.icon-data-import {
  background: url('/icons/data_import.png') no-repeat center center;
}
.icon-download {
  background: url('/icons/download.png') no-repeat center center;
}
.icon-change {
  background: url('/icons/change.png') no-repeat center center;
}
.icon-replace {
  background: url('/icons/replace.png') no-repeat center center;
}
.icon-restore {
  background: url('/icons/restore.png') no-repeat center center;
}

.icon-cross {
  background: url('/icons/cross.png') no-repeat center center;
}
.icon-trash-delete {
  background: url('/icons/trash_delete.png') no-repeat center center;
}
.icon-sys {
  background: url('/icons/sys.png') no-repeat center center;
}

.icon-layout {
  background: url('/icons/layout_content.png') no-repeat center center;
}
.icon-application {
  background: url('/icons/application.png') no-repeat center center;
}



