﻿@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<div class="easyui-layout" data-options="border:false" style="width:100%;min-height:100%;padding:0.1%;" onselectstart="return false">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', singleSelect: true,toolbar: '#tb', rownumbers:true, pagination:false">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th data-options="field:'ID',width:1,halign:'center',hidden:true"><span class="center-header">Id</span> </th>
                    <th data-options="field:'MaNV',align:'center',width:'10%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                    <th data-options="field:'TenNV',width:'25%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>

                    <th data-options="field:'DepName',width:'20%',halign:'center'"><span class="center-header">Bộ phận</span> </th>

                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'StrNgayDangKyDMY',width:'10%',align:'center',halign:'center'"><span class="center-header">Ngày đăng ký</span> </th>
                    <th data-options="field:'TuGio',width:'10%',align:'center',halign:'center'"><span class="center-header">Từ giờ</span> </th>
                    <th data-options="field:'DenGio',width:'12%',align:'center',halign:'center'"><span class="center-header">Đến giờ</span> </th>

                    <th data-options="field:'SoGio',width:'12%',align:'center',halign:'center',hidden:true"><span class="center-header">Giờ</span> </th>
                    <th data-options="field:'StrNgayDangKy',width:'10%',align:'center',halign:'center',hidden:true"><span class="center-header">Ngày đăng ký</span> </th>
                </tr>
            </thead>

        </table>
    </div>


    <div data-options="headerCls:'headerCls',region:'east',split:true,hideCollapsedContent:false" title="CHỌN PHÒNG BAN" style="width:30%;" onselectstart="return false">
        <div class="easyui-layout" data-options="fit:true" style="overflow:hidden;">
            <div data-options="region:'north',border:false" style="overflow:hidden; padding: 1.5%;">
                <div style="margin-bottom:1%">
                    <input id="cb-mabophan" class="easyui-combotree" data-options="width:'98%'" value="" />
                </div>
            </div>
            <div data-options="region:'center',border:false" style="overflow: hidden;">
                <table id="dg-nhanvien" class="easyui-datagrid" style="width:100%;height:100%"
                       data-options="ctrlSelect:true,singleSelect: true, checkOnSelect:false,border:false,iconCls: 'icon-edit', rownumbers:true,singleSelect:false">
                    <thead>
                        <tr>
                            <th field="ck" checkbox="true"></th>
                            <th data-options="field:'MaNV',align:'center',width:'40%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                            <th data-options="field:'TenNV',width:'50%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="tb" class="menu-ctrl" style="height:30px;padding:0.1%">
    <select id="cb_option" class="easyui-combobox" name="state" style="height:25px"
            data-options="width:'19%',labelWidth:'43%',editable:false" label="Xem theo:" labelposition="right">
        <option value="14">Hôm nay</option>
        <option value="15">Tuần này</option>
        <option value="16">Tháng này</option>
        <option value="1">Tháng 1</option>
        <option value="2">Tháng 2</option>
        <option value="3">Tháng 3</option>
        <option value="4">Tháng 4</option>
        <option value="5">Tháng 5</option>
        <option value="6">Tháng 6</option>
        <option value="7">Tháng 7</option>
        <option value="8">Tháng 8</option>
        <option value="9">Tháng 9</option>
        <option value="10">Tháng 10</option>
        <option value="11">Tháng 11</option>
        <option value="12">Tháng 12</option>
        <option value="13">Tùy chọn</option>

    </select>
    <input id="dt_from" class="easyui-datebox" data-options="labelWidth:60,formatter:formatterDMY,parser:parserDMY"
           label="Từ ngày" labelposition="left" style="width:160px;height:25px;">
    <input id="dt_to" class="easyui-datebox" data-options="labelWidth:40,formatter:formatterDMY,parser:parserDMY"
           label="đến" labelposition="left" style="width: 160px; height: 25px;">

    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" onclick="refresh()">Xem</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:70px" onclick="AddNew();"
       class="easyui-linkbutton action" data-options="iconCls:'icon-add',plain:true">Thêm</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:70px" onclick="editInfo();"
       class="easyui-linkbutton action" data-options="iconCls:'icon-edit',plain:true">Sửa</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:70px" onclick="removeIt();"
       class="easyui-linkbutton action" data-options="iconCls:'icon-cross',plain:true">Xóa</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:80px" onclick="exportDangKyLamThem();"
       class="easyui-linkbutton action" data-options="iconCls:'icon-export',plain:true">Excel</a>
</div>


<div id="dlg" class="easyui-dialog" style="width:460px" closed="true" buttons="#dlg-buttons">
    <form id="fm" novalidate style="margin:0;padding:2px 8px">
        @*<div style="margin-bottom:10px;font-size:14px;border-bottom:1px solid #ccc">Thông tin chi tiết</div>*@
        <div style="margin-bottom:3px; margin-top:3%">
            <input id="txt_NgayDangKy" name="StrNgayDangKyDMY" class="easyui-datebox"
                   data-options="width:'40%',labelWidth:'45%',formatter:formatterDMY,parser:parserDMY"
                   label="Từ ngày" labelposition="left" />

            <input id="txt_DenNgay" name="StrNgayDangKyDMY" class="easyui-datebox"
                   data-options="width:'40%',labelWidth:'45%',formatter:formatterDMY,parser:parserDMY"
                   label="Đến ngày" labelposition="left" />
        </div>

        <div style="margin-bottom:3px; margin-top:3%">
            <input id="txt_tugio" name="TuGio" class="easyui-timespinner" 
                   data-options="width:'40%',labelWidth:'45%'"
                   required="required" label="Từ giờ" labelposition="left" />
            <input id="txt_dengio" name="DenGio" class="easyui-timespinner" 
                   data-options="width:'40%',labelWidth:'45%'"
                   required="required" label="Đến giờ" labelposition="left" />
        </div>
              
        <div style="margin-bottom: 3px; visibility: hidden">
            <input name="MaNV" class="easyui-textbox" 
                   data-options="width:10,labelWidth:60" />
            <input name="ID" class="easyui-numberbox" value="0" 
                   data-options="width:10,labelWidth:60" />
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" 
       iconcls="icon-ok" onclick="saveInfo()" style="width:90px">Đồng ý</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" 
       iconcls="icon-cancel" onclick="closeForm()" style="width:90px">Đóng</a>
</div>
<style type="text/css">
    .tree-icon {
        display: none;
    }

    .headerCls {
        text-align: center;
    }
</style>

@section scripts {
    
    @*<script src="~/ViewModels/com.view.date.js"></script>*@
    <script src="~/ViewModels/com.format.date.js"></script>
    <script src="~/ViewModels/com.view.date.dmy.js"></script>
    <script src="~/Scripts/serializeObjects.js"></script>
    <script src="~/ViewModels/view.dangky.lamthem.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            iniOption();
            IniDataGrid();
            iniComboboxTree();
            getBoPhan(); 
        });
    </script>
}


