﻿@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<div class="easyui-layout" data-options="border:false" style="width:100%;min-height:100%;padding:0.1%;" onselectstart="return false">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', singleSelect: true,toolbar: '#tb', rownumbers:true, pagination:false">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th data-options="field:'ID',width:1,halign:'center',hidden:true"><span class="center-header">Id</span> </th>
                    <th data-options="field:'MaNV',align:'center',width:'10%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                    <th data-options="field:'TenNV',width:'25%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>

                    <th data-options="field:'DepName',width:'20%',halign:'center'"><span class="center-header">Bộ phận</span> </th>

                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'StrTuNgayDMY',width:'10%',align:'center',halign:'center'"><span class="center-header">Từ ngày</span> </th>
                    <th data-options="field:'StrToiNgayDMY',width:'10%',align:'center',halign:'center'"><span class="center-header">Đến ngày</span> </th>
                    <th data-options="field:'ShiftID',width:'12%',align:'center',halign:'center'"><span class="center-header">Ca áp dụng</span> </th>

                    <th data-options="field:'StrCheDo',width:'12%',halign:'center'"><span class="center-header">Chế độ</span> </th>

                    <th data-options="field:'SoNgayConLai',width:1,halign:'center',hidden:true"><span class="center-header">SoNgayConLai</span> </th>
                </tr>
            </thead>

        </table>
    </div>


    <div data-options="headerCls:'headerCls',region:'east',split:true,hideCollapsedContent:false" title="CHỌN PHÒNG BAN" style="width:30%;" onselectstart="return false">
        <div class="easyui-layout" data-options="fit:true" style="overflow:hidden;">
            <div data-options="region:'north',border:false" style="overflow:hidden; padding: 1.5%;">
                <div style="margin-bottom:1%">
                    <input id="cb-mabophan" class="easyui-combotree" data-options="width:'98%'" value="" />
                </div>
            </div>
            <div data-options="region:'center',border:false" style="overflow: hidden;">
                <table id="dg-nhanvien" class="easyui-datagrid" style="width:100%;height:100%"
                       data-options="ctrlSelect:false, checkOnSelect:false,border:false,iconCls: 'icon-edit', rownumbers:true,singleSelect:true">
                    <thead>
                        <tr>
                            <th field="ck" checkbox="true"></th>
                            <th data-options="field:'MaNV',align:'center',width:'40%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                            <th data-options="field:'TenNV',width:'50%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="tb" class="menu-ctrl" style="height:30px;padding:0.1%">
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" onclick="refresh()">Xem</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:80px" onclick="AddNew();"
       class="easyui-linkbutton action" data-options="iconCls:'icon-add',plain:true">Thêm</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:80px" onclick="editInfo();"
       class="easyui-linkbutton action" data-options="iconCls:'icon-edit',plain:true">Sửa</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:80px" onclick="removeIt();"
       class="easyui-linkbutton action" data-options="iconCls:'icon-cross',plain:true">Xóa</a>
    <a href="javascript:void(0)" style="width:100px"
       class="easyui-menubutton action" data-options="menu:'#mm-report',iconCls:'icon-export',plain:true">Báo cáo</a>

    <select id="cb_option_chedo" class="easyui-combobox" name="state" style="height:23px"
            data-options="width:'150',labelWidth:'0%',editable:false,panelHeight:90" label="" labelposition="right">
        <option value="0">Tất cả</option>
        <option value="1">Nuôi con nhỏ</option>
        <option value="2">Mang thai 7-9 tháng</option>
        <option value="3">Vị thành niên</option>
        @*<option value="4">Thai sản</option>*@
        <option value="5">Người lao động cao tuổi</option>
    </select>
</div>

<div id="mm-report" style="width:15%;">
    <div onclick="exportCheDo(0);">Tất cả</div>
    <div class="menu-sep"></div>
    <div onclick="exportCheDo(1);">Lao động nuôi con nhỏ</div>
    <div onclick="exportCheDo(4);">Lao động thai sản</div> 
    <div onclick="exportCheDo(3);">Lao động vị thành niên</div>
    <div onclick="exportCheDo(5);">Chế độ người lao động cao tuổi</div>
    @*<div>Tổng hợp</div>
        <div class="menu-sep"></div>*@
</div>

<div id="dlg" class="easyui-dialog" style="width:460px" closed="true" buttons="#dlg-buttons">
    <form id="fm" novalidate style="margin:0;padding:2px 8px">
        @*<div style="margin-bottom:10px;font-size:14px;border-bottom:1px solid #ccc">Thông tin chi tiết</div>*@
        <div style="margin-bottom:3px; margin-top:3%">
            <input name="StrTuNgayDMY" class="easyui-datebox" data-options="width:'40%',labelWidth:'45%',formatter:formatterDMY,parser:parserDMY"
                   label="Từ ngày" labelposition="left" />
            <input name="StrToiNgayDMY" class="easyui-datebox" data-options="width:'40%',labelWidth:'45%',formatter:formatterDMY,parser:parserDMY"
                   label="Đến ngày" labelposition="left" />
        </div>
        
        <div style="margin-bottom: 5px;">
            <input id="chkCN1" name="MaCheDo" type="radio" data-options="disabled:false" value="1" style="width:10%;" />
            <label for="chkCN1">Nuôi con nhỏ</label>

            <input id="chkCN2" name="MaCheDo" type="radio" data-options="disabled:false" value="2" style="width:10%;" />
            <label for="chkCN2">Mang thai 7-9 tháng</label>

            <input id="chkCN3" name="MaCheDo" type="radio" value="3" style="width:10%;" />
            <label for="chkCN3">Vị thành niên</label>

            <input id="chkCN4" name="MaCheDo" type="radio" value="4" style="width:10%;" />
            <label for="chkCN4">Thai sản</label>

            <input id="chkCN5" name="MaCheDo" type="radio" value="5" style="width:10%;" />
            <label for="chkCN5">Người lao động cao tuổi</label>
        </div>

        <div style="margin-bottom:3px">
            <select id="cb-shifts" class="easyui-combobox" name="ShiftID" style="height:25px"
                    data-options="width:'60%',labelWidth:'30%',editable:false" label="Ca áp dụng" labelposition="right"></select>
        </div>
        <div style="margin-bottom: 3px; visibility: hidden">
            <input name="MaNV" class="easyui-textbox" data-options="width:10,labelWidth:60" />
            <input name="ID" class="easyui-numberbox" value="0" data-options="width:10,labelWidth:60" />
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="saveInfo()" style="width:90px">Đồng ý</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="closeForm()" style="width:90px">Đóng</a>
</div>
<style type="text/css">
    .tree-icon {
        display: none;
    }

    .headerCls {
        text-align: center;
    }
</style>

@section scripts {
<script src="~/Scripts/serializeObjects.js"></script>
<script src="~/ViewModels/com.format.date.js"></script>
<script src="~/Scripts/dic.shift.js"></script>
<script src="~/ViewModels/view.dangkychedo.js"></script>
    <script type="text/javascript">

    </script>
}


