﻿@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}
<style type="text/css">
    .purple-border textarea {
        border: 1px solid #ba68c8;
        height: 300px;
    }

    .purple-border .form-control:focus {
        border: 1px solid #ba68c8;
        box-shadow: 0 0 0 0.2rem rgba(186, 104, 200, .25);
    }

    button.blue {
        color: white;
        background: #4C8FFB;
        border: 2px #3079ED solid;
        box-shadow: inset 0 1px 0 #80B0FB;
        margin-left: 10px;
    }

        .blue:hover {
            border: 1px #2F5BB7 solid;
            box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
            background: #3F83F1;
        }

        .blue:active {
            box-shadow: inset 0 2px 5px #2370FE;
        }
</style>
<div class="form-group purple-border">
    <textarea class="form-control" id="txtSqlCommand" rows="3"></textarea>
</div>
<a href="javascript:void(0)" class="blue" iconcls="icon-cancel" onclick="Execute()">Excute</a>
@section scripts {
    @*<script src="~/ViewModels/utils.js"></script>*@
    <script src="~/ViewModels/com.format.date.js"></script>
    <script src="~/Scripts/serializeObjects.js"></script>
    <script src="~/Scripts/view.ExecuteSql.js"></script>
}