﻿@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<style type="text/css">
    .tree-icon {
        display: none;
    }

    fieldset {
        margin: 1%;
        padding: 0 1% 1%;
        border: 1px solid #95B8E7;
        border-radius: 8px;
        width: 92%;
        /***box-shadow: 0 0 3px #95B8E7; ***/
    }

    legend {
        padding: 2px 1%;
        background: #fff; /* For better legibility against the box-shadow */
        width: 26%;
        border: none;
        font-size: 12px;
        font-weight: bold;
    }

    fieldset label {
        width: 10%;
    }
    .headerCls {
        text-align: center;
    }
</style>

<div class="easyui-layout" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%; ">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               sortname="MaCC" sortorder="asc" remotesort="false"
               data-options="border:false,iconCls: 'icon-edit', checkOnSelect:false,toolbar: '#tb', rownumbers:true, pagination:true">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'MaNV',align:'center',width:'8%',halign:'center'"><span class="center-header">Mã NV</span>  </th>

                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'MaCC',align:'center',width:'8%',halign:'center'"><span class="center-header">Mã CC</span> </th>
                    <th data-options="field:'CardID',align:'center',width:'9%',halign:'center'"><span class="center-header">Mã Thẻ</span> </th>
                    <th data-options="field:'Passwod',align:'center',width:'9%',halign:'center',hidden:true"><span class="center-header">Mật mã</span> </th>
                    <th data-options="field:'TenNV',width:'18%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>
                    <th data-options="field:'UserName',width:'10%',halign:'center'"><span class="center-header">Tên chấm công</span> </th>
                    <th data-options="field:'NguyenQuan',width:'18%',halign:'center'"><span class="center-header">Nguyên quán</span> </th>
                    <th data-options="field:'Address',width:'18%',halign:'center'"><span class="center-header">Địa chỉ</span> </th>


                    <th data-options="field:'StrBirthDate',width:'9%',align:'center',halign:'center'"><span class="center-header">Ngày sinh</span> </th>
                    <th data-options="field:'StrSex',width:'8%',align:'center',halign:'center'"><span class="center-header">Giới Tính</span> </th>
                    <th data-options="field:'StrBeginningDate',width:'9%',align:'center',align:'right',halign:'center'"><span class="center-header">Ngày vào</span></th>
                    <th data-options="field:'CMND',width:'15%',align:'center',align:'right',halign:'center'"><span class="center-header">CMND</span></th>
                    <th data-options="field:'NoiCap',width:'9%',align:'center',align:'right',halign:'center'"><span class="center-header">Nơi cấp</span></th>

                    @*<th data-options="field:'StrStopWorkingday',width:'12%',align:'center',halign:'center'"><span class="center-header">Ngày thôi việc</span></th>*@
                    <th data-options="field:'DepName',width:'15%',halign:'center'"><span class="center-header">Bộ phận làm</span></th>
                    @*<th data-options="field:'StrStatus',width:'9%',align:'center',halign:'center'"><span class="center-header">Ca làm việc</span></th>*@

                </tr>
            </thead>
        </table>
    </div>

    <div data-options="headerCls:'headerCls',region:'east',split:true,hideCollapsedContent:false" 
         title="PHÒNG BAN" style="width:25%;border-top:none" >
        <ul id="right-menu"></ul>
    </div>
</div>

<div id="tb" class="menu-ctrl" style="height: 30px; padding: 0.1%; ">
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" style="width:80px" onclick="refresh()">Nạp lại</a>
    <a data-options="plain:false">|</a>

    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-add',plain:true" onclick="append()">Thêm</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-edit',plain:true" onclick="edit()">Sửa</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-cross',plain:true" onclick="removeIt()">Xóa</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action"  style="width:70px"
       data-options="iconCls:'icon-data-import',plain:true" onclick="importExcel()">Import</a>

    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:100px"
       class="easyui-menubutton action" data-options="menu:'#mm-menu',iconCls:'icon-layout',plain:true">Menu</a>

    @*<a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:80px" 
       data-options="iconCls:'icon-download',plain:true" onclick="downloadTemplate();">Tải mẫu</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:120px"
       data-options="plain:true,iconCls:'icon-replace'" onclick="changeDep()">Chuyển bộ phận</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:120px"
       data-options="plain:true,iconCls:'icon-replace'" onclick="ExceptionIt()">Ngoại lệ</a>*@


    <input class="easyui-searchbox" style=""
           data-options="searcher:searcher,prompt:'Mã NV,Tên NV,MaCC'" />
</div>

<div id="mm-search" style="width:120px">
    <div data-options="name:'MaNV'">Mã nhân viên</div>
    <div data-options="name:'TenNV'">Tên nhân viên</div>
</div>
<div id="mm-menu" style="width:150px;">
    <div data-options="iconCls:'icon-download'" onclick="downloadTemplate();">Tải mẫu</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'icon-replace'" onclick="changeDep()">Chuyển bộ phận</div>
    <div class="menu-sep"></div>
    <div onclick="DangKyNghi()">Cho nghỉ việc</div>
    <div class="menu-sep"></div>
    <div onclick="ExceptionIt();">Ngoại lệ</div>
    @*<div class="menu-sep"></div>*@
    
  
</div>

<div id="context-menu" class="easyui-menu" style="width:12%">
    <div onclick="edit()" data-options="iconCls:'icon-edit'">Sửa</div>
    <div onclick="append()" data-options="iconCls:'icon-add'">Thêm mới</div>
    <div class="menu-sep"></div>
    <div onclick="removeit()" data-options="iconCls:'icon-cross'">Xóa</div>
    <div class="menu-sep"></div>
    <div onclick="refresh()" data-options="iconCls:'icon-reload'">Nạp lại</div>
    <div class="menu-sep"></div>
    <div onclick="changeDep()">Chuyển bộ phận</div>
    <div class="menu-sep"></div>
    <div onclick="DangKyNghi()">Cho nghỉ việc</div>
    <div onclick="ExceptionIt()">Ngoại lệ</div>
</div>

<div id="frm-nhanvien" class="easyui-window" title="Nhân viên"
     data-options="iconCls:'icon-setting',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
     style="width:55%;height:80%;padding:1%;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:true" style="padding-left:1%;">
            <fieldset>
                <legend>Thông tin nhân viên</legend>
                <div style="margin: 0 0 0 0.5%">
                    <input id="txt_MaNV" class="easyui-textbox easyui-validatebox"
                           data-options="required:true,width:'95%',labelWidth:'19%',missingMessage:'Mã nhân viên không được để trống'"
                           label="Mã NV:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txt_MaCC" class="easyui-numberbox" data-options="width:'36%',labelWidth:'50%'" label="Mã CC:" labelposition="left" />
                    <input id="txt_CardID" class="easyui-textbox" data-options="width:'29%',labelWidth:'38%'" label="Mã thẻ:" labelposition="left" />
                    <input id="txt_Password" class="easyui-passwordbox" data-options="width:'29%',labelWidth:'38%',showEye:false" label="Mật mã:" labelposition="left" />
                </div>
                <div style="margin: 1% 0 0 0.5%">
                    <input id="txt_TenNV" class="easyui-textbox" data-options="width:'47%',labelWidth:'38%'" label="Họ và tên:" labelposition="left" />
                    <input id="txt_UserName" class="easyui-textbox" data-options="width:'47%',labelWidth:'38%'" label="Tên chấm công:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <select id="cb_sex" class="easyui-combobox" name="state"
                            data-options="width:'35%',labelWidth:'52%',editable:false" label="Giới tính:" labelposition="right">
                        <option value="0">Nam</option>
                        <option value="1">Nữ</option>
                        <option value="2">Khác</option>
                    </select>
                </div>

                <div style="margin: 1% 0 0 0.5%">
                    <input id="txt_NguyenQuan" class="easyui-textbox" data-options="width:'95%',labelWidth:'19%'" label="Nguyên quán:" labelposition="left" />
                </div>
                <div style="margin: 1% 0 0 0.5%">
                    <input id="txt_Address" class="easyui-textbox" data-options="width:'95%',labelWidth:'19%'" label="Địa chỉ:" labelposition="left" />
                </div>

                <div style="margin:1% 0 0 0.5%">
                    <input id="dt_BirthDate" class="easyui-datebox" data-options="width:'47%',labelWidth:'38%',formatter:myformatterDMY,parser:myparserDMY"
                           label="Ngày sinh" labelposition="left">
                    <input id="dt_BeginningDate" class="easyui-datebox" data-options="width:'47%',labelWidth:'38%',formatter:myformatterDMY,parser:myparserDMY"
                           label="Ngày vào" labelposition="left">
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txt-CMND" class="easyui-textbox" data-options="width:'47%',labelWidth:'38%'"
                           label="CMND" labelposition="left">
                    <input id="txt-NoiCap" class="easyui-textbox" data-options="width:'47%',labelWidth:'38%'"
                           label="Nơi cấp" labelposition="left">
                </div>
            </fieldset>

            <fieldset>
                <legend>Thông tin khác</legend>
                <div style="margin-bottom:0.5%">
                    <input id="cb-mabophan" class="easyui-combotree" data-options="width:'52%',labelWidth:'35%'"
                           label="Bộ phận:" labelposition="left" value=""/>
                    <input id="cb-schedule" class="easyui-combotree" data-options="width:'40%',labelWidth:'39%'"
                           label="Lịch trình:" labelposition="left" value="" />
                </div>
                <div style="margin-bottom:1%">
                
                </div>
              
            </fieldset>

        </div>

        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="save();" style="width:80px">Lưu</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeFormNV()" style="width:80px">Đóng</a>
        </div>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" enctype="multipart/form-data" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:10px">
            <input id="fileE" class="easyui-filebox" name="file" label="Chọn file excel" labelposition="top" style="width:300px" />
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="importUser()" style="width:90px">Import</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Đóng</a>
</div>

<div id="dlg-changedep" class="easyui-dialog" style="width:460px" closed="true" buttons="#dlg-buttons-changedep">
    <form id="frm-changedep" novalidate style="margin:0;padding:2px 8px">
        <div style="margin-bottom:3px">
            <input id="txt_ChangedDate" name="ChangedDate" class="easyui-datebox" 
                   data-options="width:'90%',labelWidth:'50%',formatter:myformatterDMY,parser:myparserDMY" label="Ngày chuyển" labelposition="left" />
        </div>
        <div style="margin-bottom:1%">
            <input id="cb-chuyenbophan" class="easyui-combotree" label="Chuyển sang bộ phận" labelposition="left"
                   data-options="width:'90%',labelWidth:'50%'" value="" />
        </div>
    </form>
</div>
<div id="dlg-buttons-changedep">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="ok()" style="width:90px">Chuyển</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="closeForm()" style="width:90px">Đóng</a>
</div>

@*Đăng ký nghỉ*@
<div id="dlg-dangkynghi" class="easyui-dialog" style="width:460px" closed="true" buttons="#dlg-buttons-dangkynghi">
    <form id="frm-dangkynghi" novalidate style="margin:0;padding:2px 8px">
        <div style="margin-bottom:3px;margin-top:2px">
            <input name="MaNV" class="easyui-textbox "
                   data-options="width:'80%',labelWidth:'38%',editable:false"
                   label="Mã nhân viên:" labelposition="left" />
        </div>
        <div style="margin-bottom:1%">
            <input name="TenNV" class="easyui-textbox "
                   data-options="width:'80%',labelWidth:'38%',editable:false"
                   label="Tên nhân viên:" labelposition="left" />
        </div>
        
        <div style="margin-bottom:1%">
            <input name="DepName" class="easyui-textbox "
                   data-options="width:'80%',labelWidth:'38%',editable:false"
                   label="Bộ phận làm việc:" labelposition="left" />
        </div>
        <div style="margin-bottom:1%">
            <input name="NgayNghi" class="easyui-datebox" data-options="width:'80%',labelWidth:'38%',formatter:formatterDMY,parser:parserDMY"
                   label="Ngày nghỉ việc" labelposition="left" />
        </div>
        <div style="margin-bottom:3px; margin-top:3%">
            <input name="LyDoNghi" class="easyui-textbox" label="Lý do nghỉ việc:" labelposition="top" multiline="true" value=""
                   style="width:100%;height:120px">
        </div>
    </form>
</div>
<div id="dlg-buttons-dangkynghi">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="ChoNghiViec()" style="width:90px">Lưu</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="CloseDangKyNghi()" style="width:90px">Đóng</a>
</div>

@section scripts {
@*<script src="~/ViewModels/utils.js"></script>*@
<script src="~/ViewModels/com.format.date.js"></script>
<script src="~/Scripts/serializeObjects.js"></script>
<script src="~/Scripts/view.nhanvien.js"></script>
}
<script type="text/javascript">
    function importUser() {
        var msg = 'Import danh sách nhân viên. Bạn có muốn import không?';
        $.messager.confirm({
            title: 'Xác nhận', left: '13%', top: '10%', msg: msg, fn: function (r) {
                if (r) { //Begin (r) =====================================

                    $('#fm').form('submit', {
                        url: "@Url.Action("ImportE", "Setting")",
                        onSubmit: function () {
                            return $(this).form('validate');
                        },
                        success: function (result) {
                            if (result.indexOf("ERROR:") > -1)
                                alert(result);
                            else {
                                $('#dlg').dialog('close');
                                parent.showMessager("Thông báo", "Import thành công!");
                            }
                        }
                    });

                }//End (r)==============================================
            }
        });
    }

    
</script>



