﻿@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<div class="easyui-layout" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%;">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', checkOnSelect:false,toolbar: '#tb', rownumbers:true, pagination:false">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'MaNV',align:'center',width:'8%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                    <th data-options="field:'MaCC',align:'center',width:'7%',halign:'center'"><span class="center-header">Mã CC</span> </th>
                    <th data-options="field:'CardID',align:'center',width:'9%',halign:'center'"><span class="center-header">Mã Thẻ</span> </th>

                    <th data-options="field:'TenNV',width:'18%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>
                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'StrBirthDate',width:'9%',align:'center',halign:'center'"><span class="center-header">Ngày sinh</span> </th>
                    <th data-options="field:'StrSex',width:'7%',align:'center',halign:'center'"><span class="center-header">Giới Tính</span> </th>
                    <th data-options="field:'StrBeginningDate',width:'9%',align:'center',align:'right',halign:'center'"><span class="center-header">Ngày vào</span></th>
                    <th data-options="field:'StrStopWorkingday',width:'9%',align:'center',halign:'center'"><span class="center-header">Ngày thôi việc</span></th>

                    <th data-options="field:'LyDoNghiViec',width:'19%',align:'center',halign:'center'"><span class="center-header">Lý do nghỉ</span></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="tb" class="menu-ctrl" style="height: 30px; padding: 0.1%; ">
    <select id="cb_option" class="easyui-combobox" name="state" style="height:25px"
            data-options="width:'19%',labelWidth:'43%',editable:false" label="Xem theo:" labelposition="right">
        <option value="14">Hôm nay</option>
        <option value="15">Tuần này</option>
        <option value="16">Tháng này</option>
        <option value="1">Tháng 1</option>
        <option value="2">Tháng 2</option>
        <option value="3">Tháng 3</option>
        <option value="4">Tháng 4</option>
        <option value="5">Tháng 5</option>
        <option value="6">Tháng 6</option>
        <option value="7">Tháng 7</option>
        <option value="8">Tháng 8</option>
        <option value="9">Tháng 9</option>
        <option value="10">Tháng 10</option>
        <option value="11">Tháng 11</option>
        <option value="12">Tháng 12</option>
        <option value="13">Tùy chọn</option>
    </select>

    <input id="dt_from" class="easyui-datebox" data-options="labelWidth:60,formatter:formatterDMY,parser:parserDMY"
           label="Từ ngày" labelposition="left" style="width:160px;height:25px;">
    <input id="dt_to" class="easyui-datebox" data-options="labelWidth:40,formatter:formatterDMY,parser:parserDMY"
           label="đến" labelposition="left" style="width: 160px; height: 25px;">

    <a href="javascript:void(0)" class="easyui-linkbutton action" 
       data-options="iconCls:'icon-reload',plain:true" style="width:100px" onclick="refresh()">Nạp lại</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-restore',plain:true" 
       style="width:100px" onclick="restore()">Khôi phục</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:100px" onclick="exportExcel()"
       class="easyui-linkbutton action" data-options="iconCls:'icon-export',plain:true">Xuất Excel</a>
</div>

@section scripts {
<script src="~/ViewModels/com.format.date.js"></script>
<script src="~/ViewModels/com.view.date.dmy.js"></script>
<script src="~/ViewModels/view.nhanviennghi.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            iniOption();
            IniDataGrid();
            getAll();
        });


</script>

}