﻿@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<div class="easyui-layout" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%;">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', checkOnSelect:false,toolbar: '#tb', rownumbers:true, pagination:false">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'MaNV',align:'center',width:'8%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                    <th data-options="field:'MaCC',align:'center',width:'8%',halign:'center'"><span class="center-header">Mã CC</span> </th>
                    <th data-options="field:'CardID',align:'center',width:'9%',halign:'center'"><span class="center-header">Mã Thẻ</span> </th>
                    <th data-options="field:'Passwod',align:'center',width:'9%',halign:'center',hidden:true"><span class="center-header">Mật mã</span> </th>

                    <th data-options="field:'TenNV',width:'18%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>
                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'StrBirthDate',width:'10%',align:'center',halign:'center'"><span class="center-header">Ngày sinh</span> </th>
                    <th data-options="field:'StrSex',width:'8%',align:'center',halign:'center'"><span class="center-header">Giới Tính</span> </th>
                    <th data-options="field:'StrBeginningDate',width:'10%',align:'center',align:'right',halign:'center'"><span class="center-header">Ngày vào</span></th>
                    @*<th data-options="field:'StrStopWorkingday',width:'12%',align:'center',halign:'center'"><span class="center-header">Ngày thôi việc</span></th>*@

                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="tb" class="menu-ctrl" style="height: 30px; padding: 0.1%; ">
    <a href="javascript:void(0)" class="easyui-linkbutton action" 
       data-options="iconCls:'icon-reload',plain:true" style="width:100px" onclick="refresh()">Nạp lại</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-restore',plain:true" 
       style="width:100px" onclick="restore()">Khôi phục</a>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            IniDataGrid();
            getAll();
        });

        function IniDataGrid() {
            $('#dg-list').datagrid({
                onBeforeSelect: function (index, row) {
                    $('#dg-list').datagrid('clearSelections');
                }
            }).datagrid('keyCtr');
        }
        function refresh() {
            getAll();
        }
        function getAll() {
            parent.setProgress("Vui lòng chờ");
            parent.setProgressMsg("Đang xử lý dữ liệu ...");
            $.ajax({
                url: "/Setting/NhanVienExceptionGet",
                type: "GET",
                //async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (JSON.stringify(data).indexOf('ERROR:') > -1) {
                        alert(data);
                        parent.closeProgress(); return;
                    }

                    $('#dg-list').datagrid({
                        data: data,
                        rowStyler: function (index, row) {
                            if (index % 2 > 0) {
                                return 'background:#f0f0f0';
                            }
                        }
                    });
                    parent.closeProgress();

                },
                error: function (response) {
                    alert("ERROR: " + JSON.stringify(response));
                    parent.closeProgress();
                }
            });
        }
    
       function restore() {
           if (checkDelete()) return;
           var msg = 'Khôi phục những nhân viên. Bạn có chắc chắn muốn khôi phục lại không?';
           $.messager.confirm({
               title: 'Xác nhận', left: '13%', top: '10%', msg: msg, fn: function (r) {
                   if (r) { //Begin (r) =====================================

                       var rows = $('#dg-list').datagrid('getChecked');
                       parent.setProgress("Vui lòng chờ");
                       beginModify("PUT",rows,0);
                     
                   }//End (r)==============================================
               }
           });
       }
       function xacnhan(title, msg) {
           alert(")");
       }
       
       
       function checkDelete() {
           var rows = $('#dg-list').datagrid('getChecked');
           if (rows == null || rows == '') {
               parent.showAlert('Thông báo', 'Chưa chọn nhân viên', 'warning');
               return true;
           }
           return false;
       }

       function beginModify(action, rows, index) {
           if (index >= rows.length) {
               parent.closeProgress();
               return;
           }
           parent.setProgressMsg("Đang xử lý...");
           $.ajax({
               url: "/Setting/NhanVienExceptionModify",
               //async: false,
               type: "POST",
               data: { action: action, MaNV: rows[index].MaNV },
               dataType: "json",
               success: function (data) {
                   if (data.indexOf("ERROR:") > -1) {
                       parent.setProgressMsg("Lỗi: " + data);
                   } else {
                       var rowIndex = $('#dg-list').datagrid("getRowIndex", rows[index]);
                       $('#dg-list').datagrid("deleteRow", rowIndex);
                   }

                   beginModify(action, rows, ++index)
               },
               error: function (response) {
                   beginChangeDep(action, rows, ++index)
               }
           });
       }
    </script>
}