﻿@{
    Layout = "~/Views/Shared/_LayoutDIC.cshtml";
}

<style type="text/css">
    .tree-icon {
        display: none;
    }

    fieldset {
        margin: 1%;
        padding: 0 1% 1%;
        border: 1px solid #95B8E7;
        border-radius: 8px;
        width: 92%;
        /***box-shadow: 0 0 3px #95B8E7; ***/
    }

    legend {
        padding: 2px 1%;
        background: #fff; /* For better legibility against the box-shadow */
        width: 26%;
        border: none;
        font-size: 12px;
        font-weight: bold;
    }

    fieldset label {
        width: 10%;
    }

    .headerCls {
        text-align: center;
    }
</style>

<div class="easyui-layout" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%; ">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%" 
               data-options="border:false,iconCls: 'icon-edit', checkOnSelect:false,toolbar: '#tb', rownumbers:true, pagination:true">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th field="ck" checkbox="true"></th>
                    <th data-options="field:'StudentID',align:'center',width:'8%',halign:'center'"><span class="center-header">StudentID</span>  </th>

                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'Name',align:'center',width:'8%',halign:'center'"><span class="center-header">Name</span> </th>
                    <th data-options="field:'Age',align:'center',width:'9%',halign:'center'"><span class="center-header">Age</span> </th>
                    <th data-options="field:'Address',align:'center',width:'9%',halign:'center'"><span class="center-header">Address</span> </th>
                    <th data-options="field:'PhoneNumber',width:'18%',halign:'center'"><span class="center-header">PhoneNumber</span> </th>
                    <th data-options="field:'Email',width:'20%',halign:'center'"><span class="center-header">Email</span> </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div id="tb" class="menu-ctrl" style="height: 30px; padding: 0.1%; ">
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" style="width:80px" onclick="refresh()">Refresh</a>
    <a data-options="plain:false">|</a>

    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-add',plain:true" onclick="add()">Add</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-edit',plain:true" onclick="edit()">Edit</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-cross',plain:true" onclick="removeIt()">Remove</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:70px"
       data-options="iconCls:'icon-data-import',plain:true" onclick="importExcel()">Import</a>
    <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:70px"
       data-options="iconCls:'icon-export',plain:true" onclick="exportExcel()">Export</a>

    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:100px"
       class="easyui-menubutton action" data-options="menu:'#mm-menu',iconCls:'icon-layout',plain:true">Menu</a>

    @*<a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:80px"
           data-options="iconCls:'icon-download',plain:true" onclick="downloadTemplate();">Tải mẫu</a>
        <a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:120px"
           data-options="plain:true,iconCls:'icon-replace'" onclick="changeDep()">Chuyển bộ phận</a>
        <a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:120px"
           data-options="plain:true,iconCls:'icon-replace'" onclick="ExceptionIt()">Ngoại lệ</a>*@


    <input class="easyui-searchbox" style=""
           data-options="searcher:searcher,prompt:'ID,Name,Age...'" />
</div>

<div id="mm-search" style="width:120px">
    <div data-options="name:'MaNV'">Mã nhân viên</div>
    <div data-options="name:'TenNV'">Tên nhân viên</div>
</div>
<div id="mm-menu" style="width:150px;">
    <div data-options="iconCls:'icon-download'" onclick="downloadTemplate();">Tải mẫu</div>
    <div class="menu-sep"></div>
    <div data-options="iconCls:'icon-replace'" onclick="changeDep()">Chuyển bộ phận</div>
    <div class="menu-sep"></div>
    <div onclick="DangKyNghi()">Cho nghỉ việc</div>
    <div class="menu-sep"></div>
    <div onclick="ExceptionIt();">Ngoại lệ</div>
    <div class="menu-sep"></div>    
</div>

<div id="context-menu" class="easyui-menu" style="width:12%">
    <div onclick="edit()" data-options="iconCls:'icon-edit'">Sửa</div>
    <div onclick="append()" data-options="iconCls:'icon-add'">Thêm mới</div>
    <div class="menu-sep"></div>
    <div onclick="removeIt()" data-options="iconCls:'icon-cross'">Xóa</div>
    <div class="menu-sep"></div>
    <div onclick="refresh()" data-options="iconCls:'icon-reload'">Nạp lại</div>
    <div class="menu-sep"></div>
    <div onclick="changeDep()">Chuyển bộ phận</div>
    <div class="menu-sep"></div>
    <div onclick="DangKyNghi()">Cho nghỉ việc</div>
    <div onclick="ExceptionIt()">Ngoại lệ</div>
</div>

<div id="frm-nhanvien" class="easyui-window" title="Nhân viên"
     data-options="iconCls:'icon-setting',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
     style="width:500px;height:320px;padding:1%;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:true" style="padding-left:1%;">
            <fieldset>
                <legend>Thông tin sinh viên</legend>
                <div style="margin: 0 0 0 0.5%">
                    <input id="txtStudentID" class="easyui-textbox easyui-validatebox"
                           data-options="required:true,width:'400px',labelWidth:'100px',missingMessage:'Mã sinh viên không được để trống'"
                           label="ID:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txtName" class="easyui-textbox" data-options="width:'400px',labelWidth:'100px'" label="Name:" labelposition="left" />
                    
                </div>
                <div style="margin: 1% 0 0 0.5%">
                    <input id="txtAge" class="easyui-textbox" data-options="width:'150px',labelWidth:'100px'" label="Age:" labelposition="left" />
                    <input id="txtPhoneNumber" class="easyui-textbox" data-options="width:'247px',labelWidth:'100px'" label="PhoneNumber:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txtEmail" class="easyui-textbox" data-options="width:'400px',labelWidth:'100px'" label="Email:" labelposition="left" />
                </div>

                <div style="margin: 1% 0 0 0.5%">
                    <input id="txtAddress" class="easyui-textbox" data-options="width:'400px',labelWidth:'100px'" label="Address:" labelposition="left" />
                </div>
                
            </fieldset>
        </div>

        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="save()" style="width:80px">Save</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeFormNV()" style="width:80px">Close</a>
        </div>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" enctype="multipart/form-data" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:10px">
            <input id="fileE" class="easyui-filebox" name="file" label="Chọn file excel" labelposition="top" style="width:300px" />
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="importUser()" style="width:90px">Import</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Đóng</a>
</div>

<div id="dlg-changedep" class="easyui-dialog" style="width:460px" closed="true" buttons="#dlg-buttons-changedep">
    <form id="frm-changedep" novalidate style="margin:0;padding:2px 8px">
        <div style="margin-bottom:3px">
            <input id="txt_ChangedDate" name="ChangedDate" class="easyui-datebox"
                   data-options="width:'90%',labelWidth:'50%',formatter:myformatterDMY,parser:myparserDMY" label="Ngày chuyển" labelposition="left" />
        </div>
        <div style="margin-bottom:1%">
            <input id="cb-chuyenbophan" class="easyui-combotree" label="Chuyển sang bộ phận" labelposition="left"
                   data-options="width:'90%',labelWidth:'50%'" value="" />
        </div>
    </form>
</div>
<div id="dlg-buttons-changedep">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="ok()" style="width:90px">Chuyển</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="closeForm()" style="width:90px">Đóng</a>
</div>

@*Đăng ký nghỉ*@
<div id="dlg-dangkynghi" class="easyui-dialog" style="width:460px" closed="true" buttons="#dlg-buttons-dangkynghi">
    <form id="frm-dangkynghi" novalidate style="margin:0;padding:2px 8px">
        <div style="margin-bottom:3px;margin-top:2px">
            <input name="MaNV" class="easyui-textbox "
                   data-options="width:'80%',labelWidth:'38%',editable:false"
                   label="Mã nhân viên:" labelposition="left" />
        </div>
        <div style="margin-bottom:1%">
            <input name="TenNV" class="easyui-textbox "
                   data-options="width:'80%',labelWidth:'38%',editable:false"
                   label="Tên nhân viên:" labelposition="left" />
        </div>

        <div style="margin-bottom:1%">
            <input name="DepName" class="easyui-textbox "
                   data-options="width:'80%',labelWidth:'38%',editable:false"
                   label="Bộ phận làm việc:" labelposition="left" />
        </div>
        <div style="margin-bottom:1%">
            <input name="NgayNghi" class="easyui-datebox" data-options="width:'80%',labelWidth:'38%',formatter:formatterDMY,parser:parserDMY"
                   label="Ngày nghỉ việc" labelposition="left" />
        </div>
        <div style="margin-bottom:3px; margin-top:3%">
            <input name="LyDoNghi" class="easyui-textbox" label="Lý do nghỉ việc:" labelposition="top" multiline="true" value=""
                   style="width:100%;height:120px">
        </div>
    </form>
</div>
<div id="dlg-buttons-dangkynghi">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="ChoNghiViec()" style="width:90px">Lưu</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="CloseDangKyNghi()" style="width:90px">Đóng</a>
</div>

@section scripts {
    @*<script src="~/ViewModels/utils.js"></script>*@
    <script src="~/ViewModels/com.format.date.js"></script>
    <script src="~/Scripts/serializeObjects.js"></script>
    <script src="~/Scripts/view.thongtincanhan.js"></script>
}
<script type="text/javascript">
    


</script>



