﻿@{
    Layout = "~/Views/Shared/_LayoutMCC.cshtml";
}

<div class="easyui-layout" data-options="border:false" style="width:100%;min-height:100%;padding:0.1%;" onselectstart="return false">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', checkOnSelect:false,toolbar: '#tb', rownumbers:true, pagination:false">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    @*<th field="ck" checkbox="true"></th>*@
                    <th data-options="field:'Id',width:1,halign:'center',hidden:true"><span class="center-header">Id</span> </th>
                    <th data-options="field:'MaNV',align:'center',width:'10%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                    <th data-options="field:'TenNV',width:150,halign:'center'"><span class="center-header">Tên nhân viên</span> </th>

                    <th data-options="field:'StrThu',width:50,align:'center',halign:'center'"><span class="center-header">Thứ</span> </th>
                    <th data-options="field:'StrWorkingDay',width:'12%',align:'center',halign:'center'"><span class="center-header">Ngày</span> </th>
                    <th data-options="field:'Shift',width:90,align:'center',halign:'center'"><span class="center-header">Ca làm</span> </th>

                    <th data-options="field:'TimeIn',width:60,align:'center',halign:'center'"><span class="center-header">Giờ đến</span> </th>
                    <th data-options="field:'TimeOut',width:60,align:'center',halign:'center'"><span class="center-header">Giờ về</span> </th>


                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    <th data-options="field:'TotalHours',width:'5%',align:'center',halign:'center'"><span class="center-header">Giờ</span> </th>
                    <th data-options="field:'TotalTimeHM',width:'5%',align:'center',halign:'center'"><span class="center-header">Công</span> </th>
                    @*<th data-options="field:'LyDoVang',width:'9%',align:'center',halign:'center'"><span class="center-header">Lý do</span> </th>*@
                    <th data-options="field:'StrCongK',width:55,align:'center',halign:'center',formatter:formatOTX"><span class="center-header">Công K</span> </th>
                    <th data-options="field:'OTX',width:55,align:'center',halign:'center',formatter:formatOTX"><span class="center-header">Giờ TC</span> </th>
                    <th data-options="field:'LateTime',width:60,align:'center',halign:'center'"><span class="center-header">Đi muộn</span> </th>
                    <th data-options="field:'EarlyTime',width:60,align:'center',halign:'center'"><span class="center-header">Về sớm</span> </th>
                </tr>
            </thead>

        </table>
    </div>


    <div data-options="headerCls:'headerCls',region:'east',split:true,hideCollapsedContent:false" title="CHỌN PHÒNG BAN" style="width:25%;" onselectstart="return false">
        <div class="easyui-layout" data-options="fit:true" style="overflow:hidden;">
            <div data-options="region:'north',border:false" style="overflow:hidden; padding: 1.5%;">
                <div style="margin-bottom:1%">
                    <input id="cb-mabophan" class="easyui-combotree" data-options="width:'98%'" value="" />
                </div>
            </div>
            <div data-options="region:'center',border:false" style="overflow: hidden;">
                <table id="dg-nhanvien" class="easyui-datagrid" style="width:100%;height:100%"
                       data-options="border:false,iconCls: 'icon-edit', rownumbers:true,singleSelect:false,checkOnSelect:false">
                    <thead>
                        <tr>
                            <th field="ck" checkbox="true"></th>
                            <th data-options="field:'Id',width:1,halign:'center',hidden:true"><span class="center-header">Id</span> </th>
                            <th data-options="field:'MaNV',align:'center',width:'40%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                            <th data-options="field:'TenNV',width:'50%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="tb" class="menu-ctrl" style="height:30px;padding:0.1%">
    <select id="cb_option" class="easyui-combobox" name="state" style="height:25px"
            data-options="width:'19%',labelWidth:'43%',editable:false" label="Xem theo:" labelposition="right">
        <option value="14">Hôm nay</option>
        <option value="15">Tuần này</option>
        <option value="16">Tháng này</option>
        <option value="1">Tháng 1</option>
        <option value="2">Tháng 2</option>
        <option value="3">Tháng 3</option>
        <option value="4">Tháng 4</option>
        <option value="5">Tháng 5</option>
        <option value="6">Tháng 6</option>
        <option value="7">Tháng 7</option>
        <option value="8">Tháng 8</option>
        <option value="9">Tháng 9</option>
        <option value="10">Tháng 10</option>
        <option value="11">Tháng 11</option>
        <option value="12">Tháng 12</option>
        <option value="13">Tùy chọn</option>

    </select>
    <input id="dt_from" class="easyui-datebox" data-options="labelWidth:60,formatter:formatterDMY,parser:parserDMY"
           label="Từ ngày" labelposition="left" style="width:19%;height:25px;">
    <input id="dt_to" class="easyui-datebox" data-options="labelWidth:40,formatter:formatterDMY,parser:parserDMY"
           label="đến" labelposition="left" style="width: 16%; height: 25px;">

    <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" onclick="refresh()">Xem</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:100px" onclick="tinhCong();"
       class="easyui-linkbutton action" data-options="iconCls:'icon-calc',plain:true">Tính công</a>

    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:100px"
       class="easyui-menubutton action" data-options="menu:'#mm-report',iconCls:'icon-export',plain:true">Báo cáo</a>
</div>

<div id="mm-report" style="width:150px;">
    <div onclick="exportKhogChamCong();">Không chấm</div>
    <div onclick="exportChiTietNgay();">Chi tiết vào ra</div>
    <div onclick="exportDiMuonVS();">Đi muộn về sớm</div>
    <div class="menu-sep"></div>
    <div onclick="exportChiTietVaoRa();">Chi tiết tháng</div>
    @*<div>Tổng hợp</div>
    <div class="menu-sep"></div>*@
</div>

<style type="text/css">
    .tree-icon {
        display: none;
    }
    .headerCls{text-align:center;}
</style>

@section scripts {
<script src="~/ViewModels/ClientSide.js"></script>
<script src="~/ViewModels/com.format.date.js"></script>
<script src="~/ViewModels/view.chitiet.vaora.js"></script>
<script src="~/Scripts/ntbsoft.report.1.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setDisable(true);
            iniOption();
            IniDataGrid();
            iniGridNhanVien();
            iniComboboxTree();
            getBoPhan();
        });

        
        
    </script>
}


