﻿@{
    Layout = "~/Views/Shared/_LayoutMCC.cshtml";
}


<div class="easyui-layout" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%;overflow:hidden">
    <div data-options="region:'center',border:false" style="overflow: hidden;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="  iconCls: 'icon-edit', singleSelect: true,toolbar: '#toolbar', rownumbers:true, pagination:false ">
            <thead id="t1">
                <tr>
                    <th data-options="field:'TuPhut',width:100,halign:'center'"><span class="center-header">Từ phút</span> </th>

                    <th data-options="field:'DenPhut',width:100,align:'center',halign:'center'"><span class="center-header">Đến phút</span> </th>
                    <th data-options="field:'LamTron',width:100,align:'center',halign:'center'"><span class="center-header">Làm tròn</span> </th>

                </tr>
            </thead>
        </table>
    </div>

    <div data-options="region:'south',border:false" style="height:60%">
        <div style="">
            <fieldset>
                <legend>Thời gian tối thiểu giữa 2 lần VÀO - RA</legend>
                <div style="">
                    <input id="txt_SoPhutGiuaHaiLan" class="easyui-numberbox "
                           data-options="labelWidth:'35%',labelAlign:'left',label:'(phút)',labelPosition:'after'"
                           value="" style="width:30%;text-align:right" />
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div id="toolbar" class="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="addNew()">Thêm</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="edit()">Sửa</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="save()">Lưu</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="removeIt()">Xóa</a>
</div>


<div id="dlg" class="easyui-dialog" style="width:400px" closed="true" buttons="#dlg-buttons">
    <form id="fm" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">Thông tin chi tiết</div>
        <div style="margin-bottom:10px">
            <input name="TuPhut" class="easyui-numberbox" required="true" label="Từ phút:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="DenPhut" class="easyui-numberbox" required="true" label="Đến phút:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="LamTron" class="easyui-numberbox" required="true" label="Làm tròn:" style="width:100%">
        </div>
       
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="ok()" style="width:90px">OK</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="closeForm()" style="width:90px">Cancel</a>
</div>

<style type="text/css">
    fieldset {
        margin: 0.5%;
        padding: 0 1% 1%;
        border: 1px solid #95B8E7;
        border-radius: 8px;
        width: 98%;
        /***box-shadow: 0 0 3px #95B8E7; ***/
    }

    legend {
        padding: 2px 1%;
        background: #fff; /* For better legibility against the box-shadow */
        width: 25%;
        border: none;
        font-size: 12px;
        font-weight: bold;
    }

    fieldset label {
        width: 10%;
    }
</style>
@section scripts {
    <script>
        var quytacInfo = null;
        $(document).ready(function () {
            getAll();
        });
        function addNew() {
            $('#dg-list').datagrid('clearSelections');
            $('#dlg').dialog({ title: 'Têm mới', modal: true, left: '14%',top:'1%' });
            $('#dlg').dialog('open');
            $('#fm').form('clear');
            
        }
        function edit() {
            var row = $('#dg-list').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog({ title: 'Cập nhật', modal: true, left: '14%', top: '1%' });
                $('#dlg').dialog('open');
                $('#fm').form('load', row);
            }
        }

        function removeIt() {
            var row = $('#dg-list').datagrid('getSelected');
            if (row == null) return;

            $.messager.confirm({
                title: 'Xác nhận',
                msg: 'Xác nhận xóa',
                left: '17%', top: '12%',
                fn: function (r) {
                    if (r) { //Begin (r) =====================================

                        $.ajax({
                            url: '/MCC/QuyTacChamCongDelete?Id='+row.Id,
                            type: "POST",
                            dataType: "json",
                            //contentType: "application/text; charset=utf-8",
                            success: function (data) {
                                parent.showMessager("Infomation", "Dữ liệu đã được xóa!");

                                var index = $('#dg-list').datagrid('getRowIndex', row);
                                $('#dg-list').datagrid('deleteRow', index);
                            },
                            error: function (response) {
                                alert("Error: " + JSON.stringify(response));
                            }
                        });

                    }//End (r)==============================================
                }
            });
        }

        function save() {
            var Item = {};
            Item.SoPhutGiuaHaiLan = getSoPhutGiuaHaiLan();
            Item.QuyTacLamTron = $('#dg-list').datagrid('getRows');
            $.ajax({
                url: '/MCC/QuyTacChamCongSave',
                type: "POST",
                data: JSON.stringify(Item),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    parent.showMessager("Infomation", "Lưu thành công!");
                },
                error: function (response) {
                    // alert("Error: " + response.responseText);
                   
                }
            });
        }

        function ok() {
            var isAddNew = false;
            var item = $('#fm').serializeObject();
            var row = {};
            var row = $('#dg-list').datagrid('getSelected');
            var index = 0;
            if (row == null) { row = {}; isAddNew = true; }

            row.TuPhut = item.TuPhut;
            row.DenPhut = item.DenPhut;
            row.LamTron = item.LamTron;
            if (!isAddNew) {
                index = $('#dg-list').datagrid('getRowIndex', row);
                $('#dg-list').datagrid('updateRow', { index: index, row: { TuPhut: item.TuPhut, DenPhut: item.DenPhut } });
            } else {
                var rows = $('#dg-list').datagrid('getRows');
                if (rows != null) {
                    $('#dg-list').datagrid('insertRow', { index: rows.length, row: { TuPhut: item.TuPhut, DenPhut: item.DenPhut } });

                }
            }
            $('#dg-list').datagrid('refreshRow', index);
            closeForm();
           
            //$('#fm').form('submit', {
            //    onSubmit: function () {
                   
            //        //return $(this).form('validate');
            //        return true;
            //    },
            //    success: function (result) {
            //        closeForm();
            //    }
            //});

        }

        function closeForm() {
            
            $('#dlg').dialog('close');
        }

        function getAll() {
            $.ajax({
                url: "/MCC/QuyTacChamCongGet",
                type: "GET",
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (JSON.stringify(data).indexOf('ERROR:') > -1) {
                        alert(data); return;
                    }
                    quytacInfo = data;
                    setSoPhutGiuaHaiLan(data.SoPhutGiuaHaiLan);
                    //alert(data.SoPhutGiuaHaiLan);
                    $('#dg-list').datagrid({
                        data: data.QuyTacLamTron,
                        rowStyler: function (index, row) {
                            if (index % 2 > 0) {
                                return 'background:#f0f0f0';
                            }
                        }
                    }).datagrid('keyCtr');

                },
                error: function (response) {
                    alert(JSON.stringify(response));
                    //window.location.href = "/Login.aspx";
                }
            });
        }
        function setSoPhutGiuaHaiLan(value) {
            $('#txt_SoPhutGiuaHaiLan').numberbox('setValue', value);
        }
        function getSoPhutGiuaHaiLan() {
            return $('#txt_SoPhutGiuaHaiLan').numberbox('getValue');
        }

        
    </script>
}