﻿@{
    Layout = "~/Views/Shared/_LayoutMCC.cshtml";
}


<div class="easyui-panel" data-options="border:false,fit:true" style="width:100%;min-height:100%;padding:0.1%;overflow:hidden">
    <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
           data-options="  iconCls: 'icon-edit', singleSelect: true,toolbar: '#tb', rownumbers:true, pagination:false ">
        <thead id="t1">
            <tr>
                <th data-options="field:'TerminalID',align:'center',width:'7%',halign:'center'"><span class="center-header">Số máy</span>  </th>
                <th data-options="field:'Name',width:'20%',halign:'center'"><span class="center-header">Tên máy</span> </th>

                <th data-options="field:'Connection',width:'8%',align:'center',halign:'center'"><span class="center-header">Kiểu kết nối</span> </th>
                <th data-options="field:'IpAddress',width:'12%',align:'center',halign:'center'"><span class="center-header">IP/COM</span> </th>
                <th data-options="field:'Port',width:'6%',align:'right',halign:'center'"><span class="center-header">Cổng</span> </th>

                <th data-options="field:'BaudRate',width:'8%',align:'right',halign:'center'"><span class="center-header">Tốc độ COM</span></th>
                <th data-options="field:'ActiveKey',width:'20%',align:'center',halign:'center'"><span class="center-header">Số đăng ký</span></th>

                <th data-options="field:'StrStatus',width:'8%',align:'center',halign:'center'"><span class="center-header">Trạng thái<br /> kết nối</span></th>
            </tr>
        </thead>
    </table>

    <div id="tb" class="menu-ctrl" style="height:30px">
        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-connect',plain:true" style="width:100px" onclick="connectTest()">Kết nối thử</a>
        <a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-connect',plain:true" style="width:100px" onclick="connectTestAll()">Kết nối All</a>
        <a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-connect',plain:true" style="width:120px" onclick="synzTimeAll()">Đồng bộ giờ All</a>
        <a data-options="plain:false">|</a>

        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-setting',plain:true" style="width:100px" onclick="configShow()">Thiết lập</a>
        <a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-user-dels',plain:true" style="width:103px" onclick="showReg();">Đăng ký</a>
        <a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-reload',plain:true" onclick="refresh()">Nạp lại</a>
        <a data-options="plain:false">|</a>

        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-add',plain:true" onclick="addForm()">Thêm</a>
        <a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-edit',plain:true" onclick="editForm()">Sửa</a>
        <a data-options="plain:false">|</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" data-options="iconCls:'icon-remove',plain:true" onclick="removeIt()">Xóa</a>
        <a href="javascript:void(0)" class="easyui-linkbutton action" style="width:100px"
           data-options="iconCls:'icon-help',plain:true" onclick="help()">Hướng dẫn</a>
    </div>
</div>

<div id="frm-terminal" class="easyui-window" title="Edit Form"
     data-options="iconCls:'icon-property',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
     style="width:45%;height:65%;padding:5px;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:true" style="padding-left:2%;">
            <div style="margin:1% 0 0.5% 0">
                <input id="txt_maso" class="easyui-textbox" data-options="labelWidth:'35%'"
                       label="Mã số:" labelposition="left" value="" style="width:95%" />
            </div>
            <div style="margin-bottom:0.5%">
                <input id="txt_name" class="easyui-textbox " data-options="labelWidth:'35%'"
                       label="Tên máy:" labelposition="left" value="" style="width:95%" />
            </div>

            <fieldset>
                <legend>Kiểu kết nối</legend>
                <div style="margin: 1% 0 0 3%">
                    <input id="chk_com" type="radio" name="type_connect" />
                    <label for="chk_com">COM</label>

                    <input id="txt_com" class="easyui-textbox radio com" data-options="width:'15%'" />
                    <select id="cb_com" class="easyui-combobox radio com" name="state"
                            data-options="width:'65%',labelWidth:'40%',editable:false" label="Baud Rate:" labelposition="right">
                        <option value="b_9600">9600</option>
                        <option value="b_19200">19200</option>
                        <option value="b_38400">38400</option>
                        <option value="b_115200">115200</option>
                    </select>
                </div>
                <div style="margin: 1% 0 0 3%">
                    <input id="chk_lan" type="radio" name="type_connect">
                    <label for="_LAN">LAN</label>
                    <input id="txt_lan" class="easyui-textbox radio lan" data-options="width:'50%'" />

                    <input id="txt_lan_port" class="easyui-numberbox radio lan" value="4370"
                           style="text-align:right" data-options="width:'30%',labelWidth:'40%'" label="Port:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 3%">
                    <input id="chk_host" type="radio" name="type_connect">
                    <label for="chk_host">HOST</label>

                    <input id="txt_host" class="easyui-textbox radio host" data-options="width:'50%'"  />
                    <input id="txt_host_port" class="easyui-numberbox radio host" value="4370"
                           style="text-align:right" data-options="width:'30%',labelWidth:'40%'" label="Port:" labelposition="left" />

                </div>
            </fieldset>


        </div>
        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="save();" style="width:80px">Lưu</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="closeForm()" style="width:80px">Đóng</a>
        </div>
    </div>
</div>


<div id="frm-config" class="easyui-window" title="Thiết lập"
     data-options="iconCls:'icon-setting',modal:true,closed:true,maximizable:false,minimizable:false,collapsible:false"
     style="width:45%;height:90%;padding:1%;">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'center',border:true" style="padding-left:1%;">
            <fieldset>
                <legend>Thông tin chung</legend>
                <div style="margin: 0 0 0 0.5%">
                    <input id="txt_serialnumber" class="easyui-textbox" data-options="disabled:true,width:'90%',labelWidth:'30%'" label="Serial number:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txt_Firmware" class="easyui-textbox" data-options="disabled:true,width:'90%',labelWidth:'30%'" label="Firmware:" labelposition="left" />
                </div>
            </fieldset>

            <fieldset>
                <legend>Thống kê</legend>
                <div style="margin: 0 0 0 0.5%">
                    <input id="txt_countAdmin" class="easyui-textbox" data-options="disabled:true,width:'90%',labelWidth:'30%'" label="Quản trị:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txt_CountUser" class="easyui-textbox" data-options="disabled:true,width:'90%',labelWidth:'30%'" label="Người dùng:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txt_SoBanGhi" class="easyui-textbox" data-options="disabled:true,width:'90%',labelWidth:'30%'" label="Số bản ghi:" labelposition="left" />
                </div>
            </fieldset>

            <fieldset>
                <legend>Thiết lập</legend>
                <div style="margin: 0 0 0 0.5%">
                    <input id="txt_config_ip" class="easyui-textbox" data-options="width:'90%',labelWidth:'30%'" label="IP Address:" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <input id="txt_config_date" class="easyui-datebox" data-options="width:'70%',labelWidth:'38.5%',formatter:myformatterDMY,parser:myparserDMY" label="Thời gian:" labelposition="left" />
                    <input id="txt_config_time" class="easyui-timespinner" data-options="showSeconds:true,width:'19%'" labelposition="left" />
                </div>
                <div style="margin:1% 0 0 0.5%">
                    <select id="cb_config_format" class="easyui-combobox" name="state"
                            data-options="width:'65%',labelWidth:'40%',editable:false" label="Định dạng:" labelposition="right">
                        <option value="0">YY-MM-DD</option>
                        <option value="1">YY/MM/DD</option>
                        <option value="2">YY.MM.DD</option>
                        <option value="3">MM-DD-YY</option>
                        <option value="4">MM/DD/YY</option>
                        <option value="5">MM.DD.YY</option>

                        <option value="5">DD-MM-YY</option>
                        <option value="6">DD/MM/YY</option>
                        <option value="7">DD.MM.YY</option>
                        <option value="8">DD.MM.YY</option>

                        <option value="9">YYYYMMDD</option>
                    </select>
                </div>
            </fieldset>
        </div>

        <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
            @*<a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="" style="width:80px">Đồng bộ</a>*@
            <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="save();" style="width:80px">Lưu</a>
            <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="configClose()" style="width:80px">Đóng</a>
        </div>
    </div>
</div>

<div id="dlg-dangky" class="easyui-dialog" style="width:460px" closed="true" buttons="#dlg-buttons">
    <form id="fm" novalidate style="margin:0;padding:2px 8px">
        @*<div style="margin-bottom:10px;font-size:14px;border-bottom:1px solid #ccc">Thông tin đăng ký bản quyền máy chấm công</div>*@
        <div style="margin:2%">
            <input name="SerialNumber" class="easyui-textbox" data-options="labelWidth:'25%',readonly:true"
                   label="Số Seri:" labelposition="left" style="width: 97%; height:24px" />
        </div>
        <div style="margin:2%">
            <input id="txt-UserCode" name="UserCode" class="easyui-textbox" data-options="labelWidth:'25%',readonly:true"
                   label="User Code:" labelposition="left" style="width: 97%; height:24px" />
        </div>

        <div style="margin:2%">
            <input id="txt-ActiveKey" name="ActiveKey" class="easyui-textbox" data-options="labelWidth:'25%',disabled:IsActived()"
                   label="Activation Key:" labelposition="left"  style="width: 97%; height:24px" />
        </div>
        <div style="visibility:hidden">
            <input name="TerminalID" class="easyui-textbox" data-options="width:1,labelWidth:1" />
        </div>
    </form>
</div>

<div id="dlg-buttons">
    <a id="bt-IsActived" href="javascript:void(0)" class="easyui-linkbutton c6" iconcls="icon-ok" onclick="Registation()" style="width:100px">Đăng ký</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="closeDangKy()" style="width:90px">Đóng</a>
</div>

@*=================================================================================================================*@
<style type="text/css">
    fieldset {
        margin: 1%;
        padding: 0 1% 1%;
        border: 1px solid #95B8E7;
        border-radius: 8px;
        width: 92%;
        /***box-shadow: 0 0 3px #95B8E7; ***/
    }

    legend {
        padding: 2px 1%;
        background: #fff; /* For better legibility against the box-shadow */
        width: 26%;
        border: none;
        font-size: 12px;
        font-weight: bold;
    }

    fieldset label {
        width: 10%;
    }
</style>

<script type="text/javascript">


    $(document).ready(function () {
        setDisabledAll();
        setEditMaSo(true);
        
        $("input[type='radio']") // select the radio by its id
        .change(function () { // bind a function to the change event
            if ($(this).is(":checked")) { // check if the radio is checked
                setDisabledAll();
                var id = $(this).attr("id");
                if (id == 'chk_com')
                    setCheckCOM(false);
                else if (id == 'chk_lan')
                    setCheckLAN(false);
                else if (id == 'chk_host')
                    setCheckHOST(false)
            }
        });
        getAll();
        iniDate();
    });

    function refresh() {
        getAll();
    }
    function setDisabledAll() {
        $(".radio").textbox({ disabled: true });
    }
    function setCheckCOM(disabled) {
        $(".com").textbox({ disabled: disabled });
        $("#chk_com").prop("checked", !disabled);
    }
    function setCheckLAN(disabled) {
        $(".lan").textbox({ disabled: disabled });
        $("#chk_lan").prop("checked", !disabled);
    }
    function setCheckHOST(disabled) {
        $(".host").textbox({ disabled: false });
        $("#chk_host").prop("checked", !disabled);
    }

    function getAll() {
        $.ajax({
            url: "/MCC/GetTerminal",
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                
                $('#dg-list').datagrid({
                    data: data,
                    rowStyler: function (index, row) {
                        if (index % 2 > 0) {
                            return 'background:#f0f0f0';
                        }
                    }
                }).datagrid('keyCtr');

            },
            error: function (response) {
                alert(JSON.stringify(response));
                //window.location.href = "/Login.aspx";
            }
        });
    }

    function addForm() {
        setEditMaSo(false);
        resetUI();
        $('#dg-list').datagrid("unselectAll");

        $("#frm-terminal").window({ title: 'Thêm mới máy chấm công', left: '15%' });
        $("#frm-terminal").window("open");
    }
    function editForm() {
        resetUI();
        var row = $('#dg-list').datagrid("getSelected");
        if (row == null || row == '') {
            alert("Chọn máy để chỉnh sửa!");
            return;
        }
        setEditMaSo(true);

        $("#txt_maso").numberbox('setValue', row.TerminalID);
        $("#txt_name").textbox('setValue', row.Name);
        if (row.CommType == 1) {
            setCheckCOM(false);
            $("#txt_com").textbox('setValue', row.IpAddress);
            $('#cb_com').combo('setText', row.BaudRate);
        } else if (row.CommType == 2) {
            setCheckLAN(false);
            $("#txt_lan").textbox('setValue', row.IpAddress);
            $("#txt_lan_port").numberbox('setValue', row.Port);
        } else if (row.CommType == 3) {
            setCheckHOST(false);
            $("#txt_host_port").numberbox('setValue', row.Port);
        }

        $("#frm-terminal").window({ title: 'Chỉnh sửa thông tin máy chấm công', left: '15%' });
        $("#frm-terminal").window("open");
    }

    function setEditMaSo(disabled) {
        $("#txt_maso").numberbox({ disabled: disabled });
    }

    function resetUI() {
        setDisabledAll();
        $("input[type='radio']").removeAttr("checked");
        $("#txt_maso").numberbox('setValue', 0);
        $("#txt_name").textbox('setValue', '');

        $("#txt_lan").textbox('setValue', '');
        $('#txt_host').textbox('setValue', '');

    }

    function closeForm() {
        /*** Đóng form Property ***/
        $("#frm-terminal").window("close");
    }

    function save() {
        var isEdit = true;
        //var kq = $("input[type='radio']:selected").is(':checked');
        var chk_id = $("input[type='radio']:checked").attr('id');
        if (chk_id == null) {
            alert("Chưa chọn kiểu kết nối");
            return;
        }

        var row = $('#dg-list').datagrid("getSelected");
        if (row == null) {
            row = {};
            isEdit = false;

        }
        row.BaudRate = 0;
        if (chk_id == 'chk_com') {
            row.CommType = 1;
            row.IpAddress = $('#txt_com').textbox('getValue');
            row.BaudRate = $('#cb_com').combo('getText');
        }
        else if (chk_id == 'chk_lan') {
            row.CommType = 2;
            row.IpAddress = $('#txt_lan').textbox('getValue');
            row.Port = $("#txt_lan_port").numberbox('getValue');
        }
        else if (chk_id == 'chk_host') {
            row.CommType = 3;
            row.IpAddress = $('#txt_host').textbox('getValue');
            row.Port = $("#txt_host_port").numberbox('getValue');
        }
        row.TerminalID = $("#txt_maso").numberbox('getValue');
        row.Name = $("#txt_name").textbox('getValue');

        //alert(isEdit);
        //return;
        if (isEdit) Update(row);
        else Insert(row);

    }

    function Update(row) {
        $.ajax({
            url: '/MCC/TerminalUpdate',
            type: "POST",
            data: JSON.stringify(row),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "OK") {
                    closeForm();
                    getAll();
                    return;
                }
                alert(data);
            },
            error: function (response) {
                alert(JSON.stringify(response));
            }
        });
    }

    function Insert(row) {
        $.ajax({
            url: '/MCC/TerminalInsert',
            type: "POST",
            data: JSON.stringify(row),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "OK") {
                    closeForm();
                    getAll();
                    return;
                }
                alert(data);
            },
            error: function (response) {
                alert(JSON.stringify(response));
            }
        });
    }

    //  url: "/Setting/BacThoDelete?id=" + row.MaBacTho,
    function removeIt() {
        var row = $("#dg-list").datagrid("getSelected");
        if (row == null || row == '') { alert("Chọn máy để xóa!"); return; }

        $.messager.confirm('Xác nhận', 'Bạn có chắc xóa máy "' + row.TerminalID + '" chứ?', function (r) {
            if (r) { //Begin (r) =====================================
                $.ajax({
                    url: '/MCC/TerminalDelete?id=' + row.TerminalID,
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data == "OK") {
                            var rowIndex = $('#dg-list').datagrid("getRowIndex", row);
                            $('#dg-list').datagrid("deleteRow", rowIndex);
                            return;
                        }
                        alert(data);
                    },
                    error: function (response) {
                        alert(JSON.stringify(response));
                    }
                });

            }//End (r)==============================================
        });
    }

    function connectTest() {
        var rows = $('#dg-list').datagrid('getSelections');
        if (rows == null || rows == "") {
            parent.showMessager('ERROR', 'Chưa chọn máy chấm công để kết nối!')
            return;
        }
        parent.setProgress("Vui lòng chờ");
        connectTestAjax(rows, 0);
    }

    function connectTestAll() {
        var rows = $('#dg-list').datagrid('getRows');
        if (rows == null || rows == "") return;

        parent.setProgress("Vui lòng chờ");
        connectTestAjax(rows, 0);
    }

    function connectTestAjax(rows, rowIndex) {
        if (rowIndex >= rows.length) {
            parent.closeProgress();
            return;
        }
        //setProgress(rows[rowIndex].TerminalID);
        parent.setProgressMsg("Đang kết nối " + rows[rowIndex].Name + "...");
        $.ajax({
            url: '/MCC/TerminalTestConnect?id=' + rows[rowIndex].TerminalID,
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == "OK" || data == 'Fail') {
                    var rowIndex1 = $('#dg-list').datagrid("getRowIndex", rows[rowIndex]);
                    $('#dg-list').datagrid("updateRow", {
                        index: rowIndex1,
                        row: { StrStatus: data }
                    });
                    parent.setProgressMsg("Kết nối máy " + rows[rowIndex].Name + ": " + data);
                } else
                    parent.setProgressMsg("Kết nối máy " + rows[rowIndex].Name + ": " + data);
                //1.5(giây) sau sẽ kết nối tiếp
                setTimeout(function () {
                    connectTestAjax(rows, ++rowIndex);
                }, 1500);
                
            },
            error: function (response) {
                connectTestAjax(rows, ++rowIndex);
                alert(JSON.stringify(response));
            }
        });
    }

    function setProgress(id) {
        var win = $.messager.progress({
            title: 'Vui lòng chờ', left: '17%', top: '12%'
            //,msg: 'Đang gọi máy...'
            //,interval:500
            //,callback: fade
        });
        var bar = $.messager.progress('bar');
        bar.progressbar({ text: 'Đang gọi máy ' + id + '...' });
    }

    function setTextProgress(msg) {
        var bar = $.messager.progress('bar');
        bar.progressbar({ text: msg });
    }

    function closeProgress() {
        setTimeout(function () {
            $.messager.progress('close');
        }, 700)
    }

    function progressMonitor() {
        fade();
    }

    function fade() {
        $.messager.show({
            title: 'My Title',
            msg: 'Message never be closed.',
            timeout: 0,
            showType: 'fade'
        });
    }

    function closeProgress2() {
        setTimeout(function () {
            $.messager.progress('close');
            $("#frm-config").window({ title: 'Thiết lập', left: '15%' });
            $("#frm-config").window("open");
        }, 700)
    }

    function configShow() {
        var row = $("#dg-list").datagrid("getSelected");
        if (row == null || row=='') {
            alert("Chọn máy để thiết lập!");
            return;
        }

        setProgress(row.TerminalID)
        getTerminalInfo();
        iniDate();
        //setTextProgress("Kết nối máy " + row.TerminalID + ": " + data);
    }

    function configClose() {
        $("#frm-config").window("close");
    }

    function iniDate() {
        var _date = myformatterDMY(new Date());
        var _time = formatHHmmss(new Date());
        //alert(_time);
        $('#txt_config_date').datebox('setValue', _date);
        $('#txt_config_time').timespinner('setValue', _time);

    }

    function getTerminalInfo(){
        var row = $("#dg-list").datagrid("getSelected");
        if (row == null) return;

        $.ajax({
            url: '/MCC/TerminalGetInfo?id=' + row.TerminalID,
            type: "GET",
            //async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                
                var item = $.parseJSON(data);
                $('#txt_serialnumber').textbox('setValue', item.SerialNumber);
                $('#txt_Firmware').textbox('setValue', item.FirmwareVersion);
                $('#txt_config_ip').textbox('setValue', item.DeviceIP);
                $('#txt_countAdmin').textbox('setValue', item.CountAdmin);
                $('#txt_CountUser').textbox('setValue', item.CountUser);
                $('#txt_SoBanGhi').textbox('setValue', item.SoBanGhi);

                setTextProgress("Kết nối máy " + row.TerminalID + ": OK");
                closeProgress2();
            },
            error: function (response) {
                closeProgress2();
                alert(JSON.stringify(response));
            }
        });
    }

    function showReg() {
        var row = $("#dg-list").datagrid("getSelected");
        if (row == null) return;
        parent.setProgress("Vui lòng chờ");
        parent.setProgressMsg("Đang kết nối " + row.Name + "...");
        $.ajax({
            url: '/MCC/DangKyBanQuyen?id=' + row.TerminalID,
            type: "GET",
            //async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                parent.closeProgress();
                $('#fm').form('clear');
                $('#fm').form('load', data);
                if (data.IsActived) {
                    $("#txt-ActiveKey").textbox('disable');
                    $('#bt-IsActived').linkbutton({ text: 'Đã đăng ký', disabled: true });
                }
                else {
                    $("#txt-ActiveKey").textbox('enable');
                    $('#bt-IsActived').linkbutton({ text: 'Đăng ký', disabled: false });
                }
                
                $('#dlg-dangky').dialog({ title: 'Đăng ký máy chấm công', modal: true, left: '14%', top: '1%' });
                $('#dlg-dangky').dialog('open');
            },
            error: function (response) {
                parent.closeProgress();
                alert(JSON.stringify(response));
            }
        });
      
    }

    function closeDangKy() {
        $('#dlg-dangky').dialog('close');
    }
    function Registation() {
        var Item = $('#fm').serializeObject();

        $.ajax({
            type: "POST",
            url: '/MCC/TerminalActive',
            data: { item: JSON.stringify(Item) },
            success: function (data) {
                if (data == 'OK') {
                    $("#txt-ActiveKey").textbox('disable');
                    $('#bt-IsActived').linkbutton({ text: 'Đã đăng ký', disabled: true });
                } else
                    alert('Activation Key không đúng. Vui lòng liên hệ với nhà cung cấp để được hỗ trợ');
            },
            error: function (msg) {
                alert("Error calling Ajax");
            }
        });
    }
    function IsActived() {
        var actived = '@(ViewBag.IsActived)';
        if (actived == 'False')
            return false;
        return true;
    }

    // đồng bộ giờ tất cả các máy chấm công
    function synzTimeAll() {
        var rows = $('#dg-list').datagrid('getRows');
        if (rows == null || rows == "") return;

        $.messager.confirm('Xác nhận', 'Bạn có chắc đồng bộ giờ tất cả các máy chấm công?', function (r) {
            if (r) { //Begin (r) =====================================
                parent.setProgress("Vui lòng chờ");
                synzTimeAjax(rows, 0);
            }//End (r)==============================================
        });
    }

    function synzTimeAjax(rows, rowIndex) {
        if (rowIndex >= rows.length) {
            parent.closeProgress();
            return;
        }
        parent.setProgressMsg("Đang đồng bộ giờ " + rows[rowIndex].Name + "...");
        $.ajax({
            url: '/MCC/TerminalSynzTime?id=' + rows[rowIndex].TerminalID,
            type: "GET",
            //async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data != "OK")
                {
                    //alert(data);
                }
                synzTimeAjax(rows, ++rowIndex)
            },
            error: function (response) {
                synzTimeAjax(rows, ++rowIndex)
            }
        });

    }
</script>