﻿@{
    Layout = "~/Views/Shared/_LayoutMCC.cshtml";
}

<div class="easyui-layout" data-options="border:false" style="width:100%;min-height:100%;padding:0.1%;" onselectstart="return false">
    <div data-options="region:'center'" style="overflow:hidden;border-left:none;border-top:none;">
        <table id="dg-list" class="easyui-datagrid" style="width:100%;height:100%"
               data-options="border:false,iconCls: 'icon-edit', singleSelect: true,toolbar: '#tb', rownumbers:true, pagination:false">
            <thead id="t0" data-options="frozen:true">
                <tr>
                    <th data-options="field:'Id',width:1,halign:'center',hidden:true"><span class="center-header">Id</span> </th>
                    <th data-options="field:'MaNV',align:'center',width:'10%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                    <th data-options="field:'TenNV',width:'20%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>

                    <th data-options="field:'BeginningDate',width:'11%',align:'center',halign:'center'"><span class="center-header">Ngày vào</span> </th>

                </tr>
            </thead>
            <thead id="t1">
                <tr>
                    @{
                        string ki = string.Empty;
                        for (int i = 1; i <= 31; i++)
                        {
                            ki = "K" + i;
                            <th data-options="field:'@ki',width:'4%',align:'center',halign:'center'"><span class="center-header">@i</span> </th>
                        }
                    } 
                </tr>
            </thead>

        </table>
    </div>


    <div data-options="headerCls:'headerCls',region:'east',split:true,hideCollapsedContent:false" title="CHỌN PHÒNG BAN" style="width:25%;" onselectstart="return false">
        <div class="easyui-layout" data-options="fit:true" style="overflow:hidden;">
            <div data-options="region:'north',border:false" style="overflow:hidden; padding: 1.5%;">
                <div style="margin-bottom:1%">
                    <input id="cb-mabophan" class="easyui-combotree" data-options="width:'98%'" value="" />
                </div>
            </div>
            <div data-options="region:'center',border:false" style="overflow: hidden;">
                <table id="dg-nhanvien" class="easyui-datagrid" style="width:100%;height:100%"
                       data-options="border:false,iconCls: 'icon-edit', rownumbers:true,singleSelect:true">
                    <thead>
                        <tr>
                            <th data-options="field:'MaNV',align:'center',width:'40%',halign:'center'"><span class="center-header">Mã NV</span>  </th>
                            <th data-options="field:'TenNV',width:'50%',halign:'center'"><span class="center-header">Tên nhân viên</span> </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<div id="tb" class="menu-ctrl" style="height:30px;padding:0.1%">
    <select id="cb_Years" class="easyui-combobox" name="state" style="height:25px"
            data-options="width:'16%',labelWidth:'50%',editable:false" label="Chọn năm" labelposition="right">
        @{
            for (int i = 2015; i <= 2030; i++)
            {
                if (i == DateTime.Now.Year)
                {
                    <option value="@i" selected>@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }
            }
        }
    </select>
    <select id="cb_option" class="easyui-combobox" name="state" style="height:25px"
            data-options="width:'12%',labelWidth:'10%',editable:false" label="-" labelposition="right">
        @*<option value="14">Hôm nay</option>
    <option value="15">Tuần này</option>*@
            <option value="@DateTime.Now.Month" selected>Tháng này</option>
        <option value="1">Tháng 1</option>
        <option value="2">Tháng 2</option>
        <option value="3">Tháng 3</option>
        <option value="4">Tháng 4</option>
        <option value="5">Tháng 5</option>
        <option value="6">Tháng 6</option>
        <option value="7">Tháng 7</option>
        <option value="8">Tháng 8</option>
        <option value="9">Tháng 9</option>
        <option value="10">Tháng 10</option>
        <option value="11">Tháng 11</option>
        <option value="12">Tháng 12</option>
    </select>
    <input id="dt_from" class="easyui-datebox" data-options="labelWidth:60,formatter:myformatterDMY,parser:myparserDMY"
           label="Từ ngày" labelposition="left" style="width:18%;height:25px;">
    <input id="dt_to" class="easyui-datebox" data-options="labelWidth:40,formatter:myformatterDMY,parser:myparserDMY"
           label="đến" labelposition="left" style="width: 16%; height: 25px;">

    <a href="javascript:void(0)" class="easyui-linkbutton action"
       data-options="iconCls:'icon-reload',plain:true" onclick="refresh()">Xem</a>

    @*<a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:150px" class="easyui-linkbutton action"
       data-options="iconCls:'icon-export',plain:true" onclick="reportMonthly()">Báo cáo chấm công tháng</a>
    <a data-options="plain:false">|</a>
    <a href="javascript:void(0)" style="width:100px" class="easyui-linkbutton action"
       data-options="iconCls:'icon-export',plain:true" onclick="rptAttendanceYear()">Báo cáo tổng hợp công nghỉ</a>*@

    <select id="cb_report" class="easyui-combobox" name="state" style="height:25px"
            data-options="width:'18%',labelWidth:'30%',editable:false" label="Loại" labelposition="right"> 
        <option value="1">Báo cáo chấm công tháng</option>
        <option value="2">Báo cáo tổng hợp công nghỉ</option>
    </select>
    <a href="javascript:void(0)" class="easyui-linkbutton action"
       data-options="iconCls:'icon-export',plain:true" onclick="Excel()">Excel</a>
</div>



<style type="text/css">
    .tree-icon {
        display: none;
    }

    .headerCls {
        text-align: center;
    }
</style>

@section scripts {
    <script>
        $(document).ready(function () {
            setDisable(true);
            iniOption();
            IniDataGrid();
            iniComboboxTree();
            getBoPhan();
            getOption($('#cb_option').combobox('getValue'));
        });

        function refresh() {
            loadDataDetail();
        }

        function IniDataGrid() {
            $('#dg-nhanvien').datagrid({
                onSelect: gridLog_onSelect
            });

        }

        function gridLog_onSelect(index, row) {
            loadDataDetail();
        }

        /*** THIẾT LẬP CHỌN NGÀY GIỜ=================================================================================== ***/
        function getDateFrom() {
            return $('#dt_from').datebox('getValue');
        }

        function getDateTo() {
            return $('#dt_to').datebox('getValue');
        }

        function iniOption() {
            $('#cb_option').combobox({
                onChange: function (newValue, oldValue) {
                    if (newValue != 13) {
                        setDisable(true);
                        getOption(newValue);
                    } else {
                        setDisable(false);
                        getOption(20);
                    }

                }
            });
        }

        function setDisable(disabled) {
            $('#dt_from').datebox({ disabled: disabled });
            $('#dt_to').datebox({ disabled: disabled });
        }

        function getOption(type) {
            $.ajax({
                url: "/MCC/GetDateOption?type=" + type,
                type: "GET",
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#dt_from').datebox('setValue', data[0]);
                    $('#dt_to').datebox('setValue', data[1]);
                },
                error: function (response) {
                    alert("ERROR: " + JSON.stringify(response));
                }
            });
        }

        //================================================================================================================

        function iniComboboxTree() {
            $('#cb-mabophan').combotree({
                lines: true,
                onChange: depOnChange
            });
        }

        function depOnChange(newValue, oldValue) {
            clearSelections();
            loadDataPaging(1, 10000, newValue);
            loadDataDetail();

        }

        function getBoPhan() {
            $.ajax({
                url: '/Setting/GetTreeNodeDep',
                type: "GET",
                dataType: "json",
                //async: false,
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#cb-mabophan').combotree('loadData', data);
                    $('#cb-mabophan').combotree('setValue', 'DEP.ROOT');

                },
                error: function (response) {
                    //alert(response.d);
                    //window.location.href = "/Login.aspx";
                }
            });
        } //end function getBoPhan()=======================================================================================================================

        function loadDataPaging(selectedPage, pageSize, DepId) {

            var newUrl = "/Setting/NhanVienGetByDep?selectedPage=" + selectedPage + "&pageSize=" + pageSize + "&DepId=" + DepId + "&TenNV=" + "";
            $.ajax({
                url: newUrl,
                type: "GET",
                timeout: 60000,
                async: false,
                //dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    try {
                        if (data.indexOf('ERROR:') > -1) {
                            alert(data); return;
                        }
                        var item = $.parseJSON(data);
                        $('#dg-nhanvien').datagrid('loadData', item.Tag);

                    } catch (e) {
                        alert("EEROR_loadDataPaging: " + e.message);
                    }

                }, error: function (response) { alert(JSON.stringify(response)); }
            });
        }

        /*** LẤY THÔNG TIN CHI TIẾT VÀO - RA ==================================================================***/
        function getDepId() {
            var t = $('#cb-mabophan').combotree("tree");
            var tNode = t.tree('getSelected');
            if (tNode == null) return "0";
            return tNode.id;
        }

        function getMaNV() {
            var row = $('#dg-nhanvien').datagrid("getSelected");
            if (row == null || row == '') return "";
            return row.MaNV;
        }

        function clearSelections() {
            $('#dg-nhanvien').datagrid("clearSelections");
        }

        function getYear() {
            var row = $('#cb_Years').combobox('getValue');
            return row;
        }

        function getMonth() {
            var row = $('#cb_option').combobox('getValue');
            return row;
        }

        function loadDataDetail() {

            parent.setProgress("Vui lòng chờ");
            parent.setProgressMsg("Đang xử lý dữ liệu ...");
            var newUrl = "/MCC/ReportMonthly?year=" + getYear() + "&month=" + getMonth() + "&DepId=" + getDepId() + "&MaNV=" + getMaNV();
            //alert(newUrl);
            $.ajax({
                url: newUrl,
                type: "GET",
                timeout: 60000,
                //async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    try {
                        if (data.indexOf('ERROR:') > -1) {
                            alert(data);
                            parent.closeProgress(); return;
                        }
                        $('#dg-list').datagrid('loadData', data);
                    } catch (e) {
                        alert("EEROR_loadDataPaging: " + e.message);
                    }
                    parent.closeProgress();

                }, error: function (response) {
                    alert("ERROR: " + JSON.stringify(response));
                    parent.closeProgress();
                }
            });
        }

        function reportMonthly() {
            var newUrl = "/MCC/ExcelMonthly?year=" + getYear() + "&month=" + getMonth() + "&DepId=" + getDepId() + "&MaNV=" + getMaNV();
            var msg = "Báo cáo chấm công tháng. Bạn có muốn xuất báo cáo không?";
            parent.$.messager.confirm({
                title: 'Xác nhận', msg: msg, fn: function (r) {
                    if (r) { //Begin (r) =====================================

                        var ajax = new XMLHttpRequest();
                        ajax.open("POST", newUrl, true);
                        ajax.responseType = "blob";
                        ajax.onreadystatechange = function () {
                            if (this.readyState == 4) {
                                var blob = new Blob([this.response], { type: "application/vnd.ms-excel" });
                                var downloadUrl = URL.createObjectURL(blob);
                                var a = document.createElement("a");
                                a.href = downloadUrl;
                                a.download = "bc_chamcong_thang.xlsx";
                                document.body.appendChild(a);
                                a.click();
                            }
                        };

                        ajax.send(null);

                    }//End (r)==============================================
                }
            }); //End $.messager.confirm
        }

        function rptAttendanceYear() {
            var newUrl = "/MCC/ExcelAttendanceYear?year=" + getYear() + "&month=" + getMonth() + "&DepId=" + getDepId() + "&MaNV=" + getMaNV();
            var msg = "Báo cáo tổng hợp công nghỉ. Bạn có muốn xuất báo cáo không?";
            parent.$.messager.confirm({
                title: 'Xác nhận', msg: msg, fn: function (r) {
                    if (r) { //Begin (r) =====================================

                        var ajax = new XMLHttpRequest();
                        ajax.open("POST", newUrl, true);
                        ajax.responseType = "blob";
                        ajax.onreadystatechange = function () {
                            if (this.readyState == 4) {
                                var blob = new Blob([this.response], { type: "application/vnd.ms-excel" });
                                var downloadUrl = URL.createObjectURL(blob);
                                var a = document.createElement("a");
                                a.href = downloadUrl;
                                a.download = "bc_tong_hop_cong_nghi.xlsx";
                                document.body.appendChild(a);
                                a.click();
                            }
                        };

                        ajax.send(null);

                    }//End (r)==============================================
                }
            }); //End $.messager.confirm
        }

        function Excel() {
            var ecl = $('#cb_report').combobox('getValue');
            if (ecl == 1) {
                reportMonthly();
            }
            if (ecl == 2) {
                rptAttendanceYear();
            }
        }
    </script>
}
